<div id="graderoom-modal" tabindex="-1" aria-hidden="true"
     class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
    <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-800">
            <!-- Modal header -->
            <div class="flex justify-between items-start p-4 rounded-t border-b dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    Link Graderoom
                    <img class=" w-6 h-6 mr-2 -ml-1 bg-gray-800" src="/static/images/logos/graderoom.png"
                         alt="Rounded avatar" style="
                                    box-shadow: 6px 6px 20px 7px #333232;
                                    background: linear-gradient(45deg, #222222, #333232);
                                    display: inline-block;
                                    padding: 15px;
                                    height: 90px;
                                    width: 90px;
                                    border-radius: 10px;
                                    margin: 5px 5px 5px 30px;
                                    ">
                    <span style=" margin: 15px; font-size: 1.5em; "><i class="material-icons">close</i></span>
                    <img class=" w-6 h-6 mr-2 -ml-1" src="/static/images/NebulusSpecialLogo.png"
                         alt="Rounded avatar" style="
                                    display: inline-block;
                                    margin: 5px;
                                    height: 90px;
                                    width: 90px;
                                    border-radius: 10px;
                                    background: lightgray;
                                    box-shadow: 6px 6px 20px 7px #a204ff4d;
                                    ">
                </h3>
                <button type="button"
                        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
                        onclick="closeModal('graderoom-modal')">
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                              clip-rule="evenodd">
                        </path>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6">
                <div class="mb-6">
                    <label for="graderoom-key"
                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                        Graderoom Pairing Key
                    </label>
                    <input maxlength="6" type="text" id="graderoom-key"
                           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                           placeholder="s8xje8" required>
                    <p id="graderoom-pair-fail" style="color: red" class="mt-2"><br></p>
                </div>
                <div style="height:200px; overflow-y: scroll;">
                    <h1 class="text-black dark:text-white text-3xl text-center">Frequently Asked Questions</h1>
                    <br>
                    <h2 class="text-gray-300 text-xl">What schools does Graderoom Support?</h2>
                    <p class="text-black dark:text-white">Graderoom currently only supports Bellarmine College
                        Preparatory, BASIS Independent Silicon Valley,
                        and Notre Dame High School.</p><br><br>
                    <h2 class="text-gray-300 text-xl">Which version of Graderoom is supported?</h2>
                    <p class="text-black dark:text-white">We currently only support Graderoom's Beta Build.</p>
                    <br><br>
                    <h2 class="text-gray-300 text-xl">Where can I find my pairing key?</h2>
                    <p class="text-black dark:text-white">It's located at
                        <a class="text-sky-500 font-bold hover:underline" href="https://beta.graderoom.me/">https://beta.graderoom.me/</a>.
                        It will generate a key that expires in an hour.
                        Generate a key and place it in the box above.
                    </p><br><br>
                    <h2 class="text-gray-300 text-xl">It's not letting me Generate a Pairing Key.</h2>
                    <p class="text-black dark:text-white">You need at least one sync to be able to generate a key.
                        This verifies you are a real person.</p>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="flex items-center p-6 space-x-2 rounded-b border-t border-gray-200 dark:border-gray-600">
                <button onclick="closeModal('graderoom-modal')" type="button"
                        class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>