<div class="w-1/2 m-auto mt-6 mb-4 p-4 bg-white border rounded-lg shadow-md sm:p-8 dark:bg-gray-800 dark:border-gray-700 text-center">
    <h5 class="mb-4 text-xl font-medium text-gray-500 dark:text-gray-400">Verification Complete</h5>


    <h5 class="mb-4 text-md font-medium text-gray-500 dark:text-gray-400">Thank you for Verifying, you may close this tab now</h5><h5 class="mb-4 text-md font-medium text-gray-500 dark:text-gray-400">We connected
    <span class="font-bold">
            <img src="{{ data[2] }}"
                 style="margin-right:10px;
                        display:inline-block;"
                 class="w-10 h-10 rounded-full">
        {{ data[0] }}</span>
</h5><hr class="m-3 rounded-lg border-gray-500 border-1" style=""><!-- List -->
    <svg aria-hidden="true" class="flex-shrink-0  text-purple-600 dark:text-purple-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" style="
    height: 300px;
    margin: auto;
"><title>Check icon</title><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>



</div>