<div id="key-modal" tabindex="-1"
     class="overflow-y-auto overflow-x-hidden hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full justify-center items-center flex"
     aria-modal="true" role="dialog">
    <div class="relative p-4 h-full md:h-auto" style="width: 35rem">
        <!-- Modal content -->
        <div class="relative bg-gray-50 rounded-lg shadow dark:bg-gray-800">
            <!-- Modal header -->
            <div class="flex justify-between items-start p-4 rounded-t border-b dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white"><span id="key-name">Schoology</span> API
                    Keys
                </h3>
                <button class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm
                     p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
                        onclick="closeModal('key-modal')">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                              clip-rule="evenodd">
                        </path>
                    </svg>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-6 text-gray-500 dark:text-gray-400" style="font-size: 1.1rem">
                <label>
                    API Key:
                    <input disabled id="api-key"
                           class="bg-gray-50 border border-gray-300 text-gray-900 text-xl px-3 py-2 dark:text-white mb-8
                           rounded-lg focus:ring-blue-500 focus:border-blue-500 dark:focus:ring-blue-500 w-full mt-2
                           dark:bg-gray-700 dark:focus:border-blue-500 dark:border-gray-600 dark:placeholder-gray-400">
                </label>
                <label>
                    API Secret:
                    <input disabled id="api-secret"
                           class="bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg px-3 py-2 mt-2
                            focus:ring-blue-500 focus:border-blue-500 dark:focus:ring-blue-500 w-full dark:bg-gray-700
                            dark:focus:border-blue-500 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white">
                </label>
            </div>
            <!-- Modal footer -->
            <div class="flex justify-end mr-6 pb-4">
                <button onclick="closeModal('key-modal')" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4
                 focus:outline-none flex gap-2 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center
                  dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 place-items-center">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>