{% extends "layout.html" %}
{% block main %}
    <style>
    .document{
        background: white;
        height: 230px;
        width: 160px;
        margin:40px;
        /*float:left;*/
        display:inline-block;
    }
    </style>
    {% include "utils/navbar.html" %}
    <div class="flex flex-row">
        {% include "utils/sidebar.html" %}
        <div style="margin-left:64px;">
            <div class="ml-3">
                <h1 class="text-black dark:text-white text-3xl">Templates</h1>
                <div class="document" style="
    text-align: center;
">
                    <div style="margin: auto;padding-top: 30%;font-size: 70px;background: -webkit-linear-gradient(red,#fffcbd);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">
                        +
                    </div>
                </div>

            </div>
            <div class=" ml-3">
                <h1 class="text-black dark:text-white text-3xl">Recent Documents</h1>
                <p class="text-black dark:text-white">No Documents Yet!</p>
            </div>
        </div>
    </div>
{% endblock %}
