{% if not disablesidebar %}
    <style>
        #sidebar_::-webkit-scrollbar {
            display: none;
        }

        #sidebar_ {
            width: 4rem;
            transition: width 0.5s;

            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }

        #sidebar_ .text_nav {
            opacity: 0;
            transition: 0.75s;
            white-space: nowrap;
        }

        #mobile-expand .material-icons {
            transition: 0.5s;
        }

        #sidebar_.expanded .text_nav {
            opacity: 100;
        }

        #sidebar_.expanded {
            width: 13rem;
        }

        #sidebar_.expanded #mobile-expand .material-icons {
            transform: rotate(180deg);
            margin: 0.5rem;
        }

        @media (min-width: 1024px) {
            #sidebar_:hover .text_nav {
                opacity: 100;
            }

            #sidebar_:hover {
                width: 13rem;
            }

            #sidebar_:hover #mobile-expand .material-icons {
                transform: rotate(180deg);
                margin: 0.5rem;
            }
        }
    </style>
    {% if user %}
        <aside id="sidebar_"
               aria-label="Sidebar"
               class="overflow-y-auto z-30 py-4 px-3 backdrop-blur-sm bg-gray-100/50 rounded dark:bg-gray-800/50"
               style=" height: 100% !important; overflow-y: scroll; overflow-x: hidden; position: fixed; ">
            <ul class="space-y-2">
                <li class="block lg:hidden text-gray-600 dark:text-gray-400 whitespace-nowrap h-10 flex items-center"
                    id="mobile-expand">
                    <p class="material-icons text-xl" style="margin: 0 0.5rem">arrow_forward_ios</p>
                    <p class="ml-2 text_nav">Close</p>
                </li>
                <li>
                    <a href="/app"
                       class="flex items-center p-2 text-base font-normal text-gray-600 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                        <p class="dark:text-gray-400 material-icons">home</p>
                        <span class="ml-3 text_nav">App</span>
                    </a>
                </li>
                <li>
                    <a href="/app"
                       class="flex items-center p-2 text-base font-normal text-gray-600 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                        <p class="dark:text-gray-400 material-icons">school</p>
                        <span class="ml-3 text_nav">Courses</span>
                    </a>
                </li>
                <li>
                    <a href="/overview"
                       class="flex items-center p-2 text-base font-normal text-gray-600 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                        <p class="dark:text-gray-400 material-icons">flare</p>
                        <span class="ml-3 text_nav">Overview</span>
                    </a>
                </li>
                <li>
                    <a href="/calendar"
                       class="flex items-center p-2 text-base font-normal text-gray-600 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                        <p class="dark:text-gray-400 material-icons">calendar_month</p>
                        <span class="ml-3 text_nav">Calendar</span>
                    </a>
                </li>
                <li>
                    <a href="/files"
                       class="flex items-center p-2 text-base font-normal text-gray-600 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                        <p class="dark:text-gray-400 material-icons">article</p>
                        <span class="ml-3 text_nav">Files</span>
                    </a>
                </li>
                <li>
                    <div class="relative" id="chat-icon-sidebar">
                        <a href="/chat"
                           class="flex items-center p-2 text-base font-normal text-gray-600 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                            <p class="dark:text-gray-400 material-icons">forum</p>
                            <span class="ml-3 text_nav">Chat</span>
                        </a>
                    </div>
                </li>
                <li>
                    <a href="/chat?email=email"
                       class="flex items-center p-2 text-base font-normal text-gray-600 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                        <p class="dark:text-gray-400 material-icons">email</p>
                        <span class="ml-3 text_nav">Email</span>
                    </a>
                </li>
                <li>
                    <a href="/music"
                       class="flex items-center p-2 text-base font-normal text-gray-600 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                        <p class="dark:text-gray-400 material-icons">music_note</p>
                        <span class="ml-3 text_nav">Music</span>
                    </a>
                </li>
                <li>
                    <a href="/study"
                       class="flex items-center p-2 text-base font-normal text-gray-600 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                        <p class="dark:text-gray-400 material-icons">timer</p>
                        <span class="ml-3 text_nav">Study Timer</span>
                    </a>
                </li>
                <li>
                    <a href="/scheduler"
                       class="flex items-center p-2 text-base font-normal text-gray-600 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                        <p class="dark:text-gray-400 material-icons">history</p>
                        <span class="ml-3 text_nav">Scheduler</span>
                    </a>
                </li>
                <li>
                    <a href="/study-planner"
                       class="flex items-center p-2 text-base font-normal text-gray-600 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                        <p class="dark:text-gray-400 material-icons">menu_book</p>
                        <span class="ml-3 text_nav">Study Planner</span>
                    </a>
                </li>
                <li>
                    <a href="/documents"
                       class="flex items-center p-2 text-base font-normal text-gray-600 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                        <p class="dark:text-gray-400 material-icons">description</p>
                        <span class="ml-3 text_nav">Documents</span>
                    </a>
                </li>
                <li>
                    <a href="/notepad"
                       class="flex items-center p-2 text-base font-normal text-gray-600 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                        <p class="dark:text-gray-400 material-icons">
                            edit
                        </p>
                        <span class="ml-3 text_nav">Notepad</span>
                    </a>
                </li>
                <li>
                    <a href="/planner"
                       class="flex items-center p-2 text-base font-normal text-gray-600 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                        <p class="dark:text-gray-400 material-icons">
                            event_note
                        </p>
                        <span class="ml-3 text_nav">Planner</span>
                    </a>
                </li>
                <li>
                    <a href="/lunch"
                       class="flex items-center p-2 text-base font-normal text-gray-600 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                        <p class="dark:text-gray-400 material-icons">
                            lunch_dining
                        </p>
                        <span class="ml-3 text_nav">Lunch Planner</span>
                    </a>
                </li>
                <li>
                    <a href="/extra-curricular"
                       class="flex items-center p-2 text-base font-normal text-gray-600 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                        <p class="dark:text-gray-400 material-icons">
                            sports_basketball
                        </p>
                        <span class="ml-3 text_nav">Extra-curricular</span>
                    </a>
                </li>
                <li>
                    <a href="/vacation"
                       class="flex items-center p-2 text-base font-normal text-gray-600 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                        <p class="dark:text-gray-400 material-icons">
                            villa
                        </p>
                        <span class="ml-3 text_nav">Vacation Mode</span>
                    </a>
                </li>
                <li>
                    <a href="/upgrade"
                       class="flex items-center p-2 text-base font-normal text-gray-600 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                        <p class="dark:text-gray-400 material-icons">
                            upgrade
                        </p>
                        <span class="ml-3 text_nav">Upgrade</span>
                    </a>
                </li>
                <li>
                    <a href="/blog"
                       class="flex items-center p-2 text-base font-normal text-gray-600 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                        <p class="dark:text-gray-400 material-icons">
                            sms
                        </p>
                        <span class="ml-3 text_nav">Blog</span>
                    </a>
                </li>
                <li>
                    <a href="/support"
                       class="flex items-center p-2 text-base font-normal text-gray-600 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                        <p class="dark:text-gray-400 material-icons">
                            support_agent
                        </p>
                        <span class="ml-3 text_nav">Support</span>
                    </a>
                </li>
            </ul>
        </aside>
    {% endif %}
{% endif %}
<script src="/static/js/utils/sidebar.js"></script>
