run = "git config --global credential.helper store; git config --global credential.helper cache git pull; (python3.10 --version || install-pkg python3.10); python3.10 main.py; pip install spotipy; pip install musixmatch; pip install swspotify; pip install dacite; pip install schoolopy; pip install waitress; pip install graphene_mongo; pip install graphql_server; clear; python3.10 main.py;"