aiohttp
aniso8601
appdirs
async-timeout
attrs
black
certifi
chardet
charset-normalizer
click
dacite
discord.py
dnspython
Flask
Flask-Cors
Flask-GraphQL
fuzzywuzzy
gql
graphene
graphene-mongo
graphql-core
graphql-relay
graphql-server
graphql-server-core
idna
iso8601
itsdangerous
Jinja2
MarkupSafe
mongoengine
multidict
musixmatch
mypy-extensions
oauthlib
pathspec
promise
pymongo
python-dotenv
regex
requests
requests-oauthlib
Rx
schoolopy
singledispatch
six
spotipy
swspotify
termcolor
thefuzz
tomli
typing-extensions
urllib3
waitress
Werkzeug
yarl