{% extends "layout.html" %}
{% block main %}
    <body>
    <div id="signupbody"  autocomplete="off">
        <script type="text/javascript" src="./static/js/signup.js"></script>
        <h1><img src="static/images/logo.png" style="height:3.5em;"></h1>
        <h1>Sign Up for Nebulus</h1>
        <div id="signupinnerbody">
            <form action="#" onsubmit="signUp(); return false;">
                <span class="material-icons-outlined md-36">email</span>
                <input id="email" name="email" type="text" placeholder="Email"><span
                    class="response" style="left:-10px;z-index: 10;"></span><br>

                <span class="material-icons md-36">perm_identity</span>
                <input id="username" name="username" type="text" placeholder="Username"><span
                    class="response"></span><br>

                <span class="material-icons-outlined md-36">lock</span>
                <input id="password" name="password" type="password" placeholder="Password"><span
                    class="response"></span><br>

                <span class="material-icons-outlined md-36">lock</span>
                <input id="confirm" name="password" type="password" placeholder="Confirm Password"><span
                    class="response"></span><br>

                <p id="status"><br></p>

                <input type="submit" id="submit" value="Sign Up!"><br><br>

                <p>Already have an account? <a href="/signin">Log In</a>!</p>
            </form>
        </div>
    </div>
    </body>
{% endblock %}