{% extends "layout.html" %}
{% block main %}
    <body>
      <div id="signupbody"  autocomplete="off">
        <script src='/static/js/signup.js'></script>
        <h1><img class = "logo_" style="height: 200px;margin-left:calc(50% - 140px);margin-right:calc(50% - 160px);" src="static/images/logo.png"></h1>
        <h1 style="font-size:2em;" class="text-gray-900 dark:text-white">Sign Up for Nebulus</h1>
        <div class="bg-gray-300 dark:bg-gray-600" id="signupinnerbody">
          <form onsubmit="signUp(); return false;">
            <div class="mb-6">
              <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Email</label>
              <input type="text" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="you@email.com" required><span class="response" style="float:left;margin-left:-10px;"></span>
              <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Username</label>
              <input type="text" id="username" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="" required><span class="response" style="float:left;margin-left:-10px;"></span>
            </div>
            <div class="mb-6">
              <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Password</label>
              <input type="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required><span class="response" style="float:left;margin-left:-10px;"></span>
               <label for="confirm" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Confirm Password</label>
              <input type="password" id="confirm" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required><span class="response" style="float:left;margin-left:-10px;"></span>
            </div>
            
            <div class="flex items-start mb-6">
              <div class="flex items-center h-5">
                <input id="remember" aria-describedby="remember" type="checkbox" class="w-4 h-4 bg-gray-50 rounded border border-gray-300 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800" required>
              </div>
              <div class="ml-3 text-sm">
                <label for="remember" class="font-medium text-gray-900 dark:text-gray-300">Remember me</label>
              </div>
            </div>
            <p id="status">Please type out your username first and then your password!</p>
            <button id="submit" type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Sign Up</button>
          </form>

            <p>Have an account? <a href="/signin">Log In</a>!</p>
            
        </div>
    </div>
    
    </div>
    </body>
{% endblock %}