{% extends "layout.html" %}
{% block main %}
    <head>
    <script src="/static/js/signin.js"></script>
    </head>
    <body>
    <div id="signupbody">
        <script src='/static/js/signin.js'></script>
        <h1><img class = "logo_"  style="width: 200px; margin-left: calc(50% - 100px);" src="static/images/logo.png"></h1>
        <h1 style="font-size:2em;" class="text-gray-900 dark:text-white">Log in</h1>
        <div class="bg-gray-300 dark:bg-gray-600" id="signupinnerbody">
          <form id='signin_form' action='#' onsubmit='loginUser(); return false'>
            <div class="mb-6">
              <label for="usrname" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Username or Email</label>
              <input type="text" id="usrname" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="you@email.com" required><span class="response" style="float:left;margin-left:-10px;"></span>
            </div>
            <div class="mb-6">
              <label for="psw" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Password</label>
              <input type="password" id="psw" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" required><span class="response" style="float:left;margin-left:-10px;"></span>
            </div>
            <div class="flex items-start mb-6">
              <div class="flex items-center h-5">
                <input id="remember" aria-describedby="remember" type="checkbox" checked="checked" class="w-4 h-4 bg-gray-50 rounded border border-gray-300 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800">
              </div>
              <div class="ml-3 text-sm">
                <label for="remember" class="font-medium text-gray-900 dark:text-gray-300">Remember me</label>
              </div>
            </div>
            <p id="fail" class="text-black dark:text-white">Please type out your username first and then your password!</p>
            <button  id="log_in" type="submit" value="Log in" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Log In</button>
          </form>
            <form id='signin_form2' action='#' onsubmit='loginUser()' style="display:none;">
                <h2>SSO Log In <span class="bg-blue-100 text-blue-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800">Beta</span></h2>
                <label for="selection" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Select your School</label>
                <select id="selection" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" onchange="selectChanged()">
                    <option selected hidden disabled>Select a Organization or School</option>
                    <option>Nebulus Staff</option>
                    <option>Basis Independent Silicon Valley</option>
                    <option>Stratford Schools</option>
                </select>
                <div class="mb-6" style="display: none;" id="typeHere">
                    <label for="schoolInput" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" id="schoolName">Your School/Organization Username</label>
                    <input type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Log In to Your School/Organization" required id="schoolInput">
                </div>
            </form>

            <button onclick="SSO()" type="button" id="sso" class="text-white bg-gray-800 hover:bg-gray-900 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-800 dark:border-gray-700"><span class="material-icons-outlined md-36">key</span> SSO Login</button>

            <p class="text-black dark:text-white">Don't have an account? <a href="/signup">Sign Up</a>!</p>
            <p class="text-black dark:text-white">Are you a Nebulus Staff Member or a student of a School? Use SSO Login!</p>
          
        </div>
    </div>
    </body>
{% endblock %}