<!--Extend with Jinja!-->
{% extends "layout.html" %}
{% block main %}
    {% include "utils/navbar.html" %}
    <div style="text-align: left;
                width: 50%; backdrop-filter: blur(10px);
                border-radius: 30px;
                padding: 50px;
                margin: auto;
                margin-top: 40px;"
         class="dark:bg-gray-800/50 bg-white/50 p-6">
        <br>
        <h1 class="text-black dark:text-white text-7xl"
            style=" background: linear-gradient(to left, #f54242, #f542b6, #8300ff); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-weight: bolder; ">
            Coming Soon
        </h1>
        <span class="font-bold text-xl text-black dark:text-white">This feature/page is coming soon!</span>
        <br>
        <br>
        <a href="/app">
            <button class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-red-400 to-purple-700 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white dark:text-white focus:ring-4 focus:ring-green-200 dark:focus:ring-green-800">
                <span class="relative px-5 py-2.5 rounded-md group-hover:bg-opacity-0">Home</span>
            </button>
        </a>
    </div>
{% endblock %}
