  <!--Extend with Jinja!-->
<script src="https://unpkg.com/flowbite@1.4.5/dist/flowbite.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
{% extends "layout.html" %}
{% block main %}
    {% include "utils/navbar.html" %}

    <style>
        iframe {
            width: 100%;
            height: 84%;
            background-image: url('/static/images/nebulusCats/v3.gif');
            background-size: 15%;
            background-position: 45%;
            background-repeat: no-repeat;
            overflow-x: hidden
        }

        #chat-tab-content {
            margin-top: 1rem;
        }
    </style>
    <div>
    <ul class="flex flex-wrap text-sm font-medium text-center text-gray-500" id="chat-tab" style="margin: 0 auto;">
        <li href="/chat/emails" class="mr-2 border-b-2 border-transparent hover:border-gray-300" id="email-tab"
            data-tabs-target="#email" type="button" role="tab" aria-controls="profile"
            aria-selected="false">
            <a class="inline-flex p-4 rounded-t-lg hover:text-gray-600 dark:hover:text-gray-300 group"
               aria-current="page">
                <svg class="mr-2 w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"></path>
                </svg>
                Email
            </a>
        </li>
        <li class="mr-2 border-b-2 border-transparent hover:border-gray-300" id="group-chat-tab"
            data-tabs-target="#groupchat" type="button" role="tab"
            aria-controls="profile" aria-selected="false">
            <a href="javascript:changePage('dms')" class="inline-flex p-4 rounded-t-lg hover:text-gray-600 dark:hover:text-gray-300 group">
                <svg class="mr-2 w-5 h-5 group-hover:text-gray-500 dark:group-hover:text-gray-300"
                     fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 4a1 1 0 00-2 0v7.268a2 2 0 000 3.464V16a1 1 0 102 0v-1.268a2 2 0 000-3.464V4zM11 4a1 1 0 10-2 0v1.268a2 2 0 000 3.464V16a1 1 0 102 0V8.732a2 2 0 000-3.464V4zM16 3a1 1 0 011 1v7.268a2 2 0 010 3.464V16a1 1 0 11-2 0v-1.268a2 2 0 010-3.464V4a1 1 0 011-1z"></path>
                </svg>
                Private and Group Chats
            </a>
        </li>
        <li href="/chat/communities" class="mr-2 border-b-2 hover:border-gray-300 border-transparent" id="communities-tab"
            data-tabs-target="#communities" type="button" role="tab"
            aria-controls="profile" aria-selected="false">
            <a class="inline-flex p-4 rounded-t-lg hover:text-gray-600 dark:hover:text-gray-300 group">
                <svg class="mr-2 w-5 h-5 group-hover:text-gray-500 dark:group-hover:text-gray-300"
                     fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"></path>
                    <path fill-rule="evenodd"
                          d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z"
                          clip-rule="evenodd"></path>
                </svg>
                Communities
            </a>
        </li>
        <li href="/chat/settings" class="mr-2 border-b-2 border-transparent hover:border-gray-300" id="settings-tab"
            data-tabs-target="#settings" type="button" role="tab"
            aria-controls="profile" aria-selected="false">
            <a class="inline-flex p-4 rounded-t-lg hover:text-gray-600 dark:hover:text-gray-300 group">
                <svg class="mr-2 w-5 h-5 group-hover:text-gray-500 dark:group-hover:text-gray-300"
                     fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"></path>
                    <path fill-rule="evenodd"
                          d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z"
                          clip-rule="evenodd"></path>
                </svg>
                Settings
            </a>
        </li>

    </ul>
    </div>
    <script>
    function changePage(chat_page){
        if(chat_page==='dms'){
            $('#body').load('/chat/dms')
            window.history.pushState({}, null,  `http://${window.location.hostname}:8080/chat/dms`);
        }
    }
    </script>
{% endblock %}
