{% extends "layout.html" %}
{% block main %}
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg h-full mx-4">
        <div class="absolute w-full h-full bg-gray-100/75 dark:bg-gray-800/75 -z-10"></div>
        <table id="table"
               class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-200/75 dark:bg-gray-700/75 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">Inbox</th>
                <th scope="col" class="px-6 py-3"></th>
                <th scope="col" class="px-6 py-3"></th>
                <th scope="col" class="px-6 py-3">
                    <button class="material-icons p-1 rounded-lg hover:bg-gray-200 dark:hover:bg-gray-500"
                            style="vertical-align: bottom; float: right"
                            onclick="window.location.reload(); this.innerHTML = loadingIcon('1.5rem'); this.disabled = 'true'">
                        refresh
                    </button>
                </th>
            </tr>
            </thead>
            <tbody id="tbody"></tbody>
        </table>
    </div>
    <script>
        window.onload = function () {
            loadMoreEmail();
        }

        function loadMoreEmail() {
            let start = $('#table tr').length - 1;
            let request = $.ajax({
                type: "POST",
                url: "/api/v1/internal/get/schoology/messages",
                data: {
                    "start": start
                }
            });
            request.done(function (data) {
                console.log(data);
                let count = start - 1;
                for (let message of data) {
                    let author = message["author"]
                    let dmessage = message["message"]
                    let date = message["updated"].replace(", ", " on ")
                    let subject = message["subject"]
                    let recipients = message["recipients"]
                    let address = `<span data-dropdown-toggle="userDropdown_a${count}" class="hover:underline">${author["name"]}</span> to `
                    let images = "<div class='flex mb-5 -space-x-4'>";
                    let profiles = "";
                    profiles += `
                    <div id="userDropdown_a${count}" class="z-50 bg-white divide-y divide-gray-100 rounded shadow w-80 dark:bg-gray-700 dark:divide-gray-600 rounded-lg block" data-popper-placement="bottom" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(0px, 109.5px, 0px);">
                                <div style="border-radius:10px 10px 0 0; height:60px;background:rgb${author["color"]};">

                                </div>
                                <div class="px-4 py-3 text-xl text-gray-900 dark:text-white" style="border-radius:0 0 10px 10px;">

                                    <div style="text-align: left; margin-left:3px;">
                                        <div style="margin-top:-60px;">
                                            <img style="background:rgb(18,25,38);border-style:solid;border-width:2px; object-fit: cover;" src="https://asset-cdn.schoology.com/system/files/imagecache/profile_reg/pictures/picture-945029648977365ae6414b4e488f19f9_5f2c2665c0759.jpg" alt="Ms. Odell's Profile Picture" class="w-24 h-24 rounded-full border-white dark:border-gray-700">
                                            <span class="absolute w-5 h-5 bg-green-400 border-2 border-white dark:border-gray-700 rounded-full" style="left:90px;top:85px;"></span>
                                        </div>
                                        <div>${author["name"]}</div>

                                            <div class="text-sm text-gray-400">${author["email"]}</div>


                                            <div class="text-sm text-gray-400">User
                                                at ${author["school"]} </div>

                                        <div class="mb-6">
                                            <input type="text" id="msg" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-900 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Message @Ms. Odell" required="">
                                        </div>
                                    </div>
                                </div>

                            </div>`

                    images += `
                 <img data-dropdown-toggle="userDropdown_a${count}" class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800" src="${author["avatar"]}" alt="">
                `;
                    for (let i = 0; i < recipients.length; i++) {
                        address += `<span data-dropdown-toggle="userDropdown${count}_r${i}" class="hover:underline">${recipients[i]["name"]}</span>`
                        if (i !== (recipients.length - 1)) {
                            address += ", "
                        }
                        images += `
                 <img data-dropdown-toggle="userDropdown1_${count}${i}" class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800" src="${recipients[i]["avatar"]}" alt="">
                `;
                        profiles += `
                    <div id="userDropdown${count}_r${i}" class="z-50 bg-white divide-y divide-gray-100 rounded shadow w-80 dark:bg-gray-700 dark:divide-gray-600 rounded-lg block" data-popper-placement="bottom" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(0px, 109.5px, 0px);">
                                <div style="border-radius:10px 10px 0 0; height:60px;background:rgb${recipients[i]["color"]};">

                                </div>
                                <div class="px-4 py-3 text-xl text-gray-900 dark:text-white" style="border-radius:0 0 10px 10px;">

                                    <div style="text-align: left; margin-left:3px;">
                                        <div style="margin-top:-60px;">
                                            <img style="background:rgb(18,25,38);border-style:solid;border-width:2px; object-fit: cover;" src="https://asset-cdn.schoology.com/system/files/imagecache/profile_reg/pictures/picture-945029648977365ae6414b4e488f19f9_5f2c2665c0759.jpg" alt="Ms. Odell's Profile Picture" class="w-24 h-24 rounded-full border-white dark:border-gray-700">
                                            <span class="absolute w-5 h-5 bg-green-400 border-2 border-white dark:border-gray-700 rounded-full" style="left:90px;top:85px;"></span>
                                        </div>
                                        <div>${recipients[i]["name"]}</div>

                                            <div class="text-sm text-gray-400">${recipients[i]["email"]}</div>


                                            <div class="text-sm text-gray-400">User
                                                at ${recipients[i]["school"]} </div>

                                        <div class="mb-6">
                                            <input type="text" id="msg" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-900 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Message @Ms. Odell" required="">
                                        </div>
                                    </div>
                                </div>

                            </div>`

                    }
                    images += "</div>";
                    document.getElementById('tbody').innerHTML += `
            <tr onclick="openEmail(' ${subject}', ' ${dmessage}')" class="bg-white dark:bg-gray-800 border-b  dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                        ${images}
                </th>
                <td class="px-6 py-4">
                        ${address}


                </td>
                <td class="px-6 py-4">
                   ${subject}
                </td>

                <td class="px-6 py-4">
                    ${date}
                </td>

                </tr>`;
                    count += 1;
                }
                loadMoreEmail();

            })

        }
    </script>
    <div id="emailModal" tabindex="-1" aria-hidden="true"
         class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
        <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <!-- Modal header -->
                <div class="flex justify-between items-start p-4 rounded-t border-b dark:border-gray-600">
                    <h3 id="emailName" class="text-xl font-semibold text-gray-900 dark:text-white">
                        Terms of Service
                    </h3>
                    <button type="button"
                            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
                            data-modal-toggle="defaultModal">
                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                  clip-rule="evenodd"></path>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <div class="p-6 space-y-6">
                    <p id="emailBody" class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                        With less than a month to go before the European Union enacts new consumer privacy laws for its
                        citizens, companies around the world are updating their terms of service agreements to comply.
                    </p>
                </div>
                <!-- Modal footer -->
                <div class="flex items-center p-6 space-x-2 rounded-b border-t border-gray-200 dark:border-gray-600">
                    <button data-modal-toggle="defaultModal" type="button"
                            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        I accept
                    </button>
                    <button data-modal-toggle="defaultModal" type="button"
                            class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">
                        Decline
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
