{% extends "layout.html" %}
{% block main %}
    <aside style="float:left;" class="w-64 h-full" aria-label="Sidebar">
        <div class="px-3 py-4 overflow-y-auto rounded bg-gray-100 dark:bg-gray-800 h-full">
            <div style="margin-bottom:10px;" class="flex items-center space-x-4 dark:bg-gray-600 bg-gray-300 dark:hover:bg-gray-700 hover:bg-gray-200 rounded-lg">
                <img style="margin:10px;" class="w-10 h-10 rounded-full" src="https://cdn.discordapp.com/avatars/808435152270917654/a878a29a6dc653493d76b65d2893fc88.webp?size=160" alt="">
                <div class="space-y-1 font-medium dark:text-white">
                    <div>norachai</div>
                    <div class="text-sm text-gray-500 dark:text-gray-400">Comps Studying :c</div>
                </div>
            </div>
            <div style="margin-bottom:10px;" class="flex items-center space-x-4 dark:hover:bg-gray-700 hover:bg-gray-200 rounded-lg">
                <img style="margin:10px;" class="w-10 h-10 rounded-full" src="https://cdn.discordapp.com/avatars/751594192739893298/03a0281d67484e9b1c95205fd5f81c2a.webp?size=64" alt="">
                <div class="space-y-1 font-medium dark:text-white">
                    <div>Coder N</div>
                    <div class="text-sm text-gray-500 dark:text-gray-400">C O D E R N</div>
                </div>
            </div>
        </div>

    </aside>
    <div style="margin-top:20px; margin-left: 20px; float:left;">
        <div style="margin:20px;">
            <div style="margin:2.5px;" class="flex items-center space-x-4">
                <img class="w-10 h-10 rounded-full" src="https://cdn.discordapp.com/avatars/808435152270917654/a878a29a6dc653493d76b65d2893fc88.webp?size=160" alt="">
                <div class="space-y-1 font-medium dark:text-white">
                    <div>norachai</div>
                    <div class="text-sm text-gray-500 dark:text-gray-400">Hello World!</div>
                </div>
            </div>
            <div style="margin:2.5px;" class="flex items-center space-x-4">

                <img class="w-10 h-10 rounded-full" src="https://cdn.discordapp.com/avatars/751594192739893298/03a0281d67484e9b1c95205fd5f81c2a.webp?size=64" alt="">
                <div class="space-y-1 font-medium dark:text-white">
                    <div>Coder N</div>
                    <div class="text-sm text-gray-500 dark:text-gray-400">hi</div>
                </div>
            </div>
            <div style="margin:2.5px;" class="flex items-center space-x-4">
                <img class="w-10 h-10 rounded-full" src="https://cdn.discordapp.com/avatars/808435152270917654/a878a29a6dc653493d76b65d2893fc88.webp?size=160" alt="">
                <div class="space-y-1 font-medium dark:text-white">
                    <div>norachai</div>
                    <div class="text-sm text-gray-500 dark:text-gray-400">Suppp</div>
                    <div class="text-sm text-gray-500 dark:text-gray-400">lemme try multiline lmao</div>
                    <div class="text-sm text-gray-500 dark:text-gray-400">ok</div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}