{% extends "layout.html" %}
{% block main %}
    <aside style="float:left;" class="w-64 h-full" aria-label="Sidebar">
        <div class="px-3 py-4 overflow-y-auto rounded bg-gray-100 dark:bg-gray-800 h-full">
            <div class="uppercase text-lg text-gray-600 cursor-pointer">Private Messages <div style="float:right;"  data-dropdown-toggle="dropdown">+</div></div>
            <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded shadow w-96 dark:bg-gray-700">
                <ul id="dalist" class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefault">
                    <li>
                        <form class="w-72 mx-auto my-auto">
                            <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-gray-300">Search</label>
                            <div class="relative">
                                <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                                    <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
                                </div>
                                <input id="sear" type="search" class="block p-4 pl-10 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Type the Username of User" required>
                                <button type="submit" class="hidden text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
                            </div>
                        </form>
                    </li>

                </ul>
            </div>
            <div style="margin-bottom:10px;" class="flex items-center space-x-4 dark:bg-gray-600 bg-gray-300 dark:hover:bg-gray-700 hover:bg-gray-200 rounded-lg">
                <img style="margin:10px;" class="w-10 h-10 rounded-full" src="https://cdn.discordapp.com/avatars/808435152270917654/a878a29a6dc653493d76b65d2893fc88.webp?size=160" alt="">
                <div class="space-y-1 font-medium dark:text-white">
                    <div>norachai</div>
                    <div class="text-sm text-gray-500 dark:text-gray-400">Comps Studying :c</div>
                </div>
            </div>
            <div style="margin-bottom:10px;" class="flex items-center space-x-4 dark:hover:bg-gray-700 hover:bg-gray-200 rounded-lg">
                <img style="margin:10px;" class="w-10 h-10 rounded-full" src="https://cdn.discordapp.com/avatars/751594192739893298/03a0281d67484e9b1c95205fd5f81c2a.webp?size=64" alt="">
                <div class="space-y-1 font-medium dark:text-white">
                    <div>Coder N</div>
                    <div class="text-sm text-gray-500 dark:text-gray-400">C O D E R N</div>
                </div>
            </div>
        </div>

    </aside>
    <div style="margin-left: 256px; float:left;position: fixed;bottom: 10px;width:calc(100% - 256px);">
        <img style="margin:10px;" class="w-48 h-48 rounded-full" src="https://cdn.discordapp.com/avatars/751594192739893298/03a0281d67484e9b1c95205fd5f81c2a.webp?size=64" alt="">
        <h1 class="text-5xl text-black dark:text-white">Coder N</h1>
        <p class="text-xl text-black dark:text-white">Your chat with <u>@Coder N</u> starts here!</p>
        <br>
        <button style="margin:5px;" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Add Friend</button>
        <button style="margin:5px;" type="button" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Block</button>
        <button style="margin:5px;" type="button" class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Mute</button>

        <div style="margin:20px;display:flex;flex-direction: column-reverse;overflow-y:scroll;">
            <div style="margin:2.5px;" class="flex items-center space-x-4">
                <img class="w-10 h-10 rounded-full" src="https://cdn.discordapp.com/avatars/808435152270917654/a878a29a6dc653493d76b65d2893fc88.webp?size=160" alt="">
                <div class="space-y-1 font-medium dark:text-white">
                    <div>norachai</div>
                    <div class="text-sm text-gray-500 dark:text-gray-400">Hello World!</div>
                </div>
            </div>
            <div style="margin:2.5px;" class="flex items-center space-x-4">

                <img class="w-10 h-10 rounded-full" src="https://cdn.discordapp.com/avatars/751594192739893298/03a0281d67484e9b1c95205fd5f81c2a.webp?size=64" alt="">
                <div class="space-y-1 font-medium dark:text-white">
                    <div>Coder N</div>
                    <div class="text-sm text-gray-500 dark:text-gray-400">hi</div>
                </div>
            </div>
            <div style="margin:2.5px;" class="flex items-center space-x-4">
                <img class="w-10 h-10 rounded-full" src="https://cdn.discordapp.com/avatars/808435152270917654/a878a29a6dc653493d76b65d2893fc88.webp?size=160" alt="">
                <div class="space-y-1 font-medium dark:text-white">
                <div class="space-y-1 font-medium dark:text-white">
                    <div>norachai</div>
                    <div class="text-sm text-gray-500 dark:text-gray-400">Suppp</div>
                    <div class="text-sm text-gray-500 dark:text-gray-400">lemme try multiline lmao</div>
                    <div class="text-sm text-gray-500 dark:text-gray-400">ok</div>
                </div>
            </div>
        </div>
        <div>
            <form style="width:90%;margin:auto;">
                <label for="chat" class="sr-only">Your message</label>
                <div class="flex items-center py-2 px-3 bg-gray-50 rounded-lg dark:bg-gray-700">
                    <button type="button" class="hidden md:block inline-flex justify-center p-2 text-gray-500 rounded-lg cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600">
                        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4 3a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V5a2 2 0 00-2-2H4zm12 12H4l4-8 3 6 2-4 3 6z" clip-rule="evenodd"></path></svg>
                    </button>
                    <button type="button" class="hidden md:block p-2 text-gray-500 rounded-lg cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600">
                        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM7 9a1 1 0 100-2 1 1 0 000 2zm7-1a1 1 0 11-2 0 1 1 0 012 0zm-.464 5.535a1 1 0 10-1.415-1.414 3 3 0 01-4.242 0 1 1 0 00-1.415 1.414 5 5 0 007.072 0z" clip-rule="evenodd"></path></svg>
                    </button>
                    <textarea id="chat" rows="1" class="block mx-4 p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Your message..."></textarea>
                    <button type="submit" class="inline-flex justify-center p-2 text-blue-600 rounded-full cursor-pointer hover:bg-blue-100 dark:text-blue-500 dark:hover:bg-gray-600">
                        <svg class="w-6 h-6 rotate-90" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z"></path></svg>
                    </button>
                </div>
            </form>
        </div>"v2.gif"
    </div>

    </div>
    <script
    //setup before functions
    var typingTimer;                //timer identifier
    var doneTypingInterval = 3000;  //time in ms, 3 seconds for example
    var $input = $('#sear');

    //on keyup, start the countdown
    $input.on('keyup', function () {
        clearTimeout(typingTimer);
        typingTimer = setTimeout(changeSearch, doneTypingInterval);
    });

    //on keydown, clear the countdown
    $input.on('keydown', function () {
        clearTimeout(typingTimer);
    });
    </script>
{% endblock %}