@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0; /* No borders for the image */
    background: white;
    color: black;
    font-family: 'Lato', sans-serif;
}
.dev_identifiers {
    color: black;
}
.dev_images {
    height: 150px;
    border: 5px solid #505050;
}
strong {
    font-weight: 900;
    font-size: 6.25vh;
}

.smaller {
    color: #a8a8a8;
    font-weight: 400;
    font-size: 2.25vh;
}

.smaller2 {
    color: #a8a8a8;
    font-weight: 600;
    font-size: 2.25vh;
}

.medium {
    color: #a8a8a8;
    font-weight: 750;
    font-size: 2.25vh;
}


#homePageBanner,
#mvBanner {
    margin: 0; /* No borders for the image*/
    width: calc(100% - 80px); /*Padding*/
    padding: 40px;
    padding-top: 5px;
    padding-bottom: 200px;
    background: no-repeat center center fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.525), rgba(0, 0, 0, 0.5)),
        url(https://wallpaperaccess.com/full/39608.jpg) !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

#mwBanner {
    padding-top: 90px;
}

#with-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.525), rgba(0, 0, 0, 0.5)),
        url(https://wallpaperaccess.com/full/39608.jpg) !important;
}

.center {
    align-content: center;
    background-color: white;
}

.change-text {
    float: right;
    color: #00d0ff;
    cursor: pointer;
}

.change-text:hover {
    text-decoration: underline;
}

/*CURVED BOTTOM OF DIV
#homePageBanner::before {
  border-radius: 100%;
  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0.525), rgba(0, 0, 0, 0.5)), url(https://wallpaperaccess.com/full/39608.jpg) !important; 
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  right: -200px;
  left: -200px;
  top: -200px;
  content: '';
  bottom: 0;
}*/

button,
.button {
    background: #0084ff;
    color: white;
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.25s;
    padding-left: 40px;
    padding-right: 40px;
    border-style: none;
}

button:hover,
.button:hover {
    background: #003261;
    color: gray;
}

hr {
    height: 1px;
    border-width: 0;
    color: white;
    background-color: white;
    margin: 2px 0;
    width: 100%;
}

nav {
    margin: 0;
    padding: 20px 10px 10px 20px;
    height: 50px;
    /*background: rgba(0,0,0,0.3);*/
    width: 80%;
}

nav a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
}

nav a:hover {
    text-decoration: none;
    color: grey;
}

details {
    cursor: pointer;
}

details div {
    padding: 5px;
    font-size: 1.5vh;
    cursor: pointer;
}

details div:hover {
    background-color: #00a2ff;
}

#signup {
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    border-width: 1px;
    padding: 10px;
}

#signup:hover {
    border-color: grey;
}

.col1,
.col2,
#chatoptions {
    margin: 0; /* No borders for the image*/

    width: calc(100% - 80px); /*Padding*/
    padding: 40px;
    padding-top: 40px;
    padding-bottom: 90px;
    background: white;
    color: black;
}

.col2 {
    background: #eee;
}

#signupbody {
    text-align: center;
    width: 900px;
    height: 600px;
    /*background:black;*/
    margin-left: calc(50% - 450px);
    margin-right: calc(50% - 450px);
    margin-top: 50px;
    margin-bottom: 50px;
}

#signupinnerbody {
    background: white;
    border-style:solid;
    border-width:1px;
    border-color:#d6d6d6;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 10px;
}

button {
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
}

a {
    color: #00a2ff;
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    color: #0268a3;
}
progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;

    width: 250px;
    height: 20px;
}

input[type='file'],
#labelfile,
progress[value]::-webkit-progress-value {
    color: white;
    padding: 20px;
    margin: 10px;
    background: no-repeat center center fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.525), rgba(0, 0, 0, 0.5)),
        url(https://wallpaperaccess.com/full/39608.jpg) !important;
    background-size: 100% auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
    border-style: none;
    border-radius: 10px;
    font-size: 1.5vw;
    font-family: 'Lato', sans-serif;
}

.dashboardCourse {
    background-color: #000000;
    color: white;
    padding: 10px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 10px;
    margin: 10px;
    width: 300px;
    float: left;
}

.dashboardCourse:hover {
    color: gray;
    border-color: gray;
}

.white {
    background: white;
    height: 100%;
    width: 100%;
}

details summary::-webkit-details-marker {
    display: none;
}

details summary {
    list-style: none;
}

#side_bar {
    width: 200px;
    height: 100%;
    float: left !important;
    background-color: rgb(15 23 42);
}

#course-body {
    width: calc(100% - 220px);
    height: 100%;
    float: left !important;
    padding-left: 20px;
    background-color: rgb(17 24 39);
}

.course_option {
    border-style: block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    border: 1px solid transparent;
    border-width: 1px 0 1px 1px;
    padding-left: 5px;
}

.course_option:hover,
.course_option_selected,
.course_option_selected:hover {
    background: rgb(24, 24, 24);
    border-radius: 10px 0 0 10px;
}

.course-title {
    border-style: block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-color: transparent;
    font-size: 1.4em;
}

.material-icons.md-18,
.material-icons-outlined.md-18 {
    font-size: 18px;
    vertical-align: middle;
}
.material-icons.md-24,
.material-icons-outlined.md-24 {
    font-size: 24px;
    vertical-align: middle;
}
.material-icons.md-36,
.material-icons-outlined.md-36 {
    font-size: 36px;
    vertical-align: middle;
}
.material-icons.md-48,
.material-icons-outlined.md-48 {
    font-size: 48px;
    vertical-align: middle;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(200, 200, 200);
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 2px;
    background-color: rgb(100, 100, 100);
}
