@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{ 
  margin: 0; /* No borders for the image */
  background:#212121;
  color:white;
  font-family: 'Lexend Deca', sans-serif;
}
.dev_identifiers{
  color: black;
}
.dev_images {
  height: 150px;
  border: 5px solid #505050
}
strong{
  font-weight:900;
  font-size:2em;
}
.smaller{
  color:#a8a8a8;
  font-weight:200;
  font-size:1.3em;
}

.smaller2{
  color:#a8a8a8;
  font-weight:600;
  font-size:1.3em;
}

.medium{
  color: #a8a8a8;
  font-weight: 750;
  font-size: 1.5em;
}

#account input, #account input:hover, #account input:focus {
  background: transparent;
  border: transparent;
  color: white;
}

#homePageBanner{
  margin:0px; /* No borders for the image*/
  width: calc(100% - 80px); /*Padding*/
  padding:40px;
  padding-top:5px;
  padding-bottom:200px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.525), rgba(0, 0, 0, 0.5)), url(https://wallpaperaccess.com/full/39608.jpg) !important; 
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   overflow: hidden;
}
#mwBanner{
  margin:0px; /* No borders for the image*/
  width: calc(100% - 80px); /*Padding*/
  padding:40px;
  padding-top:90px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.525), rgba(0, 0, 0, 0.5)), url(https://wallpapercave.com/wp/wp2742875.jpg) !important; 
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   overflow: hidden;
}

#with-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.525), rgba(0, 0, 0, 0.5)), url(https://wallpaperaccess.com/full/39608.jpg) !important; 
}

.center {
  align-content: center;
  background-color: white;
}

.change-text {
  float: right;
  color: #00d0ff;
  cursor: pointer;
}

.change-text:hover {
  text-decoration: underline;
}

/*CURVED BOTTOM OF DIV
#homePageBanner::before {
  border-radius: 100%;
  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0.525), rgba(0, 0, 0, 0.5)), url(https://wallpaperaccess.com/full/39608.jpg) !important; 
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  right: -200px;
  left: -200px;
  top: -200px;
  content: '';
  bottom: 0;
}*/
input {
  background:white;
  padding:10px;
  font-size:1.3em;
  font-family: 'Lexend Deca', sans-serif;
  border-radius:5px;
  outline:none;
  border:none;
  margin:10px;
  transition: 0.5s;
}

input[type=text] {
  width:70%;
}

input[type=password] {
  width:70%;
}

input[type=submit], #signupinnerbody input[type=submit] {
  background:#00a2ff;
  color: white;
}

.button {
  background: #00a2ff;
  color: white;
  border-radius: 3px;
  padding: 10px;
  transition: 0.25s;
}

.button:hover {
  background: #0268a3;
  color: gray;
}

hr {
  height: 1px;
  border-width: 0;
  color: white;
  background-color: white;
  margin: 2px 0px 2px 0px;
  width: 100%;
}

nav {
  margin: 0px;
  padding: 20px 10px 10px 20px;
  height: 50px;
  /*background: rgba(0,0,0,0.3);*/
}

nav a {
  text-decoration:none;
  color:white;
  margin-left:20px;
}

nav a:hover{
  text-decoration:none;
  color:grey;
}

details {
  cursor: pointer;
}

details div {
  padding: 5px;
  font-size: 0.9em;
  cursor: pointer;
}

details div:hover {
  background-color: #00a2ff;
}

#signup {
  border-style:solid;
  border-color:white;
  border-radius:10px;
  border-width:1px;
  padding:10px;
}

#signup:hover {
  border-color:grey;
}

.col1, .col2 {
  margin:0px; /* No borders for the image*/

  width: calc(100% - 80px); /*Padding*/
  padding:40px;
  padding-top:40px;
  padding-bottom:90px;
  background: white;
  color:black;
}

.col2 {
  background: #EEE;
}

#chat_options {
  margin: 0px;
  width: calc(100% - 80px); /*Padding*/
  padding:40px;
  padding-top:40px;
  padding-bottom:90px;
  background: white;
  color:black;
}

#signupbody{
  text-align:center;
  width: 600px;
  height:600px;
  /*background:black;*/
  margin-left:calc(50% - 300px);
  margin-right:calc(50% - 300px);
  margin-top:50px;
  margin-bottom:50px;
}

#signupinnerbody{
  background:#1a1a1a;
  padding-top:40px;
  padding-bottom:40px;
  padding-right:5px;
  padding-left:5px;
  border-radius:10px;
}

#signupinnerbody input{
  background-color: #212121;
  color:white;
}

input:focus{
  border-style:solid;
  border-color:blue;
}

input[type=submit]:hover, #signupinnerbody input[type=submit]:hover {
  background:#0268a3;
  color: white;
}

a {
  color:#00a2ff;
  text-decoration:none;
  font-weight:600;
}

a:hover{
  color:#0268a3;
}
progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;

  width: 250px;
  height: 20px;
}

progress[value]::-webkit-progress-value {
  background-image: linear-gradient(rgba(0, 0, 0, 0.525), rgba(0, 0, 0, 0.5)), url(https://wallpapercave.com/wp/wp2742875.jpg) !important; 
  background: no-repeat center center fixed;
  background-size: 100% auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   overflow: hidden;


    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

input[type=file]{
  color:white;
  padding:20px;
  margin:10px;
  
  background-image: linear-gradient(rgba(0, 0, 0, 0.525), rgba(0, 0, 0, 0.5)), url(https://wallpaperaccess.com/full/39608.jpg) !important; 
  background: no-repeat center center fixed;
  background-size: 100% auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   overflow: hidden;
  color:black;
  border-style:none;
  border-radius:10px;
  font-size:1.5em;
  font-family: 'Lexend Deca', sans-serif;
}

#labelfile {
  color:white !important;
  padding:20px;
  margin:10px;
  
  background-image: linear-gradient(rgba(0, 0, 0, 0.525), rgba(0, 0, 0, 0.5)), url(https://wallpaperaccess.com/full/39608.jpg) !important; 
  background: no-repeat center center fixed;
  background-size: 100% auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   overflow: hidden;
  color:black;
  border-style:none;
  border-radius:10px;
  font-size:1.5em;
  font-family: 'Lexend Deca', sans-serif;
}

.dashboardCourse {
  background-color:#000000;
  color: white;
  padding:10px;
  border-style:solid;
  border-color:white;
  border-width:1px;
  border-radius:10px;
  margin:10px;
  width:300px;
  float:left;
}

.dashboardCourse:hover {
  color: gray;
  border-color: gray;
}

.white {
  background: white;
  height: 100%;
  width: 100%;
}

details summary::-webkit-details-marker {
  display:none;
}

details summary {
  list-style: none;
}