@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{ 
  margin: 0; /* No borders for the image */
  background:#212121;
  color:white;
  font-family: 'Lexend Deca', sans-serif;
}
strong{
  font-weight:900;
  font-size:2em;
}
.smaller{
  color:#a8a8a8;
  font-weight:200;
  font-size:1.3em;
}
.smaller2{
  color:#a8a8a8;
  font-weight:600;
  font-size:1.3em;
}
#homePageBanner{
  margin:0px; /* No borders for the image*/

  width: calc(100% - 80px); /*Padding*/
  padding:40px;
  padding-top:90px;
  padding-bottom:200px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.525), rgba(0, 0, 0, 0.5)), url(https://wallpaperaccess.com/full/39608.jpg) !important; 
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   overflow: hidden;
}

.with-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.525), rgba(0, 0, 0, 0.5)), url(https://wallpaperaccess.com/full/39608.jpg) !important; 
}

.center {
  align-content: center;
  background-color: white;
}

/*CURVED BOTTOM OF DIV
#homePageBanner::before {
  border-radius: 100%;
  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0.525), rgba(0, 0, 0, 0.5)), url(https://wallpaperaccess.com/full/39608.jpg) !important; 
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  right: -200px;
  left: -200px;
  top: -200px;
  content: '';
  bottom: 0;
}*/
input{
  background:white;
  padding:10px;
  font-size:1.3em;
  font-family: 'Lexend Deca', sans-serif;
  border-radius:5px;
  outline:none;
  border:none;
  margin:10px;
}
input[type=submit]{
  background:#00a2ff;
}
nav a{
  text-decoration:none;
  color:white;
  margin:10px;
}
nav a:hover{
  text-decoration:none;
  color:grey;
  margin:10px;
}
#signup{
  border-style:solid;
  border-color:white;
  border-radius:10px;
  border-width:1px;
  padding:10px;
}
#signup:hover{
  border-color:grey;
}
#premium{
  margin:0px; /* No borders for the image*/

  width: calc(100% - 80px); /*Padding*/
  padding:40px;
  padding-top:90px;
  padding-bottom:200px;
  background: white;
  color:black;
}