<!--Extend with Jinja!-->
{% extends "layout.html" %}
{% block main %}
    <body style="background-color:#222222;">
    <center>
        <br>
        <h1><strong>Nebulus is Down</strong></h1>
        <span class="smaller">Nebulus is currently down so we can improve it! If this error isn't resolved within 24 hours, please contact us in our Discord server!</span><br><br>

        <a href="https://discord.gg/dAhHZWxCge" class="button">Contact us on Discord</a>
    </center>
    </body>

{% endblock %}
