<!--Extend with Jinja!-->
{% extends "layout.html" %}
{% block main %}
    <body oncontextmenu="rightClickElements=null">
    <div class="dark:bg-gray-800" id="homePageBanner"
         style="width:100% !important; justify-content: center; text-align: center;">
        {% include "navbar.html" %}
        <br>
        <p class="text-7xl text-gray-900 dark:text-white font-black "
           >
            Learning, All In One</p>
        <br>
        <p class="text-2xl text-gray-900 dark:text-white">Have your whole learning experience <span
                class="font-extrabold"
                style="background: -webkit-linear-gradient(left, #E02424, #FACA15); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">organized</span>
            and <span class="font-extrabold"
                      style="background: -webkit-linear-gradient(left, #E02424, #FACA15); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">simple</span>
            with Nebulus.</p>
        <p class="text-2xl text-gray-900 dark:text-white">All it takes is one <span class="font-extrabold"
                                                                                    style="background: -webkit-linear-gradient(left, #0E9F6E,#3F83F8); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">Nebulus Account</span>.
        </p>
        <br>
        {% if user and password %}
        <a href="/dashboard">
            <button class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-500 to-pink-500 hover:text-grey dark:text-white">
                <span class="text-xl px-6 py-3.5 relative transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                  Launch App
                </span>
            </button>
        </a>
        {% else %}
            <a href="/signup">
                <button class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-500 to-pink-500 hover:text-grey dark:text-white">
                <span class="text-xl px-6 py-3.5 relative transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                  Get Started
                </span>
                </button>
            </a>
        {% endif %}
    </div>

    <div class="flex items-center justify-center">

        <div class="grid grid-cols-3 md:grid-cols-3 lg:grid-cols-3 grid-rows-1 gap-4 pt-0" id="feature-list">
            <div class="block p-6 max-w-sm bg-white/50 rounded-lg border border-gray-200 shadow-md hover:bg-gray-100/50 dark:bg-gray-800/50 dark:border-gray-700 dark:hover:bg-gray-700/50">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"> Connect all of
                    Learning</h5>
                <p class="font-normal text-gray-700 dark:text-gray-400">No more switching between websites. Get your
                    Schoology, Google Classroom, and Canvas account connected today.</p>
                <br>
                <a href="/dashboard"
                   class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Start Now!
                    <svg class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                              clip-rule="evenodd"></path>
                    </svg>
                </a>
            </div>
            <div class="block p-6 max-w-sm bg-white/50 rounded-lg border border-gray-200 shadow-md hover:bg-gray-100/50 dark:bg-gray-800/50 dark:border-gray-700 dark:hover:bg-gray-700/50">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Organize your Learning
                    Experience
                </h5>
                <p class="font-normal text-gray-700 dark:text-gray-400">With Nebulus, there is no need to have your
                    papers, documents, assignments, and events be all over the place. With Nebulus, every thing is
                    organized for you in an easy-to-use way!</p>
                <br>
                <a href="/dashboard"
                   class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Start Now!
                    <svg class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                              clip-rule="evenodd"></path>
                    </svg>
                </a>
            </div>

            <div href="#"
                 class="block p-6 max-w-sm bg-white/50 rounded-lg border border-gray-200 shadow-md hover:bg-gray-100/50 dark:bg-gray-800/50 dark:border-gray-700 dark:hover:bg-gray-700/50">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Make Learning
                    Easier</h5>
                <p class="font-normal text-gray-700 dark:text-gray-400">We have tools to organize your studying,
                    organize your materials, and keep you focused!</p>
                <br>
                <a href="/dashboard"
                   class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Start Now!
                    <svg class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                              clip-rule="evenodd"></path>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <br>
    <img style="display:none;" id="scrollCat" height=200px src="/static/images/nebulusCats/100_cat.png"></img>
    </body>
    <style>

        ::-webkit-scrollbar-track {
            height: 16000px;
        / / for horizontal scrollbar
        }

        #scrollCat {
            position: -webkit-sticky;
            position: sticky;
        }

    </style>
    <script>
        $(document).scroll(function () {
            const cats = ["100_cat", "black_cat", "blue_cat", "blurple_cat", "cake_cat", "cat1", "green_cat", "ocean_cat", "pink_cat", "red_cat", "river_cat", "yellow_cat"]

            var y = $(this).scrollTop();
            var current = (Math.floor(y / 80) - 1) % 12;

            document.getElementById("scrollCat").src = "/static/images/nebulusCats/" + cats[current] + ".png"

        });

    </script>
    {% include "footer.html" %}
{% endblock %}