<!--Extend with Jinja!-->
{% extends "layout.html" %}
{% block main %}
    <style>
        .gradient-text {
            background: -webkit-linear-gradient(left, #f59542, #42cbf5, #42f578);

            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: bolder;
        }

        .gradient-text-dark {
            background: -webkit-linear-gradient(left, #ff91d8, #c081ff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: bolder;
        }

        .cardd {
            transition-duration: 0.45s;
        }

        .cardd:hover {
            transition-duration: 0.45s;
            transform: scale(1.05);
        }
    </style>
    <body>
        <div style=" height: 100%; z-index: -1; top: 0; opacity:75%; position: fixed; width: 30%; border-radius: 50% 0 0 50%; margin-left: 70%; background-size: cover;">
        </div>
        {% include "utils/navbar.html" %}

        <div id="v2-alert"
             data-aos="fade-left"
             role="alert"
             style="width: 30rem;
                    margin:15px;"
             class="p-2 bg-white/75 backdrop-blur-sm border-gray-500 fixed border right-0 z-30 rounded-lg aos-init aos-animate">
            <div class="flex items-center text-sm text-gray-700 dark:text-gray-800">
                <svg class="mr-2 w-16 h-16 text-blue-700 dark:text-blue-800"
                     fill="currentColor"
                     viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0
                    000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd">
                    </path>
                </svg>
                <span class="mr-4">
                    <a href="https://discord.gg/4tANVhXdeK"
                       class="text-blue-500 hover:underline"
                       target="_blank">Join our Discord server</a>
                    to get the latest news and updates, and chill in a friendly, inclusive community.
                </span>
                <button data-dismiss-target="#v2-alert"
                        class="material-icons absolute right-0 top-0 p-2">close</button>
            </div>
        </div>
        <div class="hidden lg:flex w-full text-left mt-5"
             style="padding-left: 7%;
                    height: 85vh;"
             data-aos-duration="2000">
            <br>
            <br>
            <div style="margin-top: 5vw" class="ml-6 w-full" data-aos="fade-left">
                <p class="text-6xl text-gray-900 dark:text-white "
                   style="font-weight: 800;">
                    {{ translate("Nebulus. Education. Redefined.") }}
                </p>
                <br>
                <p class="text-2xl text-gray-900 dark:text-white">
                    Nebulus is a Learning Management System for students which
                    incorporates commonly used tools such as Schoology and Google Classroom.
                    Consisting of students from many regions of across the globe, our goal is to centralize everyone’s
                    learning experience in a single application.
                    {{ translate("With Nebulus, have your whole learning experience") }}
                    <span class="gradient-text">{{ translate("organized") }}</span>
                    {{ translate("and") }}
                    <span class="gradient-text">{{ translate("simple") }}</span>.
                    {{ translate("All it takes is one") }}
                    <span class="gradient-text">{{ translate("Nebulus Account") }}</span>.
                    Read more <a href="/about" class="text-sky-500 hover:underline">here</a>.
                </p>
                <br>
                {% if user %}
                    <a href="/app">
                        <button class="text-base text-white bg-gradient-to-r from-green-400 via-blue-600 to-orange-400 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                            {{ translate("Get Started") }}
                        </button>
                    </a>
                {% else %}
                    <a href="/signup">
                        <button class="text-base text-white bg-gradient-to-r from-green-400 via-blue-600 to-orange-400 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                            {{ translate("Get Started") }}
                        </button>
                    </a>
                {% endif %}
                <a href="https://www.youtube.com/watch?v=DHbSw9wxFe0">
                    <button class="text-base text-white bg-gradient-to-r from-red-400 to-pink-600 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                        {{ translate("Watch Our Event") }}
                    </button>
                </a>
            </div>
            <div id="indicators-carousel"
                 class="relative w-full"
                 data-carousel="slide"
                 data-aos="fade-up"
                 data-aos-duration="2000"
                 style="height: 35vw">
                <!-- Carousel wrapper -->
                <div class="overflow-hidden relative rounded-lg" style="height: 35vw">
                    <!-- Item 1 -->
                    <div class="hidden duration-700 ease-in-out" data-carousel-item="active">
                        <img src="/static/images/Nebulus%20Overview.png"
                             alt="..."
                             class="block absolute p-8 left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 w-full">
                    </div>
                    <!-- Item 2 -->
                    <div class="hidden duration-700 ease-in-out" data-carousel-item>
                        <img src="/static/images/Nebulus%20Overview2.png"
                             alt="..."
                             class="block absolute p-8 left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 w-full">
                    </div>
                    <!-- Item 3 -->
                    <div class="hidden duration-700 ease-in-out" data-carousel-item>
                        <img src="/static/images/Nebulus%20Overview3.png"
                             alt="..."
                             class="block absolute p-8 left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 w-full">
                    </div>
                    <!-- Item 4 -->
                    <div class="hidden duration-700 ease-in-out" data-carousel-item>
                        <img src="/static/images/imageHome.png"
                             alt="..."
                             class="block absolute p-8 left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 w-full">
                    </div>
                    <div class="flex absolute bottom-5 left-1/2 z-30 space-x-3 flex items-center"
                         style="display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 100%;
                                margin-top: 5px;">
                        <button type="button"
                                class="w-3 h-3 rounded-full"
                                aria-current="true"
                                aria-label="Slide 1"
                                data-carousel-slide-to="0">
                        </button>
                        <button type="button"
                                class="w-3 h-3 rounded-full"
                                aria-current="false"
                                aria-label="Slide 2"
                                data-carousel-slide-to="1">
                        </button>
                        <button type="button"
                                class="w-3 h-3 rounded-full"
                                aria-current="false"
                                aria-label="Slide 3"
                                data-carousel-slide-to="2">
                        </button>
                        <button type="button"
                                class="w-3 h-3 rounded-full"
                                aria-current="false"
                                aria-label="Slide 4"
                                data-carousel-slide-to="3">
                        </button>
                    </div>
                </div>
                <!-- Slider indicators -->
                <!-- Slider controls -->
                <button type="button"
                        class="flex absolute top-0 left-0 z-30 justify-center items-center px-4 h-full cursor-pointer group focus:outline-none"
                        data-carousel-prev>
                    <span class="inline-flex justify-center items-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                        <svg aria-hidden="true"
                             class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800"
                             fill="none"
                             stroke="currentColor"
                             viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg">
                            <path
                            stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M15 19l-7-7 7-7"></path>
                        </svg>
                        <span class="sr-only">Previous</span>
                    </span>
                </button>
                <button type="button"
                        class="flex absolute top-0 right-0 z-30 justify-center items-center px-4 h-full cursor-pointer group focus:outline-none"
                        data-carousel-next>
                    <span class="inline-flex justify-center items-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                        <svg aria-hidden="true"
                             class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800"
                             fill="none"
                             stroke="currentColor"
                             viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg">
                            <path
                            stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M9 5l7 7-7 7"></path>
                        </svg>
                        <span class="sr-only">Next</span>
                    </span>
                </button>
            </div>
        </div>
        <div class="block lg:hidden w-full flex flex-col"
             style="padding-left: 7%;
                    margin-top: 5rem;">
            <br>
            <br>
            <div style="width:100%;margin-top: 4%">
                <p class="text-7xl text-gray-900 dark:text-white "
                   style="font-weight: 800;">
                    {{ translate("Nebulus. Education. Redefined.") }}
                </p>
                <br>
                <p class="text-2xl text-gray-900 dark:text-white">
                    {{ translate("With Nebulus, have your whole learning experience") }}
                    <span class="gradient-text">{{ translate("organized") }}</span>
                    {{ translate("and") }}
                    <span class="gradient-text">{{ translate("simple") }}</span>.
                </p>
                <p class="text-2xl text-gray-900 dark:text-white">
                    {{ translate("All it takes is one") }}
                    <span class="gradient-text">{{ translate("Nebulus Account") }}</span>.
                    Read more <a href="/about" class="text-sky-500 hover:underline">here</a>.
                </p>
                <br>
                <br>
                {% if user %}
                    <a href="/dashboard">
                        <button type="button"
                                class="text-base text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                            {{ translate("Launch App") }}
                        </button>
                    </a>
                {% else %}
                    <a href="/signup">
                        <button type="button"
                                class="text-base text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                            {{ translate("Get Started") }}
                        </button>
                    </a>
                {% endif %}
                <a href="https://www.youtube.com/watch?v=DHbSw9wxFe0">
                    <button class="text-base text-white bg-red-600 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                        {{ translate("Watch our Event") }}
                    </button>
                </a>
            </div>
        </div>
        <br>
        <br>
        <div class="flex flex-col items-center justify-center"
             style="clear: left;">
            <h1 class="text-5xl text-blue-600 dark:text-gray-300 aos-init aos-animate italic"
                data-aos="fade-left"
                data-aos-duration="1000">
                {{ translate("A Learning, All In One Experience") }}
            </h1>
            <br>
            <div class="flex flex-col lg:flex-row" id="feature-list">
                <div class="mt-4 mx-2 cardd" data-aos="fade" data-aos-duration="1000">
                    <div class="h-80 block p-6 max-w-sm bg-gray-200 rounded-[30px] border border-gray-200 shadow-md hover:bg-gray-100/50 dark:bg-gray-800/50 dark:border-gray-700 dark:hover:bg-gray-700/50">
                        <div style="height:85%;">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                                {{ translate("Connect all of Learning") }}
                            </h5>
                            <p class="font-normal text-gray-700 dark:text-gray-400">
                                {{ translate("No more switching between websites. Get your Schoology, Google Classroom, and Canvas accounts connected today.") }}
                            </p>
                            <br>
                        </div>
                        <a href="/dashboard"
                           class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            {{ translate("Start Now!") }}
                            <svg class="ml-2 -mr-1 w-4 h-4"
                                 fill="currentColor"
                                 viewBox="0 0 20 20"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                clip-rule="evenodd">
                                </path>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="mt-4 mx-2 cardd"
                     data-aos="fade"
                     data-aos-duration="1000"
                     data-aos-delay="100">
                    <div class="h-80 block p-6 max-w-sm bg-gray-200 rounded-[30px] border border-gray-200 shadow-md hover:bg-gray-100/50 dark:bg-gray-800/50 dark:border-gray-700 dark:hover:bg-gray-700/50">
                        <div style="height:85%;">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                                {{ translate("Organize your Learning Experience") }}
                            </h5>
                            <p class="font-normal text-gray-700 dark:text-gray-400">
                                {{ translate("With Nebulus, there is no need to have your papers, documents, assignments, textbooks, and events be all over the place. With Nebulus, everything is organized for you in an easy-to-use way!") }}
                            </p>
                            <br>
                        </div>
                        <a href="/dashboard"
                           class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            {{ translate("Start Now!") }}
                            <svg class="ml-2 -mr-1 w-4 h-4"
                                 fill="currentColor"
                                 viewBox="0 0 20 20"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                clip-rule="evenodd">
                                </path>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="mt-4 mx-2 cardd"
                     data-aos="fade"
                     data-aos-duration="1000"
                     data-aos-delay="200">
                    <div class="h-80 block p-6 max-w-sm bg-gray-200 rounded-[30px] border border-gray-200 shadow-md hover:bg-gray-100/50 dark:bg-gray-800/50 dark:border-gray-700 dark:hover:bg-gray-700/50">
                        <div style="height:85%;">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                                {{ translate("Make Learning Easier") }}
                            </h5>
                            <p class="font-normal text-gray-700 dark:text-gray-400">
                                {{ translate("We have tools to organize your studying, organize your materials, make learning fun, and keep you focused!") }}
                            </p>
                            <br>
                        </div>
                        <a href="/dashboard"
                           class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            {{ translate("Start Now!") }}
                            <svg class="ml-2 -mr-1 w-4 h-4"
                                 fill="currentColor"
                                 viewBox="0 0 20 20"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                clip-rule="evenodd">
                                </path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <br>
        </div>
        {% include "utils/footer.html" %}
    </body>
{% endblock %}
