<!--Extend with Jinja!-->
{% extends "layout.html" %}
{% block main %}
    <style>
        .gradient-text {
            background: -webkit-linear-gradient(left, #f59542, #42cbf5, #42f578);

            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: bolder;
        }
    </style>
    <body>
    <div style="height: 100%;
                    z-index: -1;
                    top: 0;
                    opacity:75%;
                    position: fixed;
                    width: 30%;
                    border-radius: 50% 0 0 50%;
                    margin-left: 70%;
                    background-size: cover;">
    </div>
    {% include "utils/navbar.html" %}
    <div class="flex"
         style="padding: 30px; text-align: center; background-size:cover !important; background: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/static/images/nebulusCats/IMG_1134.png'); height: 90%; min-height: 500px">
        <div style="margin-top: 5vw" class="ml-6 w-full" data-aos="fade-left">
            <p data-aos-duration="500"
               class="text-8xl text-white dark:text-white "
               style="font-weight: 800;">Nebulus.</p>
            <p data-aos-duration="1000"
               class="text-5xl text-gray-400 "
               style="font-weight: 800;">Education. Redefined.</p>
            <br>
            <p data-aos-duration="1500" class="text-2xl text-white dark:text-white">
                Nebulus is a Learning Management System for students which
                incorporates commonly used tools such as Schoology and Google Classroom.
                Consisting of students from many regions of across the globe, our goal is to centralize everyone’s
                learning experience in a single application.
            </p>
            <br>
            {% if user %}
                <a href="/app">
                    <button class="text-base text-white bg-gradient-to-r from-green-400 via-blue-600 to-orange-400 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                        {{ translate("Launch Nebulus") }}
                    </button>
                </a>
            {% else %}
                <a data-aos-duration="2000" href="/signup">
                    <button class="text-base text-white bg-gradient-to-r from-green-400 via-blue-600 to-orange-400 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                        {{ translate("Get Started for Free") }}
                    </button>
                    </a>
                {% endif %}
                <a data-aos-duration="2500" href="/about">
                    <button class="text-base text-white bg-gradient-to-r from-red-400 to-pink-600 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                        {{ translate("Learn More") }}
                    </button>
                </a>
        </div>
    </div>
    <div class="dark:bg-gray-900 bg-white"
         style="height: 160px;
                    border-radius: 75% 75% 0 0;
                    margin-top: -80px;"></div>
    <div data-aos-duration="2000" style=" margin: 30px; text-align: center; ">
        <h1 class="text-3xl text-black dark:text-white text-center"
            style=" font-weight: 800; ">
            Are You Ready to Start Your Learning Journey?
        </h1>
        <p class="text-gray-500">
            Get rready to prepare for a brighter future in your education with Nebulus! It's free, and always will be
            free.
        </p>
        <a href="/signup">
            <button class="text-base text-white bg-gradient-to-r from-green-400 via-blue-600 to-orange-400 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
                    style=" margin: 30px; ">
                Get Started Now!
            </button>
        </a>
    </div>
    <div data-aos-duration="2000"
         style="margin-top: 30px;
                    width:50%;
                    margin:auto;">
        <h1 style="font-weight: 700;
                       margin-bottom: 20px;"
            class="text-black dark:text-white text-4xl">
            Frequently Asked Questions
        </h1>
        <div id="accordion-collapse" data-accordion="collapse">
            <h2 id="accordion-collapse-heading-1">
                <button type="button"
                        class="flex items-center justify-between w-full p-5 font-medium text-left border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 hover:bg-gray-100 dark:hover:bg-gray-800 bg-gray-100 dark:bg-gray-800 text-gray-900 dark:text-white"
                        data-accordion-target="#accordion-collapse-body-1"
                        aria-expanded="true"
                        aria-controls="accordion-collapse-body-1">
                    <span>How much does Nebulus cost?</span>
                    <svg data-accordion-icon=""
                         class="w-6 h-6 rotate-180 shrink-0"
                         fill="currentColor"
                         viewBox="0 0 20 20"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                              clip-rule="evenodd">
                        </path>
                    </svg>
                </button>
            </h2>
            <div id="accordion-collapse-body-1"
                 class=""
                 aria-labelledby="accordion-collapse-heading-1">
                <div class="p-5 font-light border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
                    <p class="mb-2 text-gray-500 dark:text-gray-400">
                        Flowbite is an open-source library of interactive components built on top of Tailwind CSS
                        including buttons, dropdowns, modals, navbars, and more.
                    </p>
                    <p class="text-gray-500 dark:text-gray-400">
                        Check out this guide to learn how to <a href="/docs/getting-started/introduction/"
                                                                class="text-blue-600 dark:text-blue-500 hover:underline">get
                        started</a> and start developing websites even faster with components on top of Tailwind CSS.
                    </p>
                </div>
            </div>
            <h2 id="accordion-collapse-heading-2">
                <button type="button"
                        class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800"
                        data-accordion-target="#accordion-collapse-body-2"
                        aria-expanded="false"
                        aria-controls="accordion-collapse-body-2">
                    <span>Is there a Figma file available?</span>
                    <svg data-accordion-icon=""
                         class="w-6 h-6 shrink-0"
                         fill="currentColor"
                         viewBox="0 0 20 20"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                              clip-rule="evenodd">
                        </path>
                    </svg>
                </button>
            </h2>
            <div id="accordion-collapse-body-2"
                 class="hidden"
                 aria-labelledby="accordion-collapse-heading-2">
                <div class="p-5 font-light border border-b-0 border-gray-200 dark:border-gray-700">
                    <p class="mb-2 text-gray-500 dark:text-gray-400">
                        Flowbite is first conceptualized and designed using the Figma software so everything you see in
                        the library has a design equivalent in our Figma file.
                    </p>
                    <p class="text-gray-500 dark:text-gray-400">
                        Check out the <a href="https://flowbite.com/figma/"
                                         class="text-blue-600 dark:text-blue-500 hover:underline">Figma design
                        system</a> based on the utility classes from Tailwind CSS and components from Flowbite.
                    </p>
                </div>
            </div>
            <h2 id="accordion-collapse-heading-3">
                <button type="button"
                        class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800"
                        data-accordion-target="#accordion-collapse-body-3"
                        aria-expanded="false"
                        aria-controls="accordion-collapse-body-3">
                    <span>What are the differences between Flowbite and Tailwind UI?</span>
                    <svg data-accordion-icon=""
                         class="w-6 h-6 shrink-0"
                         fill="currentColor"
                         viewBox="0 0 20 20"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                              clip-rule="evenodd">
                        </path>
                    </svg>
                </button>
            </h2>
            <div id="accordion-collapse-body-3"
                 class="hidden"
                 aria-labelledby="accordion-collapse-heading-3">
                <div class="p-5 font-light border border-t-0 border-gray-200 dark:border-gray-700">
                    <p class="mb-2 text-gray-500 dark:text-gray-400">
                        The main difference is that the core components from Flowbite are open source under the MIT
                        license, whereas Tailwind UI is a paid product. Another difference is that Flowbite relies on
                        smaller and standalone components, whereas Tailwind UI offers sections of pages.
                    </p>
                    <p class="mb-2 text-gray-500 dark:text-gray-400">
                        However, we actually recommend using both Flowbite, Flowbite Pro, and even Tailwind UI as there
                        is no technical reason stopping you from using the best of two worlds.
                    </p>
                    <p class="mb-2 text-gray-500 dark:text-gray-400">Learn more about these technologies:</p>
                    <ul class="pl-5 text-gray-500 list-disc dark:text-gray-400">
                        <li>
                            <a href="https://flowbite.com/pro/"
                               class="text-blue-600 dark:text-blue-500 hover:underline">Flowbite Pro</a>
                        </li>
                        <li>
                            <a href="https://tailwindui.com/"
                               rel="nofollow"
                               class="text-blue-600 dark:text-blue-500 hover:underline">Tailwind UI</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% include "utils/footer.html" %}
    </body>
{% endblock %}
