{% if schoology %}
    {% for schoology_acc in schoology %}
        <div>
            <div class="block p-6 w-3/4 bg-gray-100 rounded-t-lg border border-gray-200 shadow-md dark:bg-gray-700/50 dark:border-gray-700">
                <div>
                    <div style="float:left;margin-right:15px;">
                        <img src="/static/images/logos/schoology.png"
                             style="width:30px;
                                                            height:30px;
                                                            overflow:hidden;"
                             alt="Schoology Image">
                    </div>
                    <div style="float:left;width:50%;">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                            {{ schoology_acc.schoologyName }}
                        </h5>
                        <p class="font-sm text-sm text-gray-700 dark:text-gray-400">
                            {{ schoology_acc.schoologyEmail }}
                        </p>
                    </div>
                </div>
                <br>
                <br>
            </div>
            <div class="block p-6 w-3/4 bg-white rounded-b-lg border border-gray-200 shadow-md dark:bg-gray-800/50 dark:border-gray-700">
                <div>
                    <a href="/api/v1/internal/oauth/schoology/disconnect"
                       class="inline-flex place-items-center font-medium text-center text-white bg-blue-700
                                    rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300
                                     dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 px-3 py-2">
                        Disconnect Schoology
                        <svg class="ml-2 -mr-1 w-4 h-4"
                             fill="currentColor"
                             viewBox="0 0 20 20"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                  clip-rule="evenodd">
                            </path>
                        </svg>
                    </a>
                    <br>
                    <br>
                    <label for="toggle-example-checked"
                           class="flex relative items-center mb-4 cursor-pointer">
                        <input type="checkbox" id="toggle-example-checked" class="sr-only" checked>
                        <div class="w-11 h-6 bg-gray-200 rounded-full border border-gray-200 toggle-bg dark:bg-gray-700 dark:border-gray-600">
                        </div>
                        <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Show in Profile</span>
                    </label>
                    <label for="toggle-example-checked1"
                           class="flex relative items-center mb-4 cursor-pointer">
                        <input type="checkbox" id="toggle-example-checked1" class="sr-only" checked>
                        <div class="w-11 h-6 bg-gray-200 rounded-full border border-gray-200 toggle-bg dark:bg-gray-700 dark:border-gray-600">
                        </div>
                        <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Use in Courses</span>
                    </label>
                </div>
            </div>
        </div>
        <br>
    {% endfor %}
{% endif %}
<br>
{% if canvas %}
    <div>
        <div class="block p-6 w-3/4 bg-gray-100 rounded-t-lg border border-gray-200 shadow-md dark:bg-gray-700/50 dark:border-gray-700">
            <div>
                <div style="float:left;margin-right:15px;">
                    <img src="/static/images/logos/canvas.png"
                         style="width:30px;
                                                        height:30px;
                                                        overflow:hidden;"
                         alt="Canvas Image">
                </div>
                <div style="float:left;">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                        {{ canvas }}
                    </h5>
                    <p class="font-normal text-gray-700 dark:text-gray-400">
                        Canvas
                    </p>
                </div>
            </div>
            <br>
            <br>
        </div>
        <div class="block p-6 w-3/4 bg-white rounded-b-lg border border-gray-200 shadow-md dark:bg-gray-800/50 dark:border-gray-700">
            <a href="/api/v1/internal/oauth/schoology/disconnect"
               class="inline-flex place-items-center font-medium text-center text-white bg-blue-700
                                    rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300
                                     dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 px-3 py-2">
                Disconnect Canvas
                <svg class="ml-2 -mr-1 w-4 h-4"
                     fill="currentColor"
                     viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                          clip-rule="evenodd">
                    </path>
                </svg>
            </a>
            <br>
            <br>
            <label for="toggle-example-checked"
                   class="flex relative items-center mb-4 cursor-pointer">
                <input type="checkbox" id="toggle-example-checked" class="sr-only" checked>
                <div class="w-11 h-6 bg-gray-200 rounded-full border border-gray-200 toggle-bg dark:bg-gray-700 dark:border-gray-600">
                </div>
                <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Show in Profile</span>
            </label>
            <label for="toggle-example-checked1"
                   class="flex relative items-center mb-4 cursor-pointer">
                <input type="checkbox" id="toggle-example-checked1" class="sr-only" checked>
                <div class="w-11 h-6 bg-gray-200 rounded-full border border-gray-200 toggle-bg dark:bg-gray-700 dark:border-gray-600">
                </div>
                <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Use in Courses</span>
            </label>
        </div>
    </div>
    <br>
{% endif %}
{% if graderoom|length > 0 %}
    <div>
        <div class="block p-6 w-3/4 bg-gray-100 rounded-t-lg border border-gray-200 shadow-md dark:bg-gray-700/50 dark:border-gray-700">
            <div>
                <div style="float:left;margin-right:15px;">
                    <img src="/static/images/logos/graderoom.png"
                         style="width:30px;
                                                        height:30px;
                                                        overflow:hidden;"
                         alt="Canvas Image">
                </div>
                <div style="float:left;">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                        {{ graderoom[0] }}
                    </h5>
                    <p class="font-normal text-gray-700 dark:text-gray-400">
                        {{ graderoom[1] }}
                    </p>
                </div>
            </div>
            <br>
            <br>
        </div>
        <div class="block p-6 w-3/4 bg-white rounded-b-lg border border-gray-200 shadow-md dark:bg-gray-800/50 dark:border-gray-700">
            <div>
                <a href="/api/v1/internal/oauth/schoology/disconnect"
                   class="inline-flex place-items-center font-medium text-center text-white bg-blue-700
                                    rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300
                                     dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 px-3 py-2">
                    Disconnect Graderoom
                    <svg class="ml-2 -mr-1 w
                                -4 h-4"
                         fill="currentColor"
                         viewBox="0 0 20 20"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                              clip-rule="evenodd">
                        </path>
                    </svg>
                </a>
                <br>
                <br>
                <label for="toggle-example-checked"
                       class="flex relative items-center mb-4 cursor-pointer">
                    <input type="checkbox" id="toggle-example-checked" class="sr-only" checked>
                    <div class="w-11 h-6 bg-gray-200 rounded-full border border-gray-200 toggle-bg dark:bg-gray-700 dark:border-gray-600">
                    </div>
                    <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Show in Profile</span>
                </label>
                <label for="toggle-example-checked1"
                       class="flex relative items-center mb-4 cursor-pointer">
                    <input type="checkbox" id="toggle-example-checked1" class="sr-only" checked>
                    <div class="w-11 h-6 bg-gray-200 rounded-full border border-gray-200 toggle-bg dark:bg-gray-700 dark:border-gray-600">
                    </div>
                    <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Use in Courses</span>
                </label>
            </div>
        </div>
    </div>
    <br>
{% endif %}
{% if spotify %}
    <div>
        <div class="block p-6 w-3/4 bg-gray-100 rounded-t-lg border border-gray-200 shadow-md dark:bg-gray-700/50 dark:border-gray-700">
            <div>
                <div style="float:left;margin-right:15px;">
                    <img src="/static/images/logos/spotify.png"
                         style="width:30px;
                                                        height:30px;
                                                        overflow:hidden;"
                         alt="Spotify Image">
                </div>
                <div style="float:left;">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                        {{ spotify["display_name"] }}
                    </h5>
                    <p class="font-normal text-gray-700 dark:text-gray-400">
                        Spotify
                    </p>
                </div>
            </div>
            <br>
            <br>
        </div>
        <div class="block p-6 w-3/4 bg-white rounded-b-lg border border-gray-200 shadow-md dark:bg-gray-800/50 dark:border-gray-700">
            <div>
                <a href="/spotify/sign_out"
                   class="inline-flex place-items-center font-medium text-center text-white bg-blue-700
                                    rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300
                                     dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 px-3 py-2">
                    Disconnect Spotify
                    <svg class="ml-2 -mr-1 w
                                -4 h-4"
                         fill="currentColor"
                         viewBox="0 0 20 20"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                              clip-rule="evenodd">
                        </path>
                    </svg>
                </a>
                <br>
                <br>
                <label for="toggle-example-checked"
                       class="flex relative items-center mb-4 cursor-pointer">
                    <input type="checkbox" id="toggle-example-checked" class="sr-only" checked>
                    <div class="w-11 h-6 bg-gray-200 rounded-full border border-gray-200 toggle-bg dark:bg-gray-700 dark:border-gray-600">
                    </div>
                    <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Show in Profile</span>
                </label>
                <label for="toggle-example-checked1"
                       class="flex relative items-center mb-4 cursor-pointer">
                    <input type="checkbox" id="toggle-example-checked1" class="sr-only" checked>
                    <div class="w-11 h-6 bg-gray-200 rounded-full border border-gray-200 toggle-bg dark:bg-gray-700 dark:border-gray-600">
                    </div>
                    <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Show Listening Status</span>
                </label>
            </div>
        </div>
    </div>
    <br>
{% endif %}
<br>
{% if googleclassroom %}
    <div>
        <div class="block p-6 w-3/4 bg-gray-100 rounded-t-lg border border-gray-200 shadow-md dark:bg-gray-700/50 dark:border-gray-700">
            <div>
                <div style="float:left;margin-right:15px;">
                    <img src="/static/images/logos/classroom.png"
                         style="width:30px;
                                                    height:30px;
                                                    overflow:hidden;"
                         alt="Google Classroom Image">
                </div>
                <div style="float:left;">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                        <img src="{{ googleclassroom[1] }}"
                             class="w-10 h-10 rounded-full"
                             alt="Google Classroom Image"
                             style="display: inline-block;
                                                        margin-right:10px;">
                        {{ googleclassroom[0] }}
                    </h5>
                    <p class="font-normal text-gray-700 dark:text-gray-400">
                        Classroom
                    </p>
                </div>
            </div>
            <br>
            <br>
        </div>
        <div class="block p-6 w-3/4 bg-white rounded-b-lg border border-gray-200 shadow-md dark:bg-gray-800/50 dark:border-gray-700">
            <a href="/gclassroom/clear"
               class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700
                        rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Disconnect Google Classroom
                <svg class="ml-2 -mr-1 w-4 h-4"
                     fill="currentColor"
                     viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                          clip-rule="evenodd">
                    </path>
                </svg>
            </a>
            <br>
            <br>›
            <label for="toggle-example-checked"
                   class="flex relative items-center mb-4 cursor-pointer">
                <input type="checkbox" id="toggle-example-checked" class="sr-only" checked>
                <div class="w-11 h-6 bg-gray-200 rounded-full border border-gray-200 toggle-bg dark:bg-gray-700 dark:border-gray-600">
                </div>
                <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Show in Profile</span>
            </label>
            <label for="toggle-example-checked1"
                   class="flex relative items-center mb-4 cursor-pointer">
                <input type="checkbox" id="toggle-example-checked1" class="sr-only" checked>
                <div class="w-11 h-6 bg-gray-200 rounded-full border border-gray-200 toggle-bg dark:bg-gray-700 dark:border-gray-600">
                </div>
                <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Use in Courses</span>
            </label>
        </div>
    </div>
    <br>
{% endif %}
{% if discord %}
    <div>
        <div class="flex gap-2 p-6 w-3/4 bg-gray-100 rounded-t-lg border border-gray-200 shadow-md dark:bg-gray-700/50 dark:border-gray-700">
            <div>
                <img src="/static/images/logos/discord.png" class="w-8 h-8">
                <img src="{{ discord[1] }}" alt="Discord Pfp" class="mr-4 w-8 h-8 rounded-full">
            </div>
            <div>
                <div class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                    {{ discord[0] }}
                </div>
                <p class="font-normal text-gray-700 dark:text-gray-400">
                    Discord
                </p>
            </div>
            <br>
            <br>
        </div>
        <div class="block p-6 w-3/4 bg-white rounded-b-lg border border-gray-200 shadow-md dark:bg-gray-800/50 dark:border-gray-700">
            <a href="/discord/clear"
               class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700
                        rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Disconnect Discord
                <svg class="ml-2 -mr-1 w-4 h-4"
                     fill="currentColor"
                     viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                          clip-rule="evenodd">
                    </path>
                </svg>
            </a>
            <br>
            <br>
            <label for="toggle-example-checked"
                   class="flex relative items-center mb-4 cursor-pointer">
                <input type="checkbox" id="toggle-example-checked" class="sr-only" checked>
                <div class="w-11 h-6 bg-gray-200 rounded-full border border-gray-200 toggle-bg dark:bg-gray-700 dark:border-gray-600">
                </div>
                <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Show in Profile</span>
            </label>
            <label for="toggle-example-checked1"
                   class="flex relative items-center mb-4 cursor-pointer">
                <input type="checkbox" id="toggle-example-checked1" class="sr-only" checked>
                <div class="w-11 h-6 bg-gray-200 rounded-full border border-gray-200 toggle-bg dark:bg-gray-700 dark:border-gray-600">
                </div>
                <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Use in Courses</span>
            </label>
        </div>
    </div>
    <br>
{% endif %}
{% if github %}
    <div>
        <div class="block p-6 w-3/4 bg-gray-100 rounded-t-lg border border-gray-200 shadow-md dark:bg-gray-700/50 dark:border-gray-700">
            <div style="float:left;margin-right:15px;">
                <img src="/static/images/logos/github.png"
                     style="width:30px;
                                                height:30px;
                                                overflow:hidden;">
            </div>
            <div style="float:left;">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                    <img style="margin-right:10px;
                                                    display: inline-block;"
                         src="{{ github[1] }}"
                         class="w-10 h-10 rounded-full">
                    {{ github[0] }}
                </h5>
                <p class="font-normal text-gray-700 dark:text-gray-400">
                    GitHub
                </p>
            </div>
            <br>
            <br>
        </div>
        <div class="block p-6 w-3/4 bg-white rounded-b-lg border border-gray-200 shadow-md dark:bg-gray-800/50 dark:border-gray-700">
            <a href="/discord/clear"
               class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700
                        rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Disconnect GitHub
                <svg class="ml-2 -mr-1 w-4 h-4"
                     fill="currentColor"
                     viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                          clip-rule="evenodd">
                    </path>
                </svg>
            </a>
            <br>
            <br>
            <label for="toggle-example-checked"
                   class="flex relative items-center mb-4 cursor-pointer">
                <input type="checkbox" id="toggle-example-checked" class="sr-only" checked>
                <div class="w-11 h-6 bg-gray-200 rounded-full border border-gray-200 toggle-bg dark:bg-gray-700 dark:border-gray-600">
                </div>
                <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Show in Profile</span>
            </label>
            <label for="toggle-example-checked1"
                   class="flex relative items-center mb-4 cursor-pointer">
                <input type="checkbox" id="toggle-example-checked1" class="sr-only" checked>
                <div class="w-11 h-6 bg-gray-200 rounded-full border border-gray-200 toggle-bg dark:bg-gray-700 dark:border-gray-600">
                </div>
                <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Use in Courses</span>
            </label>
        </div>
    </div>
    <br>
{% endif %}