{% extends "layout.html" %}
{% block main %}
    {% include "utils/navbar.html" %}
    <div class="flex flex-row">
        <div class="w-full">
            <br>
            <div class="block p-6 bg-white/75 rounded-lg border border-gray-200 shadow-md dark:bg-gray-800/75 dark:border-gray-700"
                 style="margin:10px;
                        width:100%;
                        margin-left:64px;">
                <span class="text-black dark:text-white">{{ points }} Points Earned. {{ points//10 }}% to 1000 Points</span>
                <div class="w-full bg-gray-200 rounded-full h-6 dark:bg-gray-700">
                    <div class="h-6 rounded-full"
                         style="width: {{ points//10 }}%;
                                background:linear-gradient(45deg, #7cff73, #cc73ff);">
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
{% endblock %}
