<!--Extend with Jinja!-->
{% extends "layout.html" %}
{% block main %}
    {% include "utils/navbar.html" %}
    <script src="/static/js/user/profile.js"></script>
    {% if embedoverride %}
        <meta name="description"
              content="Check out {{ guestuser }}'s Profile on Nebulus!"/>
        <meta property="og:title" content="{{ guestuser }} Profile"/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="https://nebulus.app/profile/{{ guestuser_id }}"/>
        <meta property="og:image"
              content="{{ guestavatar}}"/>
        <meta property="og:description"
              content="Check out {{ guestuser }}'s Profile on Nebulus!"/>

        <meta name="theme-color" content="#AC7AFF">
        <meta property="og:site_name" content="Nebulus.">
    {% endif %}
    <div class="flex flex-row">
        <div style="">
            <h1 class="text-gray-500 text-4xl noselect" style="
    margin-left: 30px;
">Profile Preview</h1>
            <br>
            <div style="border-radius: 10px;
                        width: 500px;
                        margin: 0 0px 0 30px;
                        overflow: hidden;
                        "
                 id="usercard">
                <div style="background: linear-gradient(45deg, skyblue, orange);
                            height: 80px;opacity:0.8;"></div>
                <div style="text-align: left;padding: 30px;backdrop-filter: blur(3px) !important;
    background: #3741517d;">
                    <button class="rounded-full border-gray-300 border-none w-20 h-20  dark:bg-gray-900 dark:hover:bg-gray-800 " style="
    margin-bottom: 30px;
    margin-top: -70px;
">
                        <span image="{{guestavatar}}" no-revert=""><img alt="logo" style="filter: brightness(100%);" class="h-12 mx-auto my-auto" src="{{avatar}}"></>
                    </button>
                    </button>
                    <br style="">
                    <p style="font-weight: 800; "
                       class="text-black dark:text-white text-4xl">{{ guestuser }}</p>
                    <p style="color: darkgray;" class="text-2xl">{{ guestemail }}</p>

                        <span style="margin-top:15px;display:grid; grid-auto-flow: column; align-content: center; justify-content: center; "
                              class="noselect dark:text-white dark: bg-gray-800 p-6 rounded-lg noselect dark:text-white"
                              id="song">
                        </span>

                </div>
            </div>
            <div style="height:80%;"
                 id="lyricModal"
                 tabindex="-1"
                 aria-hidden="true"
                 class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
                <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
                    <!-- Modal content -->
                    <div class="relative bg-white rounded-lg shadow dark:bg-gray-800">
                        <!-- Modal header -->
                        <div class="flex justify-between items-start p-4 rounded-t border-b dark:border-gray-600">
                            <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                                <span id="songname"></span> Lyrics
                            </h3>
                            <button type="button"
                                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                    data-modal-toggle="defaultModal">
                                <svg class="w-5 h-5"
                                     fill="currentColor"
                                     viewBox="0 0 20 20"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                          clip-rule="evenodd">
                                    </path>
                                </svg>
                            </button>
                        </div>
                        <!-- Modal body -->
                        <div style="height:80%;overflow-y:scroll;" class="p-6 space-y-6">
                            <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400"
                               id="lyricshere">Loading...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
