dropdown-menu trigger {
    border: none;
    cursor: pointer;
    text-align: right;
}

dropdown-menu trigger:hover {
    background: lightgray;
}

dropdown-menu contents {
    visibility: hidden;
    z-index: 5;
    border-radius: 5px;
    position: absolute;
    box-shadow: black;
    padding: 1rem;
    text-align: left;
}

dropdown-menu contents item {
    padding: 0.15rem;
    width: 100%;
    border-radius: 2px;
    display: inline-block;
    font-size: 0.8rem;
}

dropdown-menu contents item[href]:hover {
    background: dodgerblue;
    cursor: pointer;
}