/* The Modal (background) */
#CourseModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    align-content: center;
    text-align: center;
}

/* Modal Content */

.CoursePage {
    margin-top: 6%;
    margin-left: 31%;
    padding: 20px;
    color: white;
    border-radius: 10px;
    position: absolute;
    height: 40rem;
}

h3 {
    font-size: 1.2vw;
}

#connect-schoology {
    background: #ec7063;
    border: 3px solid red;
    color: black;
    font-size: 1vw;
    padding: 10px 50px;
    width: 60%;
    border-radius: 10px;
}

#connect-schoology a {
    color: #5499c7;
}

label {
    font-size: 1.25vw;
    font-weight: 700;
    color: lightgray;
    float: left;
    margin: 5px;
}

input[type='submit'] {
    color: white;
    font-size: 1.25vw;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}


#course-nav {
    z-index: 1;
    float: right;
    margin-right: 75px;
}

.close {
    float: right;
    cursor: pointer;
    border-radius: 3px;
    padding: 5px;
}

.close:hover {
    background: gray;
}

@keyframes movein {
    from {
        top: -1000px;
    }
    to {
        top: 0;
    }
}

@keyframes moveout {
    from {
        top: 0;
    }
    to {
        top: -1000px;
    }
}

.image {
    width: 20px;
    height: 20px;
    border-radius: 0;
    margin-right: 10px;
}

.createSelectButton {
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #bababa;
    display: inline-block;
    margin-bottom: 10px;
    width: 500px;
    cursor: pointer;
    background-image: linear-gradient(to bottom right, #239B56, #58D68D);
}

.scroll {
    height: 45%;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 3px;
    background-color: rgba(50, 50, 50, 0.5);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(100, 100, 100, 0.5);
}
