@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Sans+SC:wght@100;300;400;500;700;900&family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.apple-friendly-input {
  --webkit-user-select: text;
}

@layer base {
  input {
    @apply apple-friendly-input;
  }
}

@font-face {
  font-family: 'SpotifyFont';
  src: url('../fonts/Spotify-Font/Gotham-Medium.woff') format('woff');
  font-weight: normal;
}
@font-face {
  font-family: 'SpotifyFont';
  src: url('../fonts/Spotify-Font/Gotham-Medium.woff') format('woff');
  font-weight: bold;
}
@font-face {
  font-family: 'SpotifyFont';
  src: url('../fonts/Spotify-Font/Gotham-Medium.woff') format('woff');
  font-weight: 900;
}
@font-face {
  font-family: 'SpotifyFont';
  src: url('../fonts/Spotify-Font/Gotham-Medium.woff') format('woff');
  font-weight: 800;
}
@font-face {
  font-family: 'SpotifyFont';
  src: url('../fonts/Spotify-Font/Gotham-Medium.woff') format('woff');
  font-weight: 700;
}
@font-face {
  font-family: 'SpotifyFont';
  src: url('../fonts/Spotify-Font/Gotham-Medium.woff') format('woff');
  font-weight: 600;
}
@font-face {
  font-family: 'SpotifyFont';
  src: url('../fonts/Spotify-Font/Gotham-Medium.woff') format('woff');
  font-weight: 500;
}
@font-face {
  font-family: 'SpotifyFont';
  src: url('../fonts/Spotify-Font/Gotham-Medium.woff') format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'SpotifyFont';
  src: url('../fonts/Spotify-Font/Gotham-Medium.woff') format('woff');
  font-weight: 300;
}
@font-face {
  font-family: 'SpotifyFont';
  src: url('../fonts/Spotify-Font/Gotham-Medium.woff') format('woff');
  font-style: italic;
}
@font-face {
  font-family: 'SpotifyFont';
  src: url('../fonts/Spotify-Font/Gotham-Medium.woff') format('woff');
  font-style: oblique;
}
@font-face {
  font-family: 'SpotifyFont';
  src: url('../fonts/Spotify-Font/Gotham-Medium.woff') format('woff');
  font-style: normal;
}
@font-face {
  font-family: 'SpotifyFont';
  src: url('../fonts/Spotify-Font/Gotham-Medium.woff') format('woff');
  font-stretch: normal;
}
@font-face {
  font-family: 'SpotifyFont';
  src: url('../fonts/Spotify-Font/Gotham-Medium.woff') format('woff');
  font-stretch: condensed;
}
@font-face {
  font-family: 'SpotifyFont';
  src: url('../fonts/Spotify-Font/Gotham-Medium.woff') format('woff');
  font-stretch: semi-condensed;
}
@font-face {
  font-family: 'SpotifyFont';
  src: url('../fonts/Spotify-Font/Gotham-Medium.woff') format('woff');
  font-stretch: ultra-condensed;
}
@font-face {
  font-family: 'SpotifyFont';
  src: url('../fonts/Spotify-Font/Gotham-Medium.woff') format('woff');
  font-stretch: extra-condensed;
}
@font-face {
  font-family: 'SpotifyFont';
  src: url('../fonts/Spotify-Font/Gotham-Medium.woff') format('woff');
  font-stretch: expanded;
}
@font-face {
  font-family: 'SpotifyFont';
  src: url('../fonts/Spotify-Font/Gotham-Medium.woff') format('woff');
  font-stretch: semi-expanded;
}
@font-face {
  font-family: 'SpotifyFont';
  src: url('../fonts/Spotify-Font/Gotham-Medium.woff') format('woff');
  font-stretch: extra-expanded;
}
@font-face {
  font-family: 'SpotifyFont';
  src: url('../fonts/Spotify-Font/Gotham-Medium.woff') format('woff');
  font-stretch: ultra-expanded;
}
@layer base {
  html {
    font-family: SpotifyFont;
  }
}
@layer base {
  html.dark body {
    background: #111926;
  }
}
