@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@font-face {
  font-family: 'SpotifyFont';
  src: url('../fonts/Spotify-Font/Gotham-Medium.woff') format('woff');
  font-weight: normal;
}
@font-face {
  font-family: 'SpotifyFont';
  src: url('../fonts/Spotify-Font/Gotham-Medium.woff') format('woff');
  font-weight: bold;
}
@font-face {
  font-family: 'SpotifyFont';
  src: url('../fonts/Spotify-Font/Gotham-Medium.woff') format('woff');
  font-weight: 900;
}
@font-face {
  font-family: 'SpotifyFont';
  src: url('../fonts/Spotify-Font/Gotham-Medium.woff') format('woff');
  font-weight: 800;
}
@font-face {
  font-family: 'SpotifyFont';
  src: url('../fonts/Spotify-Font/Gotham-Medium.woff') format('woff');
  font-weight: 700;
}
@font-face {
  font-family: 'SpotifyFont';
  src: url('../fonts/Spotify-Font/Gotham-Medium.woff') format('woff');
  font-weight: 600;
}
@font-face {
  font-family: 'SpotifyFont';
  src: url('../fonts/Spotify-Font/Gotham-Medium.woff') format('woff');
  font-weight: 500;
}
@font-face {
  font-family: 'SpotifyFont';
  src: url('../fonts/Spotify-Font/Gotham-Medium.woff') format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'SpotifyFont';
  src: url('../fonts/Spotify-Font/Gotham-Medium.woff') format('woff');
  font-weight: 300;
}
@font-face {
  font-family: 'SpotifyFont';
  src: url('../fonts/Spotify-Font/Gotham-Medium.woff') format('woff');
  font-style: italic;
}
@font-face {
  font-family: 'SpotifyFont';
  src: url('../fonts/Spotify-Font/Gotham-Medium.woff') format('woff');
  font-style: oblique;
}
@font-face {
  font-family: 'SpotifyFont';
  src: url('../fonts/Spotify-Font/Gotham-Medium.woff') format('woff');
  font-style: normal;
}
@font-face {
  font-family: 'SpotifyFont';
  src: url('../fonts/Spotify-Font/Gotham-Medium.woff') format('woff');
  font-stretch: normal;
}
@font-face {
  font-family: 'SpotifyFont';
  src: url('../fonts/Spotify-Font/Gotham-Medium.woff') format('woff');
  font-stretch: condensed;
}
@font-face {
  font-family: 'SpotifyFont';
  src: url('../fonts/Spotify-Font/Gotham-Medium.woff') format('woff');
  font-stretch: semi-condensed;
}
@font-face {
  font-family: 'SpotifyFont';
  src: url('../fonts/Spotify-Font/Gotham-Medium.woff') format('woff');
  font-stretch: ultra-condensed;
}
@font-face {
  font-family: 'SpotifyFont';
  src: url('../fonts/Spotify-Font/Gotham-Medium.woff') format('woff');
  font-stretch: extra-condensed;
}
@font-face {
  font-family: 'SpotifyFont';
  src: url('../fonts/Spotify-Font/Gotham-Medium.woff') format('woff');
  font-stretch: expanded;
}
@font-face {
  font-family: 'SpotifyFont';
  src: url('../fonts/Spotify-Font/Gotham-Medium.woff') format('woff');
  font-stretch: semi-expanded;
}
@font-face {
  font-family: 'SpotifyFont';
  src: url('../fonts/Spotify-Font/Gotham-Medium.woff') format('woff');
  font-stretch: extra-expanded;
}
@font-face {
  font-family: 'SpotifyFont';
  src: url('../fonts/Spotify-Font/Gotham-Medium.woff') format('woff');
  font-stretch: ultra-expanded;
}
@layer base {
  html {
    font-family: SpotifyFont;
  }
}
@layer base {
  html.dark body {
    background: #111926;
  }
}
