@font-face {
    font-family: 'SpotifyFont';
    src: url('../fonts/Spotify-Font/Gotham-Medium.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'SpotifyFont';
    src: url('../fonts/Spotify-Font/Metropolis-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'SpotifyFont';
    src: url('../fonts/Spotify-Font/Metropolis-BoldItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'SpotifyFont';
    src: url('../fonts/Spotify-Font/Metropolis-BoldItalic.otf') format('opentype');
    font-style: italic;
    font-weight: 800;
}

@font-face {
    font-family: 'SpotifyFont';
    src: url('../fonts/Spotify-Font/Metropolis-BoldItalic.otf') format('opentype');
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: 'SpotifyFont';
    src: url('../fonts/Spotify-Font/Metropolis-BoldItalic.otf') format('opentype');
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: 'SpotifyFont';
    src: url('../fonts/Spotify-Font/Metropolis-Bold.otf') format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'SpotifyFont';
    src: url('../fonts/Spotify-Font/Metropolis-Bold.otf') format('opentype');
    font-weight: 900;
}

@font-face {
    font-family: 'SpotifyFont';
    src: url('../fonts/Spotify-Font/Metropolis-Bold.otf') format('opentype');
    font-weight: 800;
}

@font-face {
    font-family: 'SpotifyFont';
    src: url('../fonts/Spotify-Font/Metropolis-Bold.otf') format('opentype');
    font-weight: 700;
}

@font-face {
    font-family: 'SpotifyFont';
    src: url('../fonts/Spotify-Font/Metropolis-Bold.otf') format('opentype');
    font-weight: 600;
}

@font-face {
    font-family: 'SpotifyFont';
    src: url('../fonts/Spotify-Font/Metropolis-Italic.otf') format('opentype');
    font-style: italic;
}

@font-face {
    font-family: 'SpotifyFont';
    src: url('../fonts/Spotify-Font/Gotham-Medium.woff') format('woff');
    font-weight: 500;
}

@font-face {
    font-family: 'SpotifyFont';
    src: url('../fonts/Spotify-Font/Gotham-Medium.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'SpotifyFont';
    src: url('../fonts/Spotify-Font/Gotham-Medium.woff') format('woff');
    font-weight: 300;
}
