@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Sans+SC:wght@100;300;400;500;700;900&family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    cursor: none;
    overflow-x: hidden !important;
}

body {
    overflow-x: hidden !important;
}

a {
    cursor: none !important;
}

button {
    cursor: none !important;
}

#circularcursor {
    background-color: rgb(84 84 84 / 20%);
    border: 1px solid #4B5563;
    height: 40px;
    pointer-events: none;
    width: 40px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    position: absolute;
    z-index: 10000;
    display: none;
}

.fade-out {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.disabled-css:disabled {
    filter: brightness(0.75);
}

.noselect,
img,
svg,
thead,
button,
input {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.noclick {
    pointer-events: none;
}

.material-icons {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* width */
aside *::-webkit-scrollbar, nav *::-webkit-scrollbar {
    display: none;
    width: 5px;
    height: 5px;
}

:hover::-webkit-scrollbar {
    display: block;
}

::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
    width: 7px;
    height: 7px;
    border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track-piece {
    background: rgb(238 239 241);
    border-radius: 100px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(213 214 216);
    border-radius: 100px;
}

.dark ::-webkit-scrollbar-thumb {
    background: rgb(51 61 75);
}

.dark ::-webkit-scrollbar-track-piece {
    background: rgb(36 46 60 / 44%);
}

.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
}

.text-5xl {
    font-size: 3rem;
    line-height: 1;
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}

.text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.text-7xl {
    font-size: 4.5rem;
    line-height: 1;
}

.text-6xl {
    font-size: 3.75rem;
    line-height: 1;
}

.text-8xl {
    font-size: 6rem;
    line-height: 1;
}

.text-9xl {
    font-size: 8rem;
    line-height: 1;
}

input {
    -webkit-user-select: text;
}

html {
    font-family: SpotifyFont, Noto Sans, Noto Sans SC, Noto Sans TC, Noto Sans JP, Noto Sans KR,
    Noto Sans Thai, sans-serif;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}

body {
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}

html.dark body {
    background: #111926;
}
