<!--Extend with Jinja!-->
{% extends "layout.html" %}
{% block main %}
    <style>
        .expand {
            visibility: hidden;
        }

        .expandable:hover .expand {
            visibility: visible;
        }
    </style>
    {% include "utils/navbar.html" %}
    <div class="flex" style="height: 80vh">
        <div id="middle"
             style="flex: 0 0 69vw"
             class="pl-8 pr-4 border-r border-gray-200 dark:border-gray-700">
            <div class="flex justify-between place-items-center w-full mb-4">
                <p class="block mb-2 text-3xl uppercase dark:text-gray-500">Recent Activity</p>
                <button class="p-1.5 hover:bg-blue-200 dark:hover:bg-gray-700 rounded-lg mt-5 text-black dark:text-white"
                        aria-label="Filter Events"
                        title="Filter Events">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         class="h-8 w-8"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke="currentColor"
                         stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M8 16H6a2 2 0 01-2-2V6a2 2 0 012-2h8a2 2 0 012 2v2m-6 12h8a2 2 0 002-2v-8a2 2 0 00-2-2h-8a2 2 0 00-2 2v8a2 2 0 002 2z">
                        </path>
                    </svg>
                </button>
            </div>
            <div class="overflow-auto" style="height:calc(100% - 100px)" id="recent-activity-div">
                {% include "learning/recent-activity.html" %}
            </div>
        </div>
        <div id="right"
             style="flex: 0 0 30vw"
             class="border-gray-200 dark:border-gray-700 border-l text-left h-full overflow-auto pt-4">
            <p class="block mb-2 text-3xl uppercase dark:text-gray-500 mx-4">Upcoming Events</p>
            <br>
            <div class="flex flex-col sm:rounded-lg align-middle overflow-auto inline-block"
                 style="overflow-x: hidden;overflow-y: auto;height: 80%;width: 90%;margin: auto;">
                {% if events|length == 0 %}
                    <p class="text-gray-300 dark:text-gray-500 mx-4">
                        No Events, Assignments, or Quizzes! To
                        add events on to your Nebulus dashboard, please add it within a Course!
                    </p>
                {% else %}
                    {% for date, alist in events.items() %}
                        {% set diff = (date - now).days %}
                        {% if diff < 0 %}
                            <h1 style="text-align: left;
                                       background: orangered -webkit-linear-gradient(left,#ff7878,#ffb078);
                                       -webkit-background-clip: text;
                                       -webkit-text-fill-color: transparent;
                                       margin: 13px;">
                                {{ strftime(date, "%a %b %-d %Y") }}
                                ({{ -diff }}d Overdue)
                            </h1>
                        {% elif diff < 1 %}
                            <h1 style="text-align: left;
                                       background: orange -webkit-linear-gradient(left,#ff78ed,#ffb378);
                                       -webkit-background-clip: text;
                                       -webkit-text-fill-color: transparent;
                                       margin: 13px;">
                                {{ strftime(date, "%a %b %-d %Y") }}
                                ({{ diff }}d remaining)
                            </h1>
                        {% elif diff < 3 %}
                            <h1 style="text-align: left;
                                       background: yellow -webkit-linear-gradient(left,#dd7e00,#fcff34);
                                       -webkit-background-clip: text;
                                       -webkit-text-fill-color: transparent;
                                       margin: 13px;">
                                {{ strftime(date, "%a %b %-d %Y") }}
                                ({{ diff }}d remaining)
                            </h1>
                        {% elif diff < 5 %}
                            <h1 style="text-align: left;
                                       background: green -webkit-linear-gradient(left,#ffd978,#ddff78);
                                       -webkit-background-clip: text;
                                       -webkit-text-fill-color: transparent;
                                       margin: 13px;">
                                {{ strftime(date, "%a %b %-d %Y") }}
                                ({{ diff }}d remaining)
                            </h1>
                        {% else %}
                            <h1 style="text-align: left;
                                       background: greenyellow -webkit-linear-gradient(left,#d9ff78,#78ffb7);
                                       -webkit-background-clip: text;
                                       -webkit-text-fill-color: transparent;
                                       margin: 13px;">
                                {{ strftime(date, "%a %b %-d %Y") }}
                                ({{ diff }}d remaining)
                            </h1>
                        {% endif %}
                        {% for a in alist %}
                            {% if (a._cls != "Assignment" or a.submitDate == None) or now < date %}
                                {# today is before the due date ^ #}
                                <div class="flex bg-gray-100 shadow dark:bg-gray-800/75 rounded-lg p-6 event shadow-md dark:border-gray-700 text-sm mb-5 mx-4 text-left relative expandable">
                                    <div class="absolute right-0 bottom-0 material-icons hover:bg-gray-50 dark:hover:bg-gray-500 p-1 expand text-gray-200 cursor-pointer dark:text-gray-400 rounded-lg mr-3 mb-3">
                                        open_in_new
                                    </div>
                                    <div type-element class="hidden">Event</div>
                                    <div content-element hidden class="hidden">{{ a.description }}</div>
                                    <div author-element hidden class="hidden">{{ a.course.teacher }}</div>
                                    <img src="{% if "teacherAccount" in a.course %} {{ a.course.teacher.avatar.avatar_url }} {% else %} https://app.schoology.com/sites/all/themes/schoology_theme/images/course-default.svg {% endif %}"
                                         image-element
                                         hidden
                                         class="hidden">
                                    <img src="{% if "teacherAccount" in a.course %} {{ a.course.avatar.avatar_url }} {% else %} https://app.schoology.com/sites/all/themes/schoology_theme/images/course-default.svg {% endif %}"
                                         image-element2
                                         hidden
                                         class="hidden">

                                    <div class="mr-4 material-icons ml-2 text-black dark:text-white"
                                         style="transform: translate(0, 50%) scale(1.75)">
                                        assignment
                                    </div>
                                    <div class="text-gray-700 dark:text-gray-400 leading-relaxed w-full">
                                        <h1 class="text-black dark:text-white text-xl truncate"
                                            title-element
                                            style="max-width: 90%">{{ a.title }}</h1>
                                        <p class="truncate" style="max-width: 90%;"
                                           course-name-element>{{ a.course.name }}</p>
                                        {% if a._cls == "Assignment" %}
                                            Due at
                                        {% else %}
                                            Happening at
                                        {% endif %}
                                        {{ strftime(date, "%-I:%M %p") }}
                                        <div due-time-element hidden class="hidden">
                                            {% if a._cls == "Assignment" %}
                                                Due at
                                            {% else %}
                                                Happening on
                                            {% endif %}
                                            {{ strftime(date, "%-m/%-d/%y %-I:%M %p") }} •
                                            {% if a.submitDate %}
                                                <span class="text-green-600 dark:text-green-500">Submitted</span>
                                            {% elif now > date %}
                                                <span class="text-red-600 dark:text-red-500">Overdue</span>
                                                {#% elif a.grade != None and a.grade / a.points < 0.6 %#}
                                                {#  <span class="text-gray-300 dark:text-gray-700">{{ a.grade }}/{{ a.points }}</span>#}                                            {% else %}
                                                <span class="text-orange-500">Not Submitted</span>
                                            {% endif %}
                                        </div>
                                        <div post-time-element hidden class="hidden">
                                            Posted at
                                            {% if "creationDate" in a %}
                                                {{ strftime(a.creationDate, "%-m/%-d/%y %-I:%m %p") }}
                                            {% else %}
                                                {{ strftime(a.get_timestamp(), "%-m/%-d/%y %-I:%m %p") }}
                                            {% endif %}
                                        </div>
                                        {% if a._cls == "Assignment" %}
                                            <div class="text-black dark:text-white">
                                                {% if a.submitDate %}
                                                    <span class="text-green-600 dark:text-green-500">Submitted</span>
                                                {% elif now > date %}
                                                    <span class="text-red-600 dark:text-red-500">Overdue</span>
                                                {% elif a.grade != None and a.grade / a.points < 0.6 %}
                                                    <span class="text-gray-300 dark:text-gray-700">{{ a.grade }}/{{ a.points }}</span>
                                                {% else %}
                                                    <span class="text-orange-500">Not Submitted</span>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div id="modal" tabindex="-1"
         class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full pointer-events-none justify-center items-center flex"
         style="scale: 1; opacity: 1; transition: all 0.2s ease 0s;" aria-modal="true" role="dialog">
        <div class="relative p-4 w-full max-w-2xl h-full md:h-auto pointer-events-auto">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-800">
                <div id="dueTime" class="absolute bottom-0 right-0 p-3 text-gray-200 dark:text-gray-500 text-sm">
                    Happening on
                    5/20/22 10:10 AM •
                    <span class="text-red-600 dark:text-red-500">Overdue</span>
                </div>
                <!-- Modal header -->
                <div class="flex justify-between items-start p-4 rounded-t border-b dark:border-gray-600 relative">
                    <div id="header">
                        <h3 class="text-xl font-semibold text-gray-900 dark:text-white truncate h-full"><i
                                class="material-icons" style="
    color: white;
    vertical-align: middle;
    margin-right: 10px;
    font-size: 2em;
    display: inline-block;
">assignment</i>Comp Practice Test 2 (Participation)</h3>
                        <div class="flex mt-2">
                            <img class="inline-block mt-2 rounded-lg dark:bg-gray-900 w-12 h-12"
                                 src="https://asset-cdn.schoology.com/system/files/imagecache/profile_reg/pictures/picture-a4e0cd7501f839a1fa616bc07887b839_5f2c7354873ce.png"
                                 alt="
                                                        Ms. Nagami
                                                    's profile picture" style="
    margin-right: 10px;
">
                            <img src="https://api.schoology.com/sites/all/themes/schoology_theme/images/course-default.svg"
                                 style="margin-left: -30px;margin-top: 40px;margin-right: 10px;"
                                 class="inline-block w-6 h-6 rounded-md">

                            <div class="flex flex-col text-xs">
                                <h4 class="text-lg text-gray-900 dark:text-white truncate cursor-pointer hover:underline"
                                    data-dropdown-toggle="userDropdown-0_0">Mr. Schindler</h4>
                                <span class="bg-gray-300 text-gray-800 text-xs font-normal uppercase
         mr-2 px-2.5 py-0.5 rounded dark:bg-gray-600 dark:text-gray-300"><img class="inline-block rounded-md rounded-full
      shadow-lg dark:bg-gray-900 dark:hover:bg-gray-800 w-6 h-6"
                                                                              src="https://app.schoology.com/sites/all/themes/schoology_theme/images/course-default.svg"
                                                                              alt="Ms. Nagami's profile picture"> Physics 8</span>
                            </div>
                        </div>
                    </div>
                    <button class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
                            onclick="closeModal('modal')">
                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                  clip-rule="evenodd">
                            </path>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                    <div id="postTime" class="absolute bottom-0 right-0 p-3 text-gray-200 dark:text-gray-500 text-sm">
                        Posted at 9:43 am
                    </div>
                </div>
                <!-- Modal body -->
                <div class="p-6 space-y-6">
                    <style>
                        [title="Link"] {
                            color: deepskyblue !important;
                            text-decoration: underline !important;
                        }
                    </style>
                    <h1 class="text-white font-bold uppercase" id="descriptionTitle">Description</h1>
                    <div style="max-height: 15rem" class="overflow-auto">
                        <div id="announcementBody" class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                            Do Homework 4 Worksheet. Turn in at end of class on day listed (Day 1 of Week of Oct 17th)
                            <br><br>
                            Be sure to show steps for solving a physics problem when necessary:<br>
                            1)Create a model, define your origin, and set your coordinates<br>
                            2) State all Known Variables<br>
                            3)State Unknown Variables<br>
                            4) Write down all necessary equations<br>
                            5) Write solution by plugging in variables and solving equations<br>
                            6) Check your answer:<br>
                            a) Do dimensional analysis to check all units are correct.<br>
                            <br>
                            b) Ask yourself, is this a reasonable answer for this situation?<br>
                        </div>
                    </div>
                    <div id="submissionsBox">
                        <h1 class="text-white font-bold uppercase">Submission</h1>
                        <h1 class="text-gray-500">Go to the "<span id="courseNameForSubmission"></span>" course and add
                            extensions for more submission
                            methods!</h1>
                        <div class="bg-gray-800 p-3 rounded-lg" style="
    overflow-y: scroll;
    margin-top: 10px;
    height: 150px;
">
                            <button class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                                <i class="w-6 h-6 inline-block material-icons" style="
    vertical-align: middle;
">upload
                                </i>Upload File
                            </button>
                            <button class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-800 dark:hover:bg-green-700 dark:focus:ring-green-800">
                                <i class="w-6 h-6 inline-block material-icons" style="
    vertical-align: middle;
">check</i>Mark as Done
                            </button>
                            <button class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                                <i class="w-6 h-6 inline-block material-icons" style="
    vertical-align: middle;
">create</i>Create Submission
                            </button>
                            <button class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-purple-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                                <i class="w-6 h-6 inline-block material-icons" style="
    vertical-align: middle;
">description</i>NebulusDoc
                            </button>
                            <button class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-900 dark:hover:bg-green-700 dark:focus:ring-green-800">
                                <i class="fa fa-github inline-block" style="
    font-size: 1.5em;
    vertical-align: middle;
    margin-right: 4px;
"></i>Github Repository
                            </button>
                            <button class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                                <i class="fa fa-google inline-block" style="
    font-size: 1.5em;
    vertical-align: middle;
    margin-right: 4px;
"></i>Google Drive
                            </button>
                            <button class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 bg-yellow-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                                <i class="material-icons inline-block" style="
    font-size: 1.5em;
    vertical-align: middle;
    margin-right: 4px;
">cloud</i>OneDrive
                            </button>
                        </div>
                    </div>
                    <div id="commentBox" style="">
                        <h1 class="text-white font-bold uppercase">Reactions</h1>

                        <style>
                            #likes svg {
                                color: rgb(118 169 250);
                                fill: rgb(118 169 250);
                                margin-left: 1.7rem;
                                margin-right: 0.1rem;
                                cursor: pointer;
                            }

                            #likes * {
                                width: 1.5rem;
                                height: 1.5rem;
                                display: inline-block;
                                vertical-align: bottom;
                            }
                        </style>
                        <div id="likes" class="dark:text-white text-black">

                            <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
                                 style="margin-left: 0">
                                <path d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z">
                                </path>
                            </svg>
                            2
                            <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18 9.5a1.5 1.5 0 11-3 0v-6a1.5 1.5 0 013 0v6zM14 9.667v-5.43a2 2 0 00-1.105-1.79l-.05-.025A4 4 0 0011.055 2H5.64a2 2 0 00-1.962 1.608l-1.2 6A2 2 0 004.44 12H8v4a2 2 0 002 2 1 1 0 001-1v-.667a4 4 0 01.8-2.4l1.4-1.866a4 4 0 00.8-2.4z">
                                </path>
                            </svg>
                            0
                            <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M18 5v8a2 2 0 01-2 2h-5l-5 4v-4H4a2 2 0 01-2-2V5a2 2 0 012-2h12a2 2 0 012 2zM7 8H5v2h2V8zm2 0h2v2H9V8zm6 0h-2v2h2V8z"
                                      clip-rule="evenodd">
                                </path>
                            </svg>
                            0
                        </div>
                    </div>
                    <button onclick="closeModal('modal')"
                            class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                        <svg class="w-6 h-6 inline-block" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                            </path>
                        </svg>
                        Dismiss
                    </button>
                </div>
            </div>
            <script src="/static/js/app.js"></script>
        </div>
    </div>
    <script>
        const announcementEnd = {{ ae }};
        const eventEnd = {{ ee }};
    </script>
    {% include "learning/lms-modal.html" %}
{% endblock %}