<!--Extend with Jinja!-->
{% extends "layout.html" %}
{% block main %}
    <style>
        [title="Link"] {
            color: deepskyblue !important;
            text-decoration: underline !important;
        }

        #likes-section svg {
            color: rgb(118 169 250);
            fill: rgb(118 169 250);
            margin-left: 1.7rem;
            margin-right: 0.1rem;
            cursor: pointer;
        }

        #likes-section * {
            width: 1.5rem;
            height: 1.5rem;
            display: inline-block;
            vertical-align: bottom;
        }

        .likes svg {
            color: rgb(118 169 250);
            fill: rgb(118 169 250);
            margin-left: 1.3rem;
            margin-right: 0.1rem;
            cursor: pointer;
        }

        .likes * {
            width: 1rem;
            height: 1rem;
            display: inline-block;
            vertical-align: middle;
        }

        .likes svg:hover, #likes-section svg:hover {
            color: rgb(69, 115, 187);
            fill: rgb(69, 115, 187);
        }
    </style>
    {% include "utils/navbar.html" %}
    <div class="flex" style="height: 80vh">
        <div id="middle"
             style="flex: 0 0 69vw"
             class="pl-8 pr-4 border-r border-gray-200 dark:border-gray-700">
            <div class="flex justify-between place-items-center w-full mb-4">
                <p class="text-gray-600 block mb-2 text-xl uppercase dark:text-gray-500">Recent Activity</p>
                <button class="p-1.5 hover:bg-blue-200 dark:hover:bg-gray-700 rounded-lg mt-5 text-black dark:text-white"
                        aria-label="Filter Events"
                        title="Filter Events">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         class="h-8 w-8"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke="currentColor"
                         stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M8 16H6a2 2 0 01-2-2V6a2 2 0 012-2h8a2 2 0 012 2v2m-6 12h8a2 2 0 002-2v-8a2 2 0 00-2-2h-8a2 2 0 00-2 2v8a2 2 0 002 2z">
                        </path>
                    </svg>
                </button>
            </div>
            <div class="overflow-auto" style="height:calc(100% - 100px)" id="recent-activity-div">
                {% include "learning/recent-activity.html" %}
            </div>
        </div>
        <div id="right"
             style="flex: 0 0 30vw"
             class="border-gray-200 dark:border-gray-700 border-l text-left h-full overflow-auto pt-4">
            <p class="text-gray-600 block mb-2 text-xl uppercase dark:text-gray-500 mx-4">Upcoming Events</p>
            <br>
            <div class="flex flex-col sm:rounded-lg align-middle overflow-auto inline-block overflow-auto"
                 id="upcoming-events" style="height: 90%; width: 90%">
                {% include "learning/upcoming-events.html" %}
            </div>
        </div>
    </div>
    <div id="modal" tabindex="-1"
         class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full pointer-events-none justify-center items-center flex"
         style="scale: 1; opacity: 1; transition: all 0.2s ease 0s;" aria-modal="true" role="dialog">
        <div class="relative p-4 w-full max-w-2xl h-full md:h-auto pointer-events-auto">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-800">
                <div id="dueTime" class="absolute bottom-0 right-0 p-3 text-gray-200 dark:text-gray-500 text-sm">
                    Happening on
                    5/20/22 10:10 AM •
                    <span class="text-red-600 dark:text-red-500">Overdue</span>
                </div>
                <!-- Modal header -->
                <div class="flex justify-between items-start p-4 rounded-t border-b dark:border-gray-600 relative">
                    <div id="header">
                        <h3 class="text-xl font-semibold text-gray-900 dark:text-white truncate h-full"><i
                                class="material-icons" style="
    color: white;
    vertical-align: middle;
    margin-right: 10px;
    font-size: 2em;
    display: inline-block;
">assignment</i>Comp Practice Test 2 (Participation)</h3>
                        <div class="flex mt-2">
                            <img class="inline-block mt-2 rounded-lg dark:bg-gray-900 w-12 h-12"
                                 src="https://asset-cdn.schoology.com/system/files/imagecache/profile_reg/pictures/picture-a4e0cd7501f839a1fa616bc07887b839_5f2c7354873ce.png"
                                 alt="Ms. Nagami 's profile picture">
                            <img src="https://api.schoology.com/sites/all/themes/schoology_theme/images/course-default.svg"
                                 style="margin-left: -30px;margin-top: 40px;margin-right: 10px;"
                                 class="inline-block w-6 h-6 rounded-md">
                            <div class="flex flex-col text-xs">
                                <h4 class="text-lg text-gray-900 dark:text-white truncate cursor-pointer hover:underline"
                                    data-dropdown-toggle="userDropdown-0_0">Mr. Schindler</h4>
                                <span class="bg-gray-300 text-gray-800 text-xs font-normal uppercase
         mr-2 px-2.5 py-0.5 rounded dark:bg-gray-600 dark:text-gray-300"><img class="inline-block rounded-md rounded-full
      shadow-lg dark:bg-gray-900 dark:hover:bg-gray-800 w-6 h-6"
                                                                              src="https://app.schoology.com/sites/all/themes/schoology_theme/images/course-default.svg"
                                                                              alt="Ms. Nagami's profile picture"> Physics 8</span>
                            </div>
                        </div>
                    </div>
                    <button class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
                            onclick="closeModal('modal')">
                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                  clip-rule="evenodd">
                            </path>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                    <div id="postTime" class="absolute bottom-0 right-0 p-3 text-gray-200 dark:text-gray-500 text-sm">
                        Posted at 9:43 am
                    </div>
                </div>
                <!-- Modal body -->
                <div class="p-6 space-y-6">
                    <h1 class="text-white font-bold uppercase" id="descriptionTitle">Description</h1>
                    <div style="max-height: 15rem" class="overflow-auto">
                        <div id="announcementBody" class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                            Do Homework 4 Worksheet. Turn in at end of class on day listed (Day 1 of Week of Oct 17th)
                            <br><br>
                            Be sure to show steps for solving a physics problem when necessary:<br>
                            1)Create a model, define your origin, and set your coordinates<br>
                            2) State all Known Variables<br>
                            3)State Unknown Variables<br>
                            4) Write down all necessary equations<br>
                            5) Write solution by plugging in variables and solving equations<br>
                            6) Check your answer:<br>
                            a) Do dimensional analysis to check all units are correct.<br>
                            <br>
                            b) Ask yourself, is this a reasonable answer for this situation?<br>
                        </div>
                    </div>
                    <div id="submissionsBox">
                        <h1 class="text-white font-bold uppercase">Submission</h1>
                        <div class="bg-gray-800 p-3 rounded-lg" style="
    overflow-y: scroll;
    margin-top: 10px;
    height: 150px;
">
                            <button class="focus:outline-none text-white hover-dim font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:focus:ring-green-800 flex place-items-center justify-center gap-2">
                                <i class="w-6 h-6 inline-block material-icons">upload
                                </i>Upload File
                            </button>
                            <button class="focus:outline-none text-white hover-dim font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 bg-green-700 dark:focus:ring-green-800 flex place-items-center gap-2">
                                <i class="w-6 h-6 inline-block material-icons">check</i>Mark as Done
                            </button>
                            <button class="focus:outline-none text-white hover-dim font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:focus:ring-green-800 flex place-items-center justify-center gap-2">
                                <i class="w-6 h-6 inline-block material-icons">create</i>Create Submission
                            </button>
                            <button class="focus:outline-none text-white hover-dim font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-purple-600 dark:focus:ring-green-800 flex place-items-center justify-center gap-2">
                                <i class="w-6 h-6 inline-block material-icons">description</i>NebulusDoc
                            </button>
                            <button class="focus:outline-none text-white hover-dim font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:focus:ring-green-800 flex place-items-center justify-center gap-2">
                                <i class="fa fa-google inline-block" style="
    font-size: 1.5em;
    vertical-align: middle;
    margin-right: 4px;
"></i>Google Drive
                            </button>
                        </div>
                    </div>
                    <div id="commentBox" style="">
                        <h1 class="text-white font-bold uppercase">Reactions</h1>

                        <div class="dark:text-white text-black" id="likes-section">
                        </div>
                    </div>
                    <button onclick="closeModal('modal')"
                            class="focus:outline-none text-white font-medium bg-green-700 rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 flex place-items-center justify-center gap-2">
                        <svg class="w-6 h-6 inline-block" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                            </path>
                        </svg>
                        Dismiss
                    </button>
                </div>
            </div>
            <script src="/static/js/app.js"></script>
        </div>
    </div>
    <script>
        const announcementEnd = {{ ae }};
        const eventEnd = {{ ee }};
    </script>
    {% include "learning/lms-modal.html" %}
{% endblock %}