<script>
    window.addEventListener('load', function () {
        if (window.location.href[window.location.href.length - 1] === "/") {
            document.getElementById("footer1").classList.remove("dark:bg-gray-800");
            document.getElementById("footer1").classList.add("dark:bg-gray-800/50");
            document.getElementById("footer2").classList.remove("dark:bg-gray-700");
            document.getElementById("footer2").classList.add("dark:bg-gray-800/50");
        }
    });

</script>
<br>
<br>
<footer id="footer1"
        class="noselect dark:bg-gray-800/50 bg-gray-100/50"
        style="    padding-left: 64px; ">
    <div class="grid grid-cols-2 gap-8 py-8 px-6 md:grid-cols-4">
        <div>
            <h3 class="mb-6 text-sm font-semibold dark:text-gray-400 text-gray-900 uppercase">Company</h3>
            <ul>
                <li class="mb-4">
                    <a href="/about"
                       target="_blank"
                       rel="noreferrer"
                       class="dark:text-gray-300 text-gray:800 hover:underline">About</a>
                </li>
                <li class="mb-4">
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSdwH7bH4fuswluj4AAWS7ocEZzB9fON6ZY6WQIpZwhcruCt_A/viewform"
                       target="_blank"
                       rel="noreferrer"
                       class="dark:text-gray-300 text-gray:800 hover:underline">Careers</a>
                </li>
                <li class="mb-4">
                    <a href="https://github.com/ProjectNebulus"
                       target="_blank"
                       rel="noreferrer"
                       class="dark:text-gray-300 text-gray:800 hover:underline">GitHub</a>
                </li>
                <li class="mb-4">
                    <a href="mailto: support@nebulus.app?subject=Nebulus Support"
                       target="_blank"
                       rel="noreferrer"
                       class="dark:text-gray-300 text-gray:800 hover:underline">support@nebulus.app</a>
                </li>
            </ul>
        </div>
        <div>
            <h3 class="mb-6 text-sm font-semibold dark:text-gray-400 text-gray-900 uppercase">Social Media</h3>
            <ul>
                <li class="mb-4">
                    <a href="https://discord.gg/nebulus"
                       target="_blank"
                       rel="noreferrer"
                       class="dark:text-gray-300 text-gray:800 hover:underline">Discord Server</a>
                </li>
                <li class="mb-4">
                    <a href="https://twitter.com/nebuluslearning"
                       target="_blank"
                       rel="noreferrer"
                       class="dark:text-gray-300 text-gray:800 hover:underline">Twitter</a>
                </li>
                <li class="mb-4">
                    <a href="https://www.facebook.com/profile.php?id=100079149206273"
                       target="_blank"
                       rel="noreferrer"
                       class="dark:text-gray-300 text-gray:800 hover:underline">Facebook</a>
                </li>
                <li class="mb-4">
                    <a href="https://www.linkedin.com/company/nebulus-lms"
                       target="_blank"
                       rel="noreferrer"
                       class="dark:text-gray-300 text-gray:800 hover:underline">Linkedin</a>
                </li>
                <li class="mb-4">
                    <a href="https://www.youtube.com/channel/UCcuhNzvkjNkEYdJFuGsH4wg/about"
                       target="_blank"
                       rel="noreferrer"
                       class="dark:text-gray-300 text-gray:800 hover:underline">YouTube</a>
                </li>
                <li class="mb-4">
                    <a href="https://discord.gg/4tANVhXdeK"
                       target="_blank"
                       rel="noreferrer"
                       class="dark:text-gray-300 text-gray:800 hover:underline">Contact Us</a>
                </li>
            </ul>
        </div>
        <div>
            <h3 class="mb-6 text-sm font-semibold dark:text-gray-400 text-gray-900 uppercase">Legal</h3>
            <ul>
                <li class="mb-4">
                    <a href="https://privacypolicy.nebuluslms.repl.co/"
                       target="_blank"
                       rel="noreferrer"
                       class="dark:text-gray-300 text-gray:800 hover:underline">Privacy Policy</a>
                </li>
                <li class="mb-4">
                    <a href=" https://docs.google.com/document/d/1XjNHjBRS2xJWKObo_zuQ2oPVSKQ8EK8Y_o8e77VPZf4/edit?usp=sharing"
                       target="_blank"
                       rel="noreferrer"
                       class="dark:text-gray-300 text-gray:800 hover:underline">Terms
                    &amp; Conditions</a>
                </li>
            </ul>
        </div>
        <div>
            <h3 class="mb-6 text-sm font-semibold dark:text-gray-400 text-gray-900 uppercase">Versions</h3>
            <ul>
                <li class="mb-4">
                    <a href="https://beta.nebulus.app"
                       target="_blank"
                       rel="noreferrer"
                       class="dark:text-gray-300 text-gray:800 hover:underline">Web Beta
                        <span class="bg-blue-100 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800">June 2022</span></a>
                </li>
                <li class="mb-4">
                    <a href="https://beta.nebulus.app"
                       target="_blank"
                       rel="noreferrer"
                       class="dark:text-gray-300 text-gray:800 hover:underline">Web Beta
                        <span class="bg-blue-100 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800">June 2022</span></a>
                </li>
                <li class="mb-4">
                    <a href="https://beta.nebulus.app/ComingSoon"
                       target="_blank"
                       rel="noreferrer"
                       class="dark:text-gray-300 text-gray:800 hover:underline">Desktop Apps
                        <span class="bg-blue-100 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800">Coming Soon</span></a>
                </li>
                <li class="mb-4">
                    <a href="https://beta.nebulus.app/ComingSoon"
                       target="_blank"
                       rel="noreferrer"
                       class="dark:text-gray-300 text-gray:800 hover:underline"><span style="font-family: 'Courier New', Courier, monospace"></span> IOS
                        <span class="bg-blue-100 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800">Coming Soon</span></a>
                </li>
                <li class="mb-4">
                    <a href="https://beta.nebulus.app/ComingSoon"
                       target="_blank"
                       rel="noreferrer"
                       class="dark:text-gray-300 text-gray:800 hover:underline"><span style="font-family: 'Courier New', Courier, monospace"></span> watchOS
                        <span class="bg-blue-100 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800">Coming Soon</span></a>
                </li>
            </ul>
        </div>
    </div>
    <div id="footer2"
         class="py-6 px-4 md:flex md:items-center md:justify-between dark:bg-gray-900/50 bg-gray-200/50 dark:bg-gray-800/50"
         style=" ">
        <span class="text-sm dark:text-gray-300 text-gray:800 sm:text-center">
            <a href="/"
               class="flex items-center"
               aria-label="Home Page"
               onmouseover="this.children[0].src = v3Image;"
               onmouseout="this.children[0].src = list[3]">
                <img src="/static/images/nebulusCats/newBlurple.png"
                     class="img_ mr-3 h-9 lg:h-12"
                     alt="Nebulus Logo">
                <span class="self-center text-xl whitespace-nowrap dark:text-white">
                    <span id="company" class="text-2xl" style="float:left;">Nebulus</span>
                    <span class="gradient-text hidden lg:block"
                          id="country"
                          style="margin-top: 2rem; font-size: 1.05rem; transform: translate(0, -0.4rem)">
                        Learning
                    </span>
                </span>
            </a>
        </span>
        <div class="flex mt-4 text-lg space-x-6 sm:justify-center md:mt-0 text-black dark:text-white ">
            <p>A Learning, All In One Experience. | Nebulus. Education. Redefined.</p>
        </div>
    </div>
</footer>
