<style>
    .gradient-text {
        background: -webkit-linear-gradient(left, #f59542, #42cbf5, #42f578);

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bolder;
    }

    #changePage ul li[href] {
        display: flex;
        place-items: center;
    }
</style>
<nav class="noselect w-full sticky backdrop-blur-sm top-0 z-10 border-gray-200 px-2 py-2 rounded-lg bg-gray-300/30 dark:bg-gray-800/30 h-auto"
     id="navbar" aria-label="Navigation Bar">
    <div class="container flex flex-wrap justify-between items-center mx-auto">
        <div class="flex">
            <!-- Left -->
            <div class="flex">
                <a href="/"
                   class="flex items-center"
                   aria-label="Home Page"
                   onmouseover="this.children[0].src = v3Image;"
                   onmouseout="this.children[0].src = list[3]">
                    <img src="/static/images/nebulusCats/newBlurple.png"
                         class="img_ mr-3 h-9 lg:h-12"
                         alt="Nebulus Logo">
                    <span class="self-center text-xl whitespace-nowrap dark:text-white">
                        <span id="company" class="text-2xl" style="float:left;">{{ translate('Nebulus') }}</span>
                        <span class="{% if translate("Learning") == "Learning" %} gradient-text {% else %}text-red-600{% endif %} hidden lg:block"
                              id="country"
                              style="margin-top: 2rem; font-size: 1.05rem; transform: translate(0, -0.4rem)">
                            {{ translate("Learning") }}
                        </span>
                    </span>
                </a>
            </div>
            {% if not user %}
                <div class="hidden justify-between items-center w-full lg:flex md:w-auto md:order-1"
                     id="mobile-menu-2"
                     style="margin-left:5rem;margin-top:0.1rem">
                    <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm dark:text-gray-200"
                        aria-label="Navigation Links">
                        <li>
                            <a href="/about" class="nav-link">{{ translate("About") }}</a>
                        </li>
                        <li>
                            <a href="/pricing" class="nav-link">{{ translate("Pricing") }}</a>
                        </li>
                        <li>
                            <a href="/support" class="nav-link">Support</a>
                        </li>
                        <li>
                            <a href="/blog" class="nav-link">Blog</a>
                        </li>
                        <li>
                            <a href="/enterpise" class="nav-link">Enterprise</a>
                        </li>
                        <li>
                            <a href="/developers" class="nav-link">Developers</a>
                        </li>
                        <li>
                            <a href="/select-a-region" class="nav-link"><i class="material-icons">language</i></a>
                        </li>
                        <li>
                            <button id="theme-toggle"
                                    type="button"
                                    class="nav-link block py-2 px-1 text-sm text-gray-700 dark:text-gray-200 dark:hover:text-white">
                                <i id="theme-toggle-dark-icon" class="hidden material-icons">light_mode</i>
                                <i id="theme-toggle-light-icon" class="hidden material-icons">dark_mode</i>
                            </button>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </div>
        {% if user %}
            <div class="flex gap-4">
            <!-- Middle -->
            <button onclick="openModal('searchModal')"
                    id="search"
                    type="button"
                    class="hidden sm:flex items-center w-64 text-left space-x-3 px-4 h-12 bg-white/75 ring-1 ring-slate-900/10 hover:ring-slate-300 focus:outline-none focus:ring-2 focus:ring-sky-500 shadow-sm rounded-lg text-slate-400 dark:bg-slate-800/75 dark:ring-0 dark:text-slate-300 dark:highlight-white/5 dark:hover:bg-slate-700 text-sm">
                <svg width="24"
                     height="24"
                     fill="none"
                     stroke="currentColor"
                     stroke-width="2"
                     stroke-linecap="round"
                     stroke-linejoin="round"
                     class="flex-none text-slate-300 dark:text-slate-400"
                     aria-hidden="true">
                    <path d="m19 19-3.5-3.5"></path>
                    <circle cx="11" cy="11" r="6"></circle>
                </svg>
                <span class="w-full">Quick search...</span><kbd
                    class="font-sans font-semibold dark:text-slate-500 flex">
                <abbr title="Command"
                      class="no-underline text-slate-300 dark:text-slate-500 mr-2">⌘</abbr> K</kbd>
            </button>
            <button data-dropdown-toggle="changePage"
                    class="hidden sm:flex items-center text-left space-x-3 px-4 h-12 bg-white/75 ring-1 ring-slate-900/10 hover:ring-slate-300 focus:outline-none focus:ring-2 focus:ring-sky-500 shadow-sm rounded-lg text-slate-400 dark:bg-slate-800/75 dark:ring-0 dark:text-slate-300 dark:highlight-white/5 dark:hover:bg-slate-700 text-sm"
                    type="button">
                <img class="w-8 h-8 rounded-lg hidden" id="navigationImage" src="">
                <span id="pageTitle">Navigate to...</span>
                <svg class="ml-2 w-4 h-4"
                     aria-hidden="true"
                     fill="none"
                     stroke="currentColor"
                     viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                </svg>
            </button>
            <div id="changePage" class="z-40 py-2 bg-white rounded shadow dark:bg-gray-800 text-sm flex text-gray-700
             dark:text-gray-200 whitespace-nowrap divide-x divide-gray-300 dark:divide-gray-700 hidden">
                <ul aria-labelledby="dropdownDefault">
                    <li class="text-gray-500 dark:text-gray-400 text-lg ml-4">Main</li>
                    <li href="/app">
                        <span>home</span>
                        App
                    </li>
                    <li href="/courses">
                        <span>school</span>
                        Courses
                    </li>
                    <li href="/calendar">
                        <span>event</span>
                        Calendar
                    </li>
                    <li href="/planner">
                        <span>event_note</span>
                        Planner
                    </li>
                </ul>
                <ul>
                    <li class="text-gray-500 dark:text-gray-400 text-lg ml-4">Tools</li>
                    <li href="/study">
                        <span>auto_stories</span>
                        SmartStudy
                    </li>
                    <li href="/chat?email">
                        <span>mail</span>
                        Email
                    </li>
                    <li href="/chat">
                        <span>forum</span>
                        Chat
                    </li>
                    <li href="/music">
                        <span>music_note</span>
                        Music
                    </li>
                </ul>
                <ul>
                    <li class="text-gray-500 dark:text-gray-400 text-lg ml-4">Recent (wip)</li>
                    <li class="pl-4 pr-8 mt-2">No recent activity</li>
                </ul>
            </div>
            <div id="extraWidgets"></div>
        {% endif %}
        </div>

        <!--Right -->
        {% if user %}
            <button data-dropdown-toggle="control-center"
                    aria-label="Control Center"
                    class="rounded-full border-gray-300 border-none w-12 h-12 bg-gray-300 {% if "black" not in avatar %} dark:bg-gray-900 dark:hover:bg-gray-800 {% endif %}">
                <logo image="{{ avatar }}" no-revert class="h-8 mx-auto my-auto"></logo>
            </button>
        {% else %}
            <div class="flex md:order-2">
                <a href="/signin">
                    <button id="login"
                            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        {{ translate("Login") }}
                    </button>
                </a>
                <a href="/signup">
                    <button id="signup"
                            class="text-white text-white bg-gradient-to-r from-green-400 via-blue-600 to-orange-400 hover:bg-gradient-to- focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
                        {{ translate("Get Started") }}
                    </button>
                </a>
            </div>
        {% endif %}
    </div>
</nav>
<div id="control-center" style="width:500px;"
     class="bg-gray-300/75 dark:bg-gray-800/75 p-4 rounded-lg dark:border-gray-700 border hidden backdrop-blur-sm grid-cols-2 z-50">
    {% include "utils/control.html" %}
</div>
<script src="/static/js/utils/navbar.js"></script>
<div id="searchModal"
     tabindex="-1"
     aria-hidden="true"
     class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
    <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-800">
            <!-- Modal header -->
            <div class="flex justify-between items-start p-5 rounded-t border-b dark:border-gray-600">
                <div class="text-xl font-semibold text-gray-900 lg:text-2xl dark:text-white">
                    <label for="default-search"
                           class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-gray-300">Search</label>
                    <div class="relative">
                        <div id="searchStatus"
                             class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                            <svg aria-hidden="true" class="w-10 h-10 text-gray-500 dark:text-gray-400 mb-1" fill="none"
                                 stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                            </svg>
                        </div>
                        <input type="text" id="search_input"
                               class="block p-4 w-full text-gray-900 bg-transparent focus:border-blue-500
                                dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500
                                 dark:focus:border-blue-500"
                               style="margin-left: 3.5rem" placeholder="Search Nebulus" autocomplete="off">
                    </div>
                </div>
                <button type="button"
                        onclick="closeModal('searchModal');"
                        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
                        data-modal-toggle="searchModal">
                    <svg class="w-5 h-5 mb-1"
                         fill="currentColor"
                         viewBox="0 0 20 20"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                              clip-rule="evenodd">
                        </path>
                    </svg>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6 dark:text-white text-black">
                <div class="mb-6">
                    <script>keyUpDelay("#search_input", 500, searchWithin)</script>
                    <h1 class="text-gray-400 uppercase font-bold">Results (<span id="resultCount">0</span>)</h1>
                    <ul id="search_items" class="overflow-auto h-48 mt-5">
                        <li>
                            <div class="rounded-lg mx-auto block dark:hover:text-white">
                                No Results Yet
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>