<style>
    .gradient-text {
        background: -webkit-linear-gradient(left, #42cbf5, #42f578);

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bolder;
    }
</style>
<nav class="noselect w-full sticky backdrop-blur-sm top-0 z-10 border-gray-200 px-2 py-2 rounded-lg bg-gray-300/30 dark:bg-gray-800/30 h-auto"
     id="navbar"
     style="margin-bottom: 40px;"
     aria-label="Navigation Bar">
    <div class="container flex flex-wrap justify-between items-center mx-auto">
        <div class="flex">
            <!-- Left -->
            <div class="flex">
                <a href="/"
                   class="flex items-center"
                   aria-label="Home Page"
                   onmouseover="this.children[0].src = v3Image;"
                   onmouseout="this.children[0].src = list[3]">
                    <img src="/static/images/nebulusCats/newBlurple.png"
                         class="img_ mr-3 h-9 lg:h-12"
                         alt="Nebulus Logo">
                    <span class="self-center text-xl whitespace-nowrap dark:text-white">
                        <span id="company" class="text-2xl text-gray-600 dark:text-white"
                              style="float:left;">{{ translate('Nebulus') }}</span>
                        <span class="{% if translate("Learning") == "Learning" %} gradient-text {% else %}text-red-600{% endif %} hidden lg:block"
                              id="country"
                              style="margin-top: 2rem; font-size: 1.05rem; transform: translate(0, -0.4rem)">
                            {{ translate("Learning") }}
                        </span>
                    </span>
                </a>
            </div>
            {% if not user %}
                <div class="hidden justify-between items-center w-full lg:flex md:w-auto md:order-1"
                     id="mobile-menu-2"
                     style="margin-left:5rem;margin-top:0.1rem">
                    <ul style="list-style: none;"
                        class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm dark:text-gray-200"
                        aria-label="Navigation Links">
                        <li>
                            <a href="/about" class="nav-link">{{ translate("About") }}</a>
                        </li>
                        <li>
                            <a href="/pricing" class="nav-link">{{ translate("Pricing") }}</a>
                        </li>
                        <li>
                            <a href="/support" class="nav-link">Support</a>
                        </li>
                        <li>
                            <a href="/blog" class="nav-link">Blog</a>
                        </li>
                        <li>
                            <a href="/enterprise" class="nav-link">Enterprise</a>
                        </li>
                        <li>
                            <a href="/developers" class="nav-link">Developers</a>
                        </li>
                        <li>
                            <a href="/select-a-region" class="nav-link"><i class="material-icons">language</i></a>
                        </li>
                        <li>
                            <button id="theme-toggle"
                                    type="button"
                                    class="nav-link">
                                <i id="theme-toggle-dark-icon" class="hidden material-icons">light_mode</i>
                                <i id="theme-toggle-light-icon" class="hidden material-icons">dark_mode</i>
                            </button>
                        </li>
                    </ul>
                </div>
            {% endif %}
            {% if user and homepage %}
                <div class="hidden justify-between items-center w-full lg:flex md:w-auto md:order-1"
                     id="mobile-menu-2"
                     style="margin-left:5rem;margin-top:0.1rem">
                    <ul style="list-style: none;"
                        class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm dark:text-gray-200"
                        aria-label="Navigation Links">
                        <li>
                            <a href="/about" class="nav-link">{{ translate("About") }}</a>
                        </li>
                        <li>
                            <a href="/pricing" class="nav-link">{{ translate("Pricing") }}</a>
                        </li>
                        <li>
                            <a href="/support" class="nav-link">Support</a>
                        </li>
                        <li>
                            <a href="/blog" class="nav-link">Blog</a>
                        </li>
                        <li>
                            <a href="/enterprise" class="nav-link">Enterprise</a>
                        </li>
                        <li>
                            <a href="/developers" class="nav-link">Developers</a>
                        </li>
                        <li>
                            <a href="/select-a-region" class="nav-link"><i class="material-icons">language</i></a>
                        </li>
                        <li>
                            <button id="theme-toggle"
                                    type="button"
                                    class="nav-link">
                                <i id="theme-toggle-dark-icon" class="hidden material-icons">light_mode</i>
                                <i id="theme-toggle-light-icon" class="hidden material-icons">dark_mode</i>
                            </button>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </div>
        {% if user and not homepage %}
            <div style="">
                <!-- Middle -->
                <button onclick="openModal('searchModal');"
                        id="search"
                        style="float:left;
                               vertical-align: middle;"
                        type="button"
                        class="hidden lg:flex items-center w-64 text-left space-x-3 px-4 h-12 bg-gray-300 ring-1 ring-slate-900/10 hover:ring-slate-300 focus:outline-none focus:ring-2 focus:ring-sky-500 shadow-sm rounded-lg text-gray-600 dark:bg-slate-800/75 dark:ring-0 dark:text-slate-300 dark:highlight-white/5 dark:hover:bg-slate-700 text-sm">
                    <svg width="24"
                         height="24"
                         fill="none"
                         stroke="currentColor"
                         stroke-width="2"
                         stroke-linecap="round"
                         stroke-linejoin="round"
                         class="flex-none text-slate-300 dark:text-slate-400"
                         aria-hidden="true">
                        <path d="m19 19-3.5-3.5"></path>
                        <circle cx="11" cy="11" r="6"></circle>
                    </svg>
                    <span class="w-full">Quick search...</span><kbd
                        class="font-sans font-semibold dark:text-slate-500 flex">
                    <abbr title="Command"
                          class="no-underline text-slate-300 dark:text-slate-500 mr-2">⌘</abbr> K</kbd>
                </button>
                <button onclick="openModal('searchModal');"
                        id="search"
                        style="border-radius:50%;  float:left;
                               vertical-align: middle;"
                        type="button"
                        class="flex lg:hidden items-center w-12 text-left space-x-3 px-4 h-12 bg-white/75 ring-1 ring-slate-900/10 hover:ring-slate-300 focus:outline-none focus:ring-2 focus:ring-sky-500 shadow-sm rounded-lg text-slate-400 dark:bg-slate-800/75 dark:ring-0 dark:text-slate-300 dark:highlight-white/5 dark:hover:bg-slate-700 text-sm">
                    <svg width="24"
                         height="24"
                         fill="none"
                         stroke="currentColor"
                         stroke-width="2"
                         stroke-linecap="round"
                         stroke-linejoin="round"
                         class="flex-none"
                         aria-hidden="true">
                        <path d="m19 19-3.5-3.5"></path>
                        <circle cx="11" cy="11" r="6"></circle>
                    </svg>

                </button>
                <button data-dropdown-toggle="changePage"
                        class="hidden lg:flex items-center w-64 text-left space-x-3 px-4 h-12 bg-gray-300 ring-1 ring-slate-900/10 hover:ring-slate-300 focus:outline-none focus:ring-2 focus:ring-sky-500 shadow-sm rounded-lg text-gray-600 dark:bg-slate-800/75 dark:ring-0 dark:text-slate-300 dark:highlight-white/5 dark:hover:bg-slate-700 text-smm"
                        type="button"
                        style="float: left;
                       margin-left: 20px;
                       vertical-align: middle;">
                    <img class="hidden object-cover rounded-lg inline-block"
                         style="height:40px;width:40px; margin: 10px;" id="navigationImage"><span id="pageTitle">Navigate to...</span>
                    <svg class="ml-2 w-4 h-4"
                         aria-hidden="true"
                         fill="none"
                         stroke="currentColor"
                         viewBox="0 0 24 24"
                         xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                    </svg>
                </button>
                <button data-dropdown-toggle="changePage"
                        class="lg:hidden items-center w-12 text-left space-x-3 px-4 h-12 bg-white/75 ring-1 ring-slate-900/10 hover:ring-slate-300 focus:outline-none focus:ring-2 focus:ring-sky-500 shadow-sm rounded-lg text-slate-400 dark:bg-slate-800/75 dark:ring-0 dark:text-slate-300 dark:highlight-white/5 dark:hover:bg-slate-700 text-sm"
                        type="button" style="border-radius:50%; float: left;
                       margin-left: 20px;
                       vertical-align: middle;">

                    <i class="material-icons h-4 w-4"> menu </i>
                </button>
                <div id="changePage"
                     class="z-40 py-2 w-44 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-800 hidden"
                     style="position: absolute;
                    inset: 0px auto auto 0px;
                    margin: 0px;
                    transform: translate3d(512.5px, 72px, 0px);"
                     data-popper-placement="bottom">
                    <ul class="text-sm text-gray-700 dark:text-gray-200 align-left"
                        aria-labelledby="dropdownDefault">
                        <a href="/app"
                           class="py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white flex gap-4 cursor-pointer">
                            <span class="material-icons text-gray-600 dark:text-gray-300">home</span>
                            App
                        </a>
                        <a href="/courses"
                           class="py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white flex gap-4 cursor-pointer">
                            <span class="material-icons text-gray-600 dark:text-gray-300">school</span>
                            Courses
                        </a>
                        <a href="/calendar"
                           class="py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white flex gap-4 cursor-pointer">
                            <span class="material-icons text-gray-600 dark:text-gray-300">event</span>
                            Calendar
                        </a>
                        <a href="/planner"
                           class="py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white flex gap-4 cursor-pointer">
                            <span class="material-icons text-gray-600 dark:text-gray-300">event_note</span>
                            Planner
                        </a>
                        <a href="/files"
                           class="py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white flex gap-4 cursor-pointer">
                            <span class="material-icons text-gray-600 dark:text-gray-300">description</span>
                            Files
                        </a>
                        <a href="/clubs"
                           class="py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white flex gap-4 cursor-pointer">
                            <span class="material-icons text-gray-600 dark:text-gray-300">groups</span>
                            Clubs
                        </a>
                    </ul>
                </div>
                <button style=" border-radius: 50%; float: left; margin-right:10px; "
                        data-dropdown-toggle="app_dropdown"
                        class="mx-4 flex items-center text-left space-x-3 w-12 h-12 bg-gray-300 dark:bg-slate-800/75 hover:bg-gray-700 text-gray-600 dark:text-white font-medium rounded-lg text-sm pl-4 py-2.5 text-center">
                    <span style="font-size: 18px;" id="current_app" class="material-icons">school</span>
                </button>
                <div id="app_dropdown"
                     class="z-10 w-96 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-800 backdrop-blur-sm hidden"
                     style="padding: 15px;border-radius: 5px;backdrop-filter: blur(10px) !important;position: absolute;inset: 0px auto auto 0px;margin: 0px;transform: translate3d(750.5px, 72px, 0px);"
                     data-popper-placement="bottom">
                    <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefault">
                        <a href="/app" style="text-align: center;">
                            <li style=" margin: 5px; display: inline-block; width: 100px; height: 100px; border-radius: 5px; padding: 10px; "
                                class="dark:hover:bg-gray-800">
                                <button style="
    margin: auto;
    margin-bottom: 10px;
" class="flex items-center text-white rounded-lg text-sm text-center">
                                    <span style="font-size: 30px;color: #ff6d6d;" class="material-icons">school</span>
                                </button>
                                <br>
                                <span class="text-white" style="font-size: 15px;font-weight: 700;">Learning</span>
                            </li>
                        </a>
                        <a href="/chat" style=" text-align: center; display: inline-block; ">
                            <li style=" margin: 5px; width: 100px; height: 100px; border-radius: 5px; padding: 10px; "
                                class="dark:hover:bg-gray-800">
                                <button style="
    margin: auto;
    margin-bottom: 10px;
" class="flex items-center text-white rounded-lg text-sm text-center">
                                    <span style="font-size: 30px;color: #6dff8b;" class="material-icons">forum</span>
                                </button>
                                <br>
                                <span style="font-size: 15px;font-weight: 700;" class="text-white">Chat</span>
                            </li>
                        </a>
                        <a href="/study" style=" display: inline-block; text-align: center; ">
                            <li style=" margin: 5px; width: 100px; height: 100px; border-radius: 5px; padding: 10px; "
                                class="dark:hover:bg-gray-800">
                                <button class="flex items-center text-white rounded-lg text-sm text-center" style="
    margin: auto;
    margin-bottom: 10px;
">
                                    <span style="font-size: 30px;color: #6db0ff;" class="material-icons">timer</span>
                                </button>
                                <br>
                                <span style="font-size: 15px;font-weight: 700;" class="text-white">Study</span>
                            </li>
                        </a><a href="/music" style="display: inline-block;text-align: center;">
                        <li style=" margin: 5px; width: 100px; height: 100px; border-radius: 5px; padding: 10px; "
                            class="dark:hover:bg-gray-800">
                            <button class="flex items-center text-white rounded-lg text-sm text-center" style="
    margin: auto;
    margin-bottom: 10px;
">
                                <span style="font-size: 30px;color: #ffd56d;" class="material-icons">music_note</span>
                            </button>
                            <br>
                            <span style="font-size: 15px;font-weight: 700;" class="text-white">Music</span>
                        </li>
                    </a><a href="/documents" style=" display: inline-block; ">
                        <li style=" margin: 5px; width: 100px; height: 100px; border-radius: 5px; padding: 10px; "
                            class="dark:hover:bg-gray-800">
                            <button class="flex items-center text-white rounded-lg text-sm text-center" style="
    margin: auto;
    margin-bottom: 10px;
">
                                <span style="font-size: 30px;color: #c16dff;" class="material-icons">description</span>
                            </button>
                            <br>
                            <span style="font-size: 15px;font-weight: 700;" class="text-white">Documents</span>
                        </li>
                    </a>
                    </ul>
                </div>
                <div id="extraWidgets" style=" display: inline-block; ">
                </div>
            </div>
        {% endif %}
        <div style="display: grid; grid-auto-flow: column; align-content: center;">
            <!--Right -->
            {% if user and not homepage %}
                <button data-dropdown-toggle="control-center"
                        aria-label="Control Center"
                        class="rounded-full border-gray-300 border-none w-12 h-12 bg-gray-300  {% if "black" in avatar %} dark:bg-white {% else %} dark:bg-gray-900 dark:hover:bg-gray-800 {% endif %}">
                    <logo image="{{ avatar }}" no-revert class="h-8 mx-auto my-auto"></logo>
                </button>
            {% elif user and homepage %}
                <div class="flex md:order-2">
                    <a href="/app">
                        <button id="signup"
                                class="text-white text-white bg-gradient-to-r from-green-400 to-blue-600 hover:bg-gradient-to- focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
                            {{ translate("Launch Nebulus") }}
                        </button>
                    </a>
                </div>
            {% else %}
                <div class="flex md:order-2">
                    <a href="/signin">
                        <button id="login"
                                class="text-white bg-gradient-to-r from-blue-500 to-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            {{ translate("Login") }}
                        </button>
                    </a>
                    <a href="/signup">
                        <button id="signup"
                                class="text-white text-white bg-gradient-to-r from-green-400 to-blue-600 hover:bg-gradient-to- focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
                            {{ translate("Get Started") }}
                        </button>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</nav>
<div id="control-center" style="width:400px;"
     class="bg-gray-300/75 dark:bg-gray-800/75 p-4 rounded-lg dark:border-gray-700 border hidden backdrop-blur-sm grid-cols-2 z-50">
    {% include "utils/control.html" %}
</div>
<script src="/static/js/utils/navbar.js"></script>
<div id="searchModal"
     tabindex="-1"
     aria-hidden="true"
     class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
    <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-800">
            <!-- Modal header -->
            <div class="flex justify-between items-start p-5 rounded-t border-b dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 lg:text-2xl dark:text-white">
                    <form>
                        <label for="default-search"
                               class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-gray-300">Search</label>
                        <div class="relative">
                            <div id="searchStatus"
                                 class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                                <svg aria-hidden="true" class="w-8 h-8 text-gray-500 dark:text-gray-400" fill="none"
                                     stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                                </svg>
                            </div>
                            <input type="text" id="search_input"
                                   class="block p-4 pl-10 w-full text-sm text-gray-900 bg-white rounded-lg  focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                   placeholder="Search my Nebulus" required="" autocomplete="off" style="
    font-size: 1.5em;
    margin-left: 20px;
">

                        </div>
                    </form>
                </h3>
                <button type="button"
                        onclick="closeModal('searchModal');"
                        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
                        data-modal-toggle="searchModal">
                    <svg class="w-5 h-5"
                         fill="currentColor"
                         viewBox="0 0 20 20"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                              clip-rule="evenodd">
                        </path>
                    </svg>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6 dark:text-white text-black">
                <div class="mb-6">
                    <script>keyUpDelay("#search_input", 100, searchWithin)</script>
                    <h1 class="text-gray-400 uppercase font-bold">Results (<span id="resultCount">0</span>)</h1>
                    <ul id="search_items" class="scroll" style="
    height: 200px;
    margin: 20px;
    overflow-y: scroll;
">
                        <li>
                            <div class="rounded-lg mx-auto block dark:hover:text-white">
                                No Results Yet
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>