{% if not disablesidebar %}
    <style>
        #sidebar_ > div {
            width: 4rem;
            transition: width 0.5s;
        }

        #sidebar_:hover > div {
            width: 13rem;
        }

        #sidebar_ .text_nav {
            opacity: 0;
            transition: 0.75s;
            white-space: nowrap;
        }

        #sidebar_:hover .text_nav {
            opacity: 100;
        }
    </style>
    {% if user %}
        <aside id="sidebar_"
               class="overflow-y-auto fixed z-30"
               aria-label="Sidebar"
               style="height: calc(100% - 76px)">
            <div class="overflow-y-auto py-4 px-3 backdrop-blur-sm bg-gray-100/50 rounded dark:bg-gray-800/50">
                <ul class="space-y-2">
                    <li>
                        <a href="/app"
                           class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                            <p class="dark:text-gray-400 material-icons">home</p>
                            <span class="ml-3 text_nav">App</span>
                        </a>
                    </li>
                    <li>
                        <a href="/overview"
                           class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                            <p class="dark:text-gray-400 material-icons">flare</p>
                            <span class="ml-3 text_nav">Overview</span>
                        </a>
                    </li>
                    <li>
                        <a href="/courses"
                           class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                            <p class="dark:text-gray-400 material-icons">school</p>
                            <span class="ml-3 text_nav">Courses</span>
                        </a>
                    </li>
                    <li>
                        <a href="/calendar"
                           class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                            <p class="dark:text-gray-400 material-icons">calendar_month</p>
                            <span class="ml-3 text_nav">Calendar</span>
                        </a>
                    </li>
                    <li>
                        <a href="/files"
                           class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                            <p class="dark:text-gray-400 material-icons">article</p>
                            <span class="ml-3 text_nav">Files</span>
                        </a>
                    </li>
                    <li>
                        <div class="relative" id="chat-icon-sidebar">
                            <a href="/chat"
                               class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                                <p class="dark:text-gray-400 material-icons">forum</p>
                                <span class="ml-3 text_nav">Chat</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <a href="/chat?email=email"
                           class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                            <p class="dark:text-gray-400 material-icons">email</p>
                            <span class="ml-3 text_nav">Email</span>
                        </a>
                    </li>
                    <li>
                        <a href="/music"
                           class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                            <p class="dark:text-gray-400 material-icons">music_note</p>
                            <span class="ml-3 text_nav">Music</span>
                        </a>
                    </li>
                    <li>
                        <a href="/study"
                           class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                            <p class="dark:text-gray-400 material-icons">timer</p>
                            <span class="ml-3 text_nav">Study Timer</span>
                        </a>
                    </li>
                    <li>
                        <a href="/scheduler"
                           class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                            <p class="dark:text-gray-400 material-icons">history</p>
                            <span class="ml-3 text_nav">Scheduler</span>
                        </a>
                    </li>
                    <li>
                        <a href="/study-planner"
                           class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                            <p class="dark:text-gray-400 material-icons">menu_book</p>
                            <span class="ml-3 text_nav">Study Planner</span>
                        </a>
                    </li>
                    <li>
                        <a href="/documents"
                           class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                            <p class="dark:text-gray-400 material-icons">description</p>
                            <span class="ml-3 text_nav">Documents</span>
                        </a>
                    </li>
                    <li>
                        <a href="/notepad"
                           class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                            <p class="dark:text-gray-400 material-icons">edit</p>
                            <span class="ml-3 text_nav">Notepad</span>
                        </a>
                    </li>
                    <li>
                        <a href="/planner"
                           class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                            <p class="dark:text-gray-400 material-icons">
                                event_note
                            </p>
                            <span class="ml-3 text_nav">Planner</span>
                        </a>
                    </li>
                    <li>
                        <a href="/lunch"
                           class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                            <p class="dark:text-gray-400 material-icons">
                                lunch_dining
                            </p>
                            <span class="ml-3 text_nav">Lunch Planner</span>
                        </a>
                    </li>
                    <li>
                        <a href="/extra-curricular"
                           class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                            <p class="dark:text-gray-400 material-icons">
                                sports_basketball
                            </p>
                            <span class="ml-3 text_nav">Extra-curricular</span>
                        </a>
                    </li>
                    <li>
                        <a href="/vacation"
                           class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                            <p class="dark:text-gray-400 material-icons">
                                villa
                            </p>
                            <span class="ml-3 text_nav">Vacation Mode</span>
                        </a>
                    </li>
                    <li>
                        <a href="/upgrade"
                           class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                            <p class="dark:text-gray-400 material-icons">
                                upgrade
                            </p>
                            <span class="ml-3 text_nav">Upgrade</span>
                        </a>
                    </li>
                    <li>
                        <a href="/blog"
                           class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                            <p class="dark:text-gray-400 material-icons">
                                sms
                            </p>
                            <span class="ml-3 text_nav">Blog</span>
                        </a>
                    </li>
                    <li>
                        <a href="/support"
                           class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                            <p class="dark:text-gray-400 material-icons">
                                support_agent
                            </p>
                            <span class="ml-3 text_nav">Support</span>
                        </a>
                    </li>
                </ul>
            </div>
        </aside>
    {% endif %}
{% endif %}
<script>
    if (window.location.pathname !== "/chat") {
        io = window.io;

        let chat_sidebar = document.getElementById('chat-icon-sidebar');
        chat_sidebar.insertAdjacentHTML('beforeend', `
            <span id="notification_chat_sidebar" class="hidden overflow-hidden flex flex-grow left-5 absolute text-sm pl-2 pb-1 bg-red-500 border-4 border-white dark:border-gray-800 rounded-full" style="top:-9;width:auto; height:auto;min-width:1.25rem;min-height:1.25rem;padding-left:7px;padding-right:7px;">0</span>
        `);

        let chat_notif_sidebar = document.getElementById('notification_chat_sidebar');


        $(document).on('ready', function () {
            let socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
            socket.emit('user_loaded', {});

            socket.on('new_message', function () {
                console.log('NEW MESSAGE YAY');
                chat_notif_sidebar.classList.remove('hidden');
                chat_notif_sidebar.innerHTML = (parseInt(chat_notif_sidebar.innerHTML) + 1).toString();
            });
        });

        window.onunload = socket.disconnect;
    }
</script>
