<!--Extend with Jinja!-->
{% extends "layout.html" %}
{% block main %}

    {% if course.announcements|length == 0 %}
        <h1 style="margin-left:20px;margin-top:20px;" class="text-2xl text-black dark:text-white">You have no
            announcements! Try
            creating one!</h1>
    {% endif %}
    {% for a in course.announcements %}
        <a style="width:90%;margin:20px;" href="#"
           class="block p-6 w-full bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
            <div class="flex-col items-left pb-10">
                <div style="float:left;width:55px;">
                    <img class="mb-3 w-12 h-12 rounded-full shadow-lg" alt="{{ a.author }}'s Profile Pic"
                         src="{{ a.author_pic }}">
                </div>
                <div style="float:left;width:calc(100% - 65px);margin-left:10px;">
                    <h3 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">{{ a.author }}</h3>
                    <span class="text-sm text-gray-500 dark:text-gray-400">{{ a.course.name }}<br>{{ strftime(a.date.time(), "%m/%d/%Y at %H:%M:%S") }}</span>
                </div>


            </div>

            <p class="font-normal text-gray-700 dark:text-gray-400">{{ a.content }}</p>
            <i style="display:inline-block;font-size:24px;color:deepskyblue;"  class="material-icons">thumb_up</i>
            <span style="color:white;font-size:30px;margin-right:15px;">{{ a.likes }}</span>
            <i style="display:inline-block;font-size:24px;color:gray;"  class="material-icons">thumb_down</i>
            <span style="color:white;font-size:30px;margin-right:15px;">{{ a.dislikes }}</span>
            <i style="display:inline-block;font-size:24px;color:gray;"  class="material-icons">chat</i>
            <span style="color:white;font-size:30px;margin-right:15px;">{{ a.comment_number }}</span>
            <br><br>
            <br>
{#            <span class="text-blue-600 dark:text-blue-300">Show Comments</span>#}
        </a>

    {% endfor %}

    <style>
        .react {
            float: left;
            margin: 10px;
            color: #1C64F2;
        }
    </style>

{% endblock %}