{% extends "layout.html" %}
{% block main %}
    <body oncontextmenu="rightClickElements={}">
    {% include "navbar.html" %}
    {% include "courses/sidebar.html" %}
    <div style="margin-left:10px;width:calc(100% - 400px);float:left">
        <span class="text-5xl text-black dark:text-white text-black" id="page-title"></span>
        <span class="material-icons text-black dark:text-white dark:hover:bg-gray-700 light:hover:bg-gray-200 text-black"
              style="float:right; cursor:pointer; font-size: 2.5em; padding:5px; border-radius:5px"
              id="refresh" onclick="iframe.contentWindow.location.reload()">refresh</span>
        <br><br>
        <hr class="dark:text-white text-black">
    </div>

    <iframe name="frame" width="80%" height="80%"></iframe>

    <script>
        const iframe = document.getElementsByName("frame")[0];
        const pageTitle = document.getElementById("page-title");
        let removed = true;

        let saveData = localStorage.getItem("{{ course_id }}");
        if (saveData === null)
            saveData = "Documents";

        iframe.src = "/courses/course/{{ course_id }}/" + saveData.toLowerCase();
        pageTitle.innerHTML = saveData;

        for (const link of sidebarLinks) {
            if (link.innerHTML.includes(saveData)) {
                link.className += " dark:bg-gray-600";
                link.style.pointerEvents = "none";
                break;
            }
        }

    </script>
    </body>
{% endblock %}