{% extends "layout.html" %}
{% block main %}
    <body>
    {% include "navbar.html" %}
    {% include "courses/sidebar.html" %}
    <div style="margin-left:10px;width:calc(100% - 400px);float:left">
        <span class="text-5xl text-black dark:text-white text-black" id="page-title"></span>
        <br><br>
        <hr class="dark:text-white text-black">
    </div>

    <iframe name="frame" width="80%" height="80%"></iframe>

    <script>
        const iframe = document.getElementsByName("frame")[0];
        const pageTitle = document.getElementById("page-title");
        let removed = true;
        let saveData = localStorage.getItem("{{ course_id }}");
        if (saveData === null)
            saveData = "Documents";

        iframe.src = "/course/{{ course_id }}/" + saveData.toLowerCase();
        pageTitle.innerHTML = saveData;

        for (const link of sidebarLinks) {
            if (link.innerHTML.includes(saveData)) {
                link.classList.add("dark:bg-gray-600", "light:bg-gray-600");
                link.style.pointerEvents = "none";
                break;
            }
        }
    </script>
    </body>
{% endblock %}