<!--Extend with Jinja!-->
{% extends "layout.html" %}
{% block main %}
    <style>
        [color=A] {
            color: greenyellow !important;
        }

        [color=B] {
            color: yellow !important;
        }

        [color=C] {
            color: orange !important;
        }

        [color]:not(.dark) {
            filter: brightness(0.9);
        }

        thead td {
            text-transform: uppercase;
        }

        th, td {
            padding: 0.8rem;
            border: lightgray;
        }

        td:first-child {
            padding-left: 1rem;
        }

        tr:last-child td {
            padding-bottom: 1rem;
            border-bottom: none;
        }
    </style>
    <div class="flex justify-between bg-gray-200/50 dark:bg-gray-800/50 dark:text-white p-4 rounded-lg">
        {{ course.name }}
        <div>
            Overall Grade:
            <span color="{{ course.grades.letter }}"
                  class="font-bold text-gray-700 dark:text-gray-400">{{ (course.grades.percent * 100)|int }}% ({{ course.grades.letter }})</span>
        </div>
    </div>

    <div class="mt-8 mr-4 rounded-lg overflow-hidden">
        <table class="w-full text-gray-700 dark:text-gray-400">
            <thead class="bg-gray-300 dark:bg-gray-700">
            <tr>
                <td>Assignment Name</td>
                <td>Grade</td>
                <td>Comments</td>
                <td>Your Submission</td>
            </tr>
            </thead>
            <tbody class="bg-gray-100 dark:bg-gray-800">
            {% for a in course.assignments %}
                {% if a._cls == "Assignment" %}
                    <tr class="border-b border-gray-200 dark:border-gray-700">
                        <td>{{ a.title }}</td>
                        <td>{{ gradeStr(a)|safe }}</td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
