<!--Extend with Jinja!-->
{% extends "layout.html" %}
{% block main %}
    <body style="overflow: hidden">
    <script src="/static/js/course/createDocument.js" type='text/javascript'></script>
    <script src="/static/js/course/createAnnouncement.js" type='text/javascript'></script>
    <script src="/static/js/course/createAssignment.js" type='text/javascript'></script>
    <script src="https://unpkg.com/flowbite@1.4.1/dist/datepicker.js"></script>
    <script src="/static/js/course/course.js" type='text/javascript'></script>
    <div class="dark:bg-gray-700 p-6 rounded-lg"
         style="width: 80%; margin: auto;backdrop-filter: blur(10px);background: #1f2937c2;">
        <label class="block mb-2 text-sm uppercase dark:text-gray-500">Course Information
        </label>

        <div>
            <p class="text-xl dark:text-white">
                <img src="{{ course.avatar.avatar_url }}"
                     alt="Course Icon" class="object-cover rounded-lg inline-block" style="
                                    width: 60px;
                                    height: 60px;
                                    display: inline-block;
                                    margin: 10px;
                                    ">
                <span style=" display: inline-block; vertical-align: middle; ">
{{ course.name }}
<img src="/static/images/logos/{{ course.imported_from | lower | replace("google_", "") }}.png"
     style=" width: 25px; margin-left: 8px; display: inline-block; vertical-align: middle; ">
<br>
<span class="text-gray-500 text-sm">{{ course.teacher }}・{{ course.template }}・Imported from {{ course.imported_from }}</span><br>
    <span class="text-xl dark:text-white" style=" margin-right: 10px; display: inline-block; vertical-align: middle; ">
<i class="material-icons text-gray-500"
   style="margin-right: 5px;vertical-align: middle;font-size: 30px;">campaign</i><span
            class="text-gray-500">{{ course.announcements | length }} | </span>
</span>
<span class="text-xl dark:text-white" style=" margin-right: 10px; display: inline-block; vertical-align: middle; ">
<i class="material-icons text-gray-500"
   style="margin-right: 5px;vertical-align: middle;font-size: 30px;">folder</i><span
        class="text-gray-500">{{ course.folders | length }} | </span>
</span>
<span class="text-xl dark:text-white" style=" margin-right: 10px; display: inline-block; vertical-align: middle; ">
<i class="material-icons text-gray-500"
   style="margin-right: 5px;vertical-align: middle;font-size: 30px;">description</i><span
        class="text-gray-500">{{ course.documents | length }} | </span>
</span>
<span class="text-xl dark:text-white" style=" margin-right: 10px; display: inline-block; vertical-align: middle; ">
<i class="material-icons text-gray-500"
   style="margin-right: 5px;vertical-align: middle;font-size: 30px;">bookmark</i><span
        class="text-gray-500">{{ course.textbooks | length }}</span>
</span></span>
            </p>
        </div>

    </div>
    {% include "courses/courseModals.html" %}
    </body>
{% endblock %}
