<aside style="float:left;" class="w-64 h-full" aria-label="Sidebar">
    <div class="px-3 py-4 overflow-y-auto rounded bg-gray-100 dark:bg-gray-800 h-full">
        <span class="self-center text-lg whitespace-nowrap w-full overflow-hidden block font-semibold text-black dark:text-white text-black truncate">
            <img src="{{ course.avatar.avatar_url }}"
                 alt="Course Icon"
                 style="object-fit: cover; width:40px; height:40px; border-radius:10px;display: inline-block; margin: 10px;">
            {{ course.name }}
        </span>
        <ul class="space-y-2">
            <li onclick="wait_for_loading('documents')">
                <a href="/course/{{ course_id }}/documents" target="frame"
                   class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white text-black hover:bg-gray-100 dark:hover:bg-gray-700">
                    <p class="dark:text-gray-400"><i class="material-icons">description</i></p>

                    <span class="ml-3">Documents</span>
                </a>
            </li>
            <li onclick="wait_for_loading('announcements')">
                <a href="/course/{{ course_id }}/announcements" target="frame"
                   class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white text-black hover:bg-gray-100 dark:hover:bg-gray-700">
                    <p class="dark:text-gray-400"><i class="material-icons">campaign</i></p>

                    <span class="ml-3">Announcements</span>

                </a>
            </li>
            <li onclick="wait_for_loading('grades')">
                <a href="/course/{{ course_id }}/grades" target="frame"
                   class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white text-black hover:bg-gray-100 dark:hover:bg-gray-700">
                    <p class="dark:text-gray-400"><i class="material-icons">trending_up</i></p>

                    <span class="ml-3">Grades</span>
                </a>
            </li>
            <li onclick="wait_for_loading('information')">
                <a href="/course/{{ course_id }}/information" target="frame"
                   class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white text-black hover:bg-gray-100 dark:hover:bg-gray-700">
                    <p class="dark:text-gray-400"><i class="material-icons">info</i></p>

                    <span class="ml-3">Information</span>
                </a>
            </li>
            <li onclick="wait_for_loading('settings')">
                <a href="/course/{{ course_id }}/settings" target="frame"
                   class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white text-black hover:bg-gray-100 dark:hover:bg-gray-700">
                    <p class="dark:text-gray-400"><i class="material-icons">settings</i></p>

                    <span class="ml-3">Settings</span>
                </a>
            </li>
            <li onclick="wait_for_loading('textbook')">
                <a href="/course/{{ course_id }}/textbook" target="frame"
                   class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white text-black hover:bg-gray-100 dark:hover:bg-gray-700">
                    <p class="dark:text-gray-400"><i class="material-icons">menu_book</i></p>
                    <span class="flex-1 ml-3 whitespace-nowrap">Textbook</span>
                </a>
            </li>
            <li>
                <button type="button"
                        class="flex items-center p-2 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
                        aria-controls="dropdown-example" data-collapse-toggle="dropdown-example">
                    <p class="dark:text-gray-400"><i class="material-icons">extension</i></p>
                    <span class="flex-1 ml-3 text-left whitespace-nowrap" sidebar-toggle-item>Extensions</span>
                    <svg sidebar-toggle-item class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                              clip-rule="evenodd"></path>
                    </svg>
                </button>
                <ul id="dropdown-example" class="hidden py-2 space-y-2">
                    <li>
                        <a href="/course/{{ course_id }}/extensions/ptable" target="frame"
                           class="flex items-center p-2 pl-11 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
                            <p class="dark:text-gray-400"><i class="material-icons">science</i></p><span
                                class="ml-3">Periodic Table</span></a>
                    </li>
                    <li>
                        <a href="/course/{{ course_id }}/extensions" target="frame"
                           class="flex items-center p-2 pl-11 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
                            <p class="dark:text-gray-400"><i class="material-icons">add_circle</i></p><span
                                class="ml-3">Add an Extension</span></a>
                    </li>
                </ul>
            </li>

            <li onclick="wait_for_loading('learning')">
                <a href="/course/{{ course_id }}/learning" target="frame"
                   class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white text-black hover:bg-gray-100 dark:hover:bg-gray-700">
                    <p class="dark:text-gray-400"><i class="material-icons">school</i></p>
                    <span class="flex-1 ml-3 whitespace-nowrap">Learning</span>
                </a>
            </li>
        </ul>
    </div>
</aside>

<script>
    const sidebarLinks = document.getElementsByClassName("space-y-2")[0].getElementsByTagName("a");

    for (const a of sidebarLinks) {
        a.onclick = () => {
            for (const link of sidebarLinks) {
                if (link === a)
                    continue;

                link.style.pointerEvents = "auto";
                link.style.cursor = "pointer";
                link.classList.remove("dark:bg-gray-600", "light:bg-gray-600")
            }

            let title = a.href.substring(a.href.indexOf(document.documentURI)).split("/")[5];
            title = title[0].toUpperCase() + title.substring(1);
            pageTitle.innerHTML = title;
            setCreateButton(title);

            a.style.pointerEvents = "none";
            a.style.cursor = "default";
            a.classList.add("dark:bg-gray-600", "light:bg-gray-600");

            localStorage.setItem("{{ course_id }}", title);
        }
    }

    function setCreateButton(title) {
        for (const a of actions)
            a.innerHTML = "";

        switch (title.toLowerCase()) {
            case "documents":
                actions[0].innerHTML = "Upload File";
                actions[0].onclick = () => openModal("createDocument");
                actions[1].innerHTML = "Create File";
                actions[1].onclick = () => openModal("createDocument2");
                actions[2].innerHTML = "Create Assignment";
                actions[2].onclick = () => openModal("createAssignment");
                break;

            case "announcements":
                actions[0].innerHTML = "Create Announcement";
                actions[0].onclick = () => openModal("createAnnouncement");
                break;

            case "textbook":
                actions[0].innerHTML = "Create Textbook";
                actions[0].onclick = () => openModal("createTextbook");
                break;
        }

        let hideButton = true;
        for (const a of actions) {
            if (a.innerHTML !== "") {
                a.innerHTML = '<span class="material-icons mr-1.5" style="vertical-align: bottom">add</span>' + a.innerHTML;
                a.parentElement.classList.remove("hidden");
                hideButton = false;
            }
            else
                a.parentElement.classList.add("hidden");
        }

        createButton.style.display = hideButton ? "none" : "inline";
    }
</script>