<aside style="float:left;" class="w-64 h-full" aria-label="Sidebar">
    <div class="px-3 py-4 overflow-y-auto rounded bg-gray-50 dark:bg-gray-800 h-full">
        <span style="text-align: center"
              class="self-center text-lg font-semibold whitespace-nowrap text-black dark:text-white text-black overflow-ellipsis">
            <img src="https://bins.schoology.com/sites/all/themes/schoology_theme/images/course-default.svg?"
                 alt="Course Icon"
                 style="object-fit: cover; width:40px; height:40px; border-radius:10px;display: inline-block; margin: 10px;">
            {{ course.name }}
        </span>
        <ul class="space-y-2">
            <li onclick="wait_for_loading('documents')">
                <a href="/course/{{ course_id }}/documents" target="frame"
                   class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white text-black hover:bg-gray-100 dark:hover:bg-gray-700">
                    <p class="dark:text-gray-400"><i class="material-icons">description</i></p>

                    <span class="ml-3">Documents</span>
                </a>
            </li>
            <li onclick="wait_for_loading('announcements')">
                <a href="/course/{{ course_id }}/announcements" target="frame"
                   class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white text-black hover:bg-gray-100 dark:hover:bg-gray-700">
                    <p class="dark:text-gray-400"><i class="material-icons">campaign</i></p>

                    <span class="ml-3">Announcements</span>

                </a>
            </li>
            <li onclick="wait_for_loading('grades')">
                <a href="/course/{{ course_id }}/grades" target="frame"
                   class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white text-black hover:bg-gray-100 dark:hover:bg-gray-700">
                    <p class="dark:text-gray-400"><i class="material-icons">trending_up</i></p>

                    <span class="ml-3">Grades</span>
                </a>
            </li>
            <li onclick="wait_for_loading('information')">
                <a href="/course/{{ course_id }}/information" target="frame"
                   class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white text-black hover:bg-gray-100 dark:hover:bg-gray-700">
                    <p class="dark:text-gray-400"><i class="material-icons">info</i></p>

                    <span class="ml-3">Information</span>
                </a>
            </li>
            <li onclick="wait_for_loading('settings')">
                <a href="/course/{{ course_id }}/settings" target="frame"
                   class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white text-black hover:bg-gray-100 dark:hover:bg-gray-700">
                    <p class="dark:text-gray-400"><i class="material-icons">settings</i></p>

                    <span class="ml-3">Settings</span>
                </a>
            </li>
            <li onclick="wait_for_loading('textbook')">
                <a href="/course/{{ course_id }}/textbook" target="frame"
                   class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white text-black hover:bg-gray-100 dark:hover:bg-gray-700">
                    <p class="dark:text-gray-400"><i class="material-icons">menu_book</i></p>
                    <span class="flex-1 ml-3 whitespace-nowrap">Textbook</span>
                </a>
            </li>
            <li onclick="wait_for_loading('extensions')">
                <a href="/course/{{ course_id }}/extensions" target="frame"
                   class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white text-black hover:bg-gray-100 dark:hover:bg-gray-700">
                    <p class="dark:text-gray-400"><i class="material-icons">extension</i></p>
                    <span class="flex-1 ml-3 whitespace-nowrap">Extensions</span>
                </a>
            </li>
            <li onclick="wait_for_loading('learning')">
                <a href="/course/{{ course_id }}/learning" target="frame"
                   class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white text-black hover:bg-gray-100 dark:hover:bg-gray-700">
                    <p class="dark:text-gray-400"><i class="material-icons">school</i></p>
                    <span class="flex-1 ml-3 whitespace-nowrap">Learning</span>
                </a>
            </li>
        </ul>
    </div>
</aside>

<script>
    let sidebarLinks = document.getElementsByClassName("space-y-2")[0].getElementsByTagName("a");

    for (const a of sidebarLinks) {
        a.onclick = () => {
            for (const link of sidebarLinks) {
                if (link === a)
                    continue;

                link.style.pointerEvents = "auto";
                link.style.cursor = "pointer";
                link.classList.remove("dark:bg-gray-600", "light:bg-gray-600")
            }

            let title = a.href.substring(a.href.indexOf(document.documentURI)).split("/")[5];
            title = title[0].toUpperCase() + title.substring(1);
            pageTitle.innerHTML = title;

            a.style.pointerEvents = "none";
            a.style.cursor = "default";
            a.classList.add("dark:bg-gray-600", "light:bg-gray-600");

            localStorage.setItem("{{ course_id }}", title);
        }
    }
</script>