<!--Extend with Jinja!-->
{% extends "layout.html" %}
{% block main %}
    {% include "utils/navbar.html" %}
    <div>
        <div style="
    margin-left: 20px;
">
            <button type="button"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                Create New Application
            </button>
            <button type="button"
                    class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
                API Docs
            </button>
        </div>
        <h1 class="text-gray-500 uppercase ml-4 text-2xl mt-3">My Applications</h1>
        <div style="float:left;
                    margin:20px;"
             class="max-w-sm bg-white rounded-lg dark:bg-gray-800">

            <img class="m-4 w-24 h-24 bg-gray-900 p-3 rounded-full"
                 src="http://cdn.shopify.com/s/files/1/1061/1924/products/The_Sun_Emoji_grande.png?v=1571606063"
                 alt="Sun"/>

            <div class="p-5">
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                        Unnamed Project
                        1
                    </h5>
                </a>
            </div>
        </div>
        <div style="float:left;
                    margin:20px;"
             class="max-w-sm bg-white rounded-lg dark:bg-gray-800">

            <img class="m-4 w-24 h-24 bg-gray-900 p-3 rounded-full"
                 src="https://hotemoji.com/images/dl/u/herb-emoji-by-google.png"
                 alt="Herb"/>

            <div class="p-5">
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                        Unnamed Project
                        2
                    </h5>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
