<!--Extend with Jinja!-->
{% extends "layout.html" %}
{% block main %}
<div id='homePageBanner'>
  {% if session.get("username") %}
  <nav>
    <span style="float:left;">
      <a href="/"><img src="static/images/logo.png" style="height:2em;"></a>
      <a href="/pricing">Pricing</a>
      <a href="/developers">Developers</a>
      <a href="/docs/api">API</a>
      <a href="/lms">LMS</a>
      <a href="/chat">Chat</a>
      <a href="/musiqueworld">MusiqueWorld</a>
      <a href="/music">MusiSearch</a>
      <a href="/vh">Virtual Holidays</a>
    </span>
    <span style="float:right;">
      <a href="/signin">Login</a>
      <a id="signup" href="/signup">Sign Up</a>
    </span>
  </nav>
  {% else %}
  <nav style="height:10%;width:100%;float:left; background-color:#000000; position: relative;z-index:1;padding:0px;">
  <span style="float:left;">
    <br>
    <a href="/"><img src="static/images/logo.png" style="height:2em;"></a>
    <a href="/developers">Developers</a>
    <a href="/docs/api">API</a>
    <a href="/lms">LMS</a>
    <a href="/chat">Chat</a>
    <a href="/musiqueworld">MusiqueWorld</a>
    <a href="/music">MusiSearch</a>
    <a href="/vh">Virtual Holidays</a>
  </span>
  
  <details style="float:right;margin:30px 20px 30px 5px;text-align:right">
    <summary>
      {{user}} 
      <img style="vertical-align:middle;" src="/static/images/expand.png"></img>
    </summary>

    <div style="background-color:black;border:1px solid lightgray;border-radius:5px;margin-top:10px;text-align:left">
      <div onclick="window.open('/settings', '_self')">Settings</div>
      <div onclick="window.open('/profile', '_self')">Profile</div>
      <hr>
      <div onclick="window.open('/pricing', '_self')">Upgrade to Premium</div>
      <hr>
      <div onclick="window.open('/logout', '_self')">Log Out</div>
    </div>
  </details>
</nav>
  {% endif %}

  <br><h1><strong>Chat with friends on Nebulus!</strong></h1>
  <span class='smaller'>
    Find servers to chat with like-minded individuals or fun communities
  </span>
</div>
<div id='chat_options'>
  <a class="button" value='Create a Server'>
  <a class="button" value='Friend someone'>
</div>
{% endblock %}
