<!--Extend with Jinja!-->
{% extends "layout.html" %}
{% block main %}
<style>
  #side_bar{
    width:15%;
    height:100%;
    float:left;
    background:#333333;
  }
  #course-body{
    width:80%;
    height:100%;
    float:left;
  }
  .course_option{
    border-style:block;
    padding: 10px 15px 10px 15px;
    border: 1px solid #222222; 
    border-width:1px 0px 1px 1px;
    padding-left:5px;
  }
  .course_option:hover{
    border-color:white;
    background:black;
    border-radius:10px 0px 0px 10px;
  }
</style>
<div id="side_bar">
  <h3>{{course.name}}</h3>
  <p class="course_option">Documents</p>
  <p class="course_option">Grades</p>
  <p class="course_option">Information</p>
  <p class="course_option">Settings</p>
  <p class="course_option">Textbook</p>
  <p class="course_option">Extension</p>
  <p class="course_option coming-soon">Learning (coming soon!)</p>
</div>
<div id="course-body">
</div>

{% endblock %}