<nav style="height:10%;width:100%;float:left; background-color:#000000; position: relative;z-index:1;padding:0px;">
  <span style="float:left;">
    <br>
    <a href="/"><img src="static/images/logo.png" style="height:2em;"></a>
    <a href="/developers">Developers</a>
    <a href="/docs/api">API</a>
    <a href="/lms">LMS</a>
    <a href="/chat">Chat</a>
    <a href="/musiqueworld">MusiqueWorld</a>
    <a href="/music">MusiSearch</a>
    <a href="/vh">Virtual Holidays</a>
  </span>
  
  <details style="float:right;margin:30px 20px 30px 5px;text-align:right">
    <summary>
      {{user}} 
      <img style="vertical-align:middle;" src="/static/images/expand.png"></img>
    </summary>

    <div style="background-color:black;border:1px solid lightgray;border-radius:5px;margin-top:10px;text-align:left">
      <div onclick="window.open('/settings', '_self')">Settings</div>
      <div onclick="window.open('/profile', '_self')">Profile</div>
      <hr>
      <div onclick="window.open('/pricing', '_self')">Upgrade to Premium</div>
      <hr>
      <div onclick="window.open('/logout', '_self')">Log Out</div>
    </div>
  </details>
</nav>

<div id="course-body">
  <h2>{{course.name}}</h2>
</div>