<!--Extend with Jinja!-->
{% extends "layout.html" %}
{% block main %}
<br>
<div id="left" style="width:20%;height:90%;float:left;background-image: linear-gradient(rgba(0, 0, 0, 0.525), rgba(0, 0, 0, 0.5)), url(https://wallpapercave.com/wp/wp2742875.jpg) !important; background: no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;overflow: hidden;overflow:auto;">
  <center>
    <h3>Continue Trick Or Treating</h3>
    <h4>Same Zip Code</h4>
  </center>
</div>
<div id="middle" style="width:60%;height:90%;float:left;overflow:auto;">
  <center>
  <h1>
    Jump into These Courses 
    <a style="margin-left:10px" href='/new'>Create New</a>
  </h1><!--Checking if the user signed in by email or username-->

    {% for i in db.Accounts.find_one({'username': user}).courses %}
    <a class='dashboardCourse' href='/courses/{{i._id}}'>
      <h2>{{i.name}}</h2>
      <h3>{{i.teacher}}</h3>
    </a>
    {% endfor %}
</div>

<div id="right" style="width:20%;height:90%;float:right;background-color:transparent;overflow:auto">
  <h3>My MusiqueWorld Creations:</h3>
  <hr>
  <div style="height:140px;">
    <div style="width:50%;float:left;">
      <h4 style="font-weight:800;">Head Up</h4>
      <h5 style="font-weight: 400;font-style: italic;color:grey;">The Score</h5>
    </div>
    <div style="width:50%;float:left;">
      <button style="padding:10px;font-size:1em;color:white;background-image: linear-gradient(rgba(0, 0, 0, 0.525), rgba(0, 0, 0, 0.5)), url(https://cdn.wallpapersafari.com/17/52/NQHESK.jpg) !important; background: no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;overflow: hidden;overflow:auto;border-style:none;border-radius:10px;">Go to Creation</button>
    </div>
  </div>
  <hr>
  <div style="height:140px;">
  <div style="width:50%;float:left;">
  <h4 style="font-weight:800;">Burn the House Down</h4>
  <h5 style="font-weight: 400;font-style: italic;color:grey;">AJR</h5>
  </div>
  <div style="width:50%;float:left;">
    <button style="padding:10px;font-size:1em;color:white;background-image: linear-gradient(rgba(0, 0, 0, 0.525), rgba(0, 0, 0, 0.5)), url(https://cdn.wallpapersafari.com/17/52/NQHESK.jpg) !important; background: no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;overflow: hidden;overflow:auto;border-style:none;border-radius:10px;">Go to Creation</button>
  </div>
  </div>
  <hr>
  <div style="height:140px;">
  <div style="width:50%;float:left;">
  <h4 style="font-weight:800;">Faded</h4>
  <h5 style="font-weight: 400;font-style: italic;color:grey;">Alan Walker</h5>
  </div>
  <div style="width:50%;float:left;">
    <button style="padding:10px;font-size:1em;color:white;background-image: linear-gradient(rgba(0, 0, 0, 0.525), rgba(0, 0, 0, 0.5)), url(https://cdn.wallpapersafari.com/17/52/NQHESK.jpg) !important; background: no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;overflow: hidden;overflow:auto;border-style:none;border-radius:10px;">Go to Creation</button>
  </div>
  </div>
  <hr>
  <div style="height:140px;">
  <div style="width:50%;float:left;">
  <h4 style="font-weight:800;">Kill this Love</h4>
  <h5 style="font-weight: 400;font-style: italic;color:grey;">Blackpink</h5>
  </div>
  <div style="width:50%;float:left;">
    <button style="padding:10px;font-size:1em;color:white;background-image: linear-gradient(rgba(0, 0, 0, 0.525), rgba(0, 0, 0, 0.5)), url(https://cdn.wallpapersafari.com/17/52/NQHESK.jpg) !important; background: no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;overflow: hidden;overflow:auto;border-style:none;border-radius:10px;">Go to Creation</button>
  </div>
  </div>
  <hr>
  <div style="height:140px;">
  <div style="width:50%;float:left;">
  <h4 style="font-weight:800;">bad guy</h4>
  <h5 style="font-weight: 400;font-style: italic;color:grey;">Billie Eilish</h5>
  </div>
  <div style="width:50%;float:left;">
    <button style="padding:10px;font-size:1em;color:white;background-image: linear-gradient(rgba(0, 0, 0, 0.525), rgba(0, 0, 0, 0.5)), url(https://cdn.wallpapersafari.com/17/52/NQHESK.jpg) !important; background: no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;overflow: hidden;overflow:auto;border-style:none;border-radius:10px;">Go to Creation</button>
  </div>
  </div>
  <hr>
  <div style="height:140px;">
  <div style="width:50%;float:left;">
  <h4 style="font-weight:800;">Natural</h4>
  <h5 style="font-weight: 400;font-style: italic;color:grey;">Imagine Dragons</h5>
  </div>
  <div style="width:50%;float:left;">
    <button style="padding:10px;font-size:1em;color:white;background-image: linear-gradient(rgba(0, 0, 0, 0.525), rgba(0, 0, 0, 0.5)), url(https://cdn.wallpapersafari.com/17/52/NQHESK.jpg) !important; background: no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;overflow: hidden;overflow:auto;border-style:none;border-radius:10px;">Go to Creation</button>
  </div>
  </div>
  <hr>
</div>

{% endblock %}