<!--Extend with Jinja!-->
{% extends "layout.html" %}
{% block main %}

{% if new_account %}
<span style="background-color:rgba(3, 163, 67,0.5);color:black;padding:10px;border-radius:10px;font-size:1.3em;margin-top:10px;z-index:10;float:right;position: absolute;top: 0;right: 0;">Welcome to Nebulus, {{user}}</span>
{% endif %}
<nav style="height:10%;width:100%;float:left; background-color:#000000; position: relative;z-index:1;padding:0px;">
    <span style="float:left;">
      <br>
      <a href="/"><img src="static/logo.png" style="height:2em;"></a>
      <a href="/developers">Developers</a>
      <a href="/docs/api">API</a>
      <a href="/lms">LMS</a>
      <a href="/chat">Chat</a>
      <a href="/musiqueworld">MusiqueWorld</a>
      <a href="/music">MusiSearch</a>
      <a href="/vh">Virtual Holidays</a>
    </span>
    <span style="float:right;margin:30px 20px 30px 5px;">
      <details>
        <summary>{{user}}</summary>

        <div style="background-color:black; border:1px solid lightgray; border-radius:5px;margin-top:10px;">
          <div style="margin-top:5px"><a href="/pricing">Upgrade to Premium</a></div>
          <hr>
          <div style=""><a href="/settings">Settings</a></div>
          <hr>
          <div style="margin-bottom:5px"><a href='/logout' id="log-out">Log Out</a></div>
        </div>

      </details>
    </span>
</nav>
<br><br>
<div id="left" style="width:20%;height:90%;float:left;background-image: linear-gradient(rgba(0, 0, 0, 0.525), rgba(0, 0, 0, 0.5)), url(https://wallpapercave.com/wp/wp2742875.jpg) !important; background: no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;overflow: hidden;overflow:auto;">
  <center>
  <h3>Continue Trick Or Treating</h3>
  <h4>Same Zip Code</h4>
  <p>🏠 Caroline</p>
  <h4>Same City</h4>
  <p>🏠 Sally</p>
  <p>🏠 Peter</p>
  <p>🏠 John</p>
  <h4>Same Province/State</h4>
  <p>🏠 Lauren</p>
  <p>🏠 Timothy</p>
  <p>🏠 Jack</p>
  <p>🏠 Elizabeth</p>
  <p>🏠 Isabel</p>
  <p>🏠 Sunny</p>
  <h4>Same Country</h4>
  <p>🔒 You must finish everyone in your province or state!</p>
  <h4>International</h4>
  <p>🔒 You must finish everyone in your country</p>

  </center>
</div>
<div id="middle" style="width:60%;height:90%;float:left;overflow:auto;">
  <center>
  <h1>Jump into These Courses <button style="padding:10px;font-size:1em;color:white;background-image: linear-gradient(rgba(0, 0, 0, 0.525), rgba(0, 0, 0, 0.5)), url(https://cdn.wallpapersafari.com/17/52/NQHESK.jpg) !important; background: no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;overflow: hidden;overflow:auto;border-style:none;border-radius:10px;">Create a Course</button></h1>
  <div class="dashboardCourse">
    <h2>English 7</h2>
    <h3>Ms. Nagami</h3>
  </div>
   <div class="dashboardCourse">
    <h2>History 7</h2>
    <h3>Mr. Ross</h3>
  </div>
   <div class="dashboardCourse">
    <h2>Biology 7</h2>
    <h3>Ms. Gousia</h3>
  </div>
   <div class="dashboardCourse">
    <h2>Physics 7</h2>
    <h3>Mr. Adams</h3>
  </div>
  <div class="dashboardCourse">
    <h2>Latin II B</h2>
    <h3>Ms. Odell</h3>
  </div>
  <div class="dashboardCourse">
    <h2>Algebra & Geometry II</h2>
    <h3>Mr. Rocha</h3>
  </div>
  <div class="dashboardCourse">
    <h2>Health 7</h2>
    <h3>Mr. Floyd</h3>
  </div>

  </center>
</div>
<div id="right" style="width:20%;height:90%;float:left;height:90%;float:left;background-color:transparent;overflow:auto;">
  <h3>My MusiqueWorld Creations:</h3>
  <hr>
  <div style="height:140px;">
    <div style="width:50%;float:left;">
      <h4 style="font-weight:800;">Head Up</h4>
      <h5 style="font-weight: 400;font-style: italic;color:grey;">The Score</h5>
    </div>
    <div style="width:50%;float:left;">
      <button style="padding:10px;font-size:1em;color:white;background-image: linear-gradient(rgba(0, 0, 0, 0.525), rgba(0, 0, 0, 0.5)), url(https://cdn.wallpapersafari.com/17/52/NQHESK.jpg) !important; background: no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;overflow: hidden;overflow:auto;border-style:none;border-radius:10px;">Go to Creation</button>
    </div>
  </div>
  <hr>
  <div style="height:140px;">
  <div style="width:50%;float:left;">
  <h4 style="font-weight:800;">Burn the House Down</h4>
  <h5 style="font-weight: 400;font-style: italic;color:grey;">AJR</h5>
  </div>
  <div style="width:50%;float:left;">
    <button style="padding:10px;font-size:1em;color:white;background-image: linear-gradient(rgba(0, 0, 0, 0.525), rgba(0, 0, 0, 0.5)), url(https://cdn.wallpapersafari.com/17/52/NQHESK.jpg) !important; background: no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;overflow: hidden;overflow:auto;border-style:none;border-radius:10px;">Go to Creation</button>
  </div>
  </div>
  <hr>
  <div style="height:140px;">
  <div style="width:50%;float:left;">
  <h4 style="font-weight:800;">Faded</h4>
  <h5 style="font-weight: 400;font-style: italic;color:grey;">Alan Walker</h5>
  </div>
  <div style="width:50%;float:left;">
    <button style="padding:10px;font-size:1em;color:white;background-image: linear-gradient(rgba(0, 0, 0, 0.525), rgba(0, 0, 0, 0.5)), url(https://cdn.wallpapersafari.com/17/52/NQHESK.jpg) !important; background: no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;overflow: hidden;overflow:auto;border-style:none;border-radius:10px;">Go to Creation</button>
  </div>
  </div>
  <hr>
  
</div>

{% endblock %}