{% extends "layout.html" %}
{% block main %}
    <html>
    <body>
    <div align='center'>
        <div class='col1'>
            <div id='c-level'>
                <h1 class='dev_identifiers'>C-Level</h1>
                <table>
                    <tr>
                        <th><img class='dev_images' src='/static/images/nicholas_wang.png'></th>
                        <th><img class='dev_images' src='/static/images/vedh_r.png'></th>
                        <th><img class='dev_images' src='/static/images/kevin_m.png'></th>
                    </tr>
                    <tr>
                        <td><h2 align='center' class='dev_identifiers'>CEO</h2></td>
                        <td><h2 align='center' class='dev_identifiers'>CTO</h2></td>
                        <td><h2 align='center' class='dev_identifiers'>COO</h2></td>
                    </tr>
                    <tr>
                        <td><h3 align='center' class='dev_identifiers'>Nicholas W.</h3></td>
                        <td><h3 align='center' class='dev_identifiers'>Vedh R.</h3></td>
                        <td><h3 align='center' class='dev_identifiers'>Kevin M.</h3></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class='col2'>
            <div id='directors'>
                <h1 class='dev_identifiers'>Directors</h1>
                <table>
                    <tr>
                        <th><img class='dev_images' src='/static/images/rhyley_plant.jpg'></th>
                        <th><img class='dev_images' src='/static/images/aryav_k.png'></th>
                    </tr>
                    <tr>
                        <td><h2 align='center' class='dev_identifiers'>Director of Engineering</h2></td>
                        <td><h2 algin='center' class='dev_identifiers'>Director of Marketing</h2></td>
                    </tr>
                    <tr>
                        <td><h3 align='center' class='dev_identifiers'>Rhyley P.</h3></td>
                        <td><h3 align='center' class='dev_identifiers'>Aryav K.</h3></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    </body>
    </html>
{% endblock %}
