
<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
<div style="text-align: center; background:#111926; font-family: 'Lato', sans-serif; color:white;" >
    <h1 style="font-weight:400;">Email Verification Code</h1>
    <h2 style="font-weight:400;">Hello <span style="font-weight:700; ">Nicholas Wang</span>! Your Code is: <span style="font-weight:700; ">1029</span> </h2>
    <button style="border-style:none; border-radius:15px; background:#1B65F0;color:white;padding:10px;">Go to Nebulus</button>
</div>

