<!--Extend with Jinja!-->
{% extends "layout.html" %}
{% block main %}
<div id="homePageBanner">
  <nav>
    <a href="/">Nebulus</a>
    <a href="/pricing">Pricing</a>
    <a href="/login">Login</a>
    <a href="/signup">Sign Up</a>
    <a href="/signup">Developers</a>
    <a href="/signup">API</a>
  </nav>
  <h1><strong>Balance Your Organization.</strong></h1>
  <span class="smaller">Join a Community of Students, Musicians, Gamers, Developers, and more! Welcome to Nebulus.</span><br>
  <input placeholder="Email Address" type="email"><input type="submit" value="Sign Up for Nebulus">
</div>
{% endblock %}