<!--Extend with Jinja!-->
{% extends "layout.html" %}
{% block main %}
<div id="homePageBanner">
  <nav>
    <span style="float:left;">
      <a href="/">Nebulus</a>
      <a href="/pricing">Pricing</a>
      <a href="/signup">Developers</a>
      <a href="/signup">API</a>
      <a href="/signup">LMS</a>
      <a href="/signup">Chat</a>
      <a href="/signup">MusiqueWorld</a>
      <a href="/signup">MusiSearch</a>
    </span>
    <span style="float:right;">
      <a href="/login">Login</a>
      <a id="signup" href="/signup">Sign Up</a>
    </span>
  </nav>
  <h1><strong>Balance Your Organization.</strong></h1>
  <span class="smaller">Join a Community of Students, Musicians, Gamers, Developers, and more! Welcome to Nebulus.</span><br>
  <input placeholder="Email Address" type="email"><input type="submit" value="Sign Up for Nebulus">
</div>
{% endblock %}