<!--Extend with Jinja!-->
{% extends "layout.html" %}
{% block main %}

<div id="homePageBanner">
  <nav>
    <span style="float:left;">
      <a href="/"><img src="static/images/logo.png" style="height:2em;"></a>
      <a href="/pricing">Pricing</a>
      <a href="/developers">Developers</a>
      <a href="/docs/api">API</a>
      <a href="/lms">LMS</a>
      <a href="/chat">Chat</a>
      <a href="/musiqueworld">MusiqueWorld</a>
      <a href="/music">MusiSearch</a>
      <a href="/vh">Virtual Holidays</a>
    </span>
    <span style="float:right;">
      <a href="/signin">Login</a>
      <a id="signup" href="/signup">Sign Up</a>
    </span>
  </nav>
  <br><h1><strong>Balance Your Organization.</strong></h1>
  <span class="smaller">Join a Community of Students, Musicians, Gamers, Developers, and more! Welcome to Nebulus.</span><br>
  <form type="GET" action="/signup">
    <input name="e" placeholder="Email Address" type="email"><input type="submit" value="Sign Up for Nebulus" onclick="localStorage.setItem('email', document.getElementByName('e').value">
  </form>
</div>
<div id="premium">
  <span class="medium">Get Additional Benefits and use Nebulus like a Pro</span><br>
  <p>Bring Nebulus to the Next Level with Nebulus Premium</p>
  <input type="submit" value="Start a Free Trial"><input type="submit" value="Try the Student Learning Pack"><input type="submit" value="Upgrade Now"><input type="submit" value="Request a Price">
</div>
{% endblock %}