<!--Style Sheets!-->
<link rel="stylesheet" href="/static/css/styles.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
<!--Javascript!-->
<script src="/static/js/main.js"></script>
<!--Jquery!-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!--if clicked elsewhere the profile menu (if there is one) will close-->


<!--Icons!-->
<link rel="icon" type="image/x-icon" href="/static/images/logo.ico">
<!--Title!-->
<title>{{page}}</title>

{% if not disablebar %}
  <nav style="height:10%;width:100%;float:left; background-color:#000000; position: relative;z-index:1;padding:0px;">

    <span style="float:left;">
      <br>
      <a href="/"><img src="static/images/logo.png" style="height:4em; vertical-align: middle;"></a>
      <a href="/about">About Us</a>
      <a href="/developers/api">API</a>
      <a href="/lms">LMS</a>
      <a href="/chat">Chat</a>
      <a href="/musiqueworld">Music</a>
      <a href="/holidays">Virtual Holidays</a>
    </span>

    {% if session.get("username") %}
      {% if new_account %}
      <span style="margin-top:20px;padding: 10px 5px 10px 5px;background:rgba(0, 255, 0, 0.2);border-radius:10px;float:right">Welcome to Nebulus, {{user}}</span>
      {% endif %}
      <details style="float:right;margin:30px 20px 30px 5px;text-align:right">
        <summary>
          {{user}}
            <img style="vertical-align:middle;" src="/static/images/expand.png"/>
        </summary>

        <div style="background-color:black;border:1px solid lightgray;border-radius:5px;margin-top:10px;text-align:left">
          <div onclick="window.open('/settings', '_self')">Settings</div>
          <div onclick="window.open('/profile', '_self')">Profile</div>
          <hr>
          <div onclick="window.open('/pricing', '_self')">Upgrade to Premium</div>
          <div><p>5 <img src="https://images.emojiterra.com/twitter/v13.1/512px/1fa99.png" style="height:1em;"> <a href="/points">(What's this?)</a></p></div>
          <hr>
          <div onclick="window.open('/logout', '_self')">Log Out</div>
        </div>
      </details>
    {% else %}
      <span style="float:right;margin:30px 20px 30px 5px;">
        <a href="/signin">Login</a>
        <a id="signup" href="/signup">Sign Up</a>
      </span>
    {% endif %}
  </nav>

{% endif %}
<!--Twemoji!-->
<!--
<script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
<script>
  window.onload = function() {
      twemoji.parse(document.body,
              {folder: 'svg', ext: '.svg',size: "32x32"},
      );
  }

</script>
!-->
{% block main %} {% endblock %}
