<!--Style Sheets!-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet">
<link rel="stylesheet" href="/static/css/styles.css">
<!--Javascript!-->
<script src="/static/js/main.js"></script>
<!--Jquery!-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>

<!--if clicked elsewhere the profile menu (if there is one) will close-->


<!--Icons!-->
<link rel="icon" type="image/x-icon" href="/static/images/logo.png">
<!--Title!-->
<title>{{ page }}</title>

<!--Twemoji!-->
<!--
<script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
<script>
  window.onload = function() {
      twemoji.parse(document.body,
              {folder: 'svg', ext: '.svg',size: "32x32"},
      );
  }

</script>
!-->
<!--right click!-->
<script>
    document.onclick = hideMenu;
    document.oncontextmenu = rightClick;
      
    function hideMenu() {
        document.getElementById("contextMenu")
                .style.display = "none"
    }
  
    function rightClick(e) {
        e.preventDefault();
  
        if (document.getElementById("contextMenu")
                .style.display == "block")
            hideMenu();
        else{
            var menu = document.getElementById("contextMenu")
  
            menu.style.display = 'block';
            menu.style.left = e.pageX + "px";
            menu.style.top = e.pageY + "px";
        }
    }
</script>

<style type="text/css">
    .context-menu {
        position: absolute;
        text-align: center;
        background: #1a1a1a;
        color:white;
        border: 1px solid black;
        border-radius:10px;
        padding:20px;
    }
  
    .context-menu ul {
        padding: 0px;
        margin: 0px;
        min-width: 150px;
        list-style: none;
    }
  
    .context-menu ul li {
        padding-bottom: 7px;
        padding-top: 7px;
        border: 1px solid black;
        border-radius:10px;
    }
  
    .context-menu ul li a {
        text-decoration: none;
        color: white;
    }
  
    .context-menu ul li:hover {
        background: #043ab0;
        color:white;
    }
</style>
<div id="contextMenu" class="context-menu" 
    style="display: none">
    <ul>
        <li><a href="#">Element-1</a></li>
        <li><a href="#">Element-2</a></li>
        <li><a href="#">Element-3</a></li>
        <li><a href="#">Element-4</a></li>
        <li><a href="#">Element-5</a></li>
        <li><a href="#">Element-6</a></li>
        <li><a href="#">Element-7</a></li>
    </ul>
</div>
{% block main %} {% endblock %}
