<!--Extend with Jinja!-->
{% extends "layout.html" %}
{% block main %}
{% include "navbar.html" %}
<div id="left"
      style="width:20%;height:90%;float:left; background-color: #171717 !important; ">
    <center>
        <div style="background:linear-gradient(to top right, #ff3c00, #ffd900); width:100%;top:0px;margin: 0 px;font-size:1.5em;padding-top:20px;padding-bottom:20px;border-radius: 8px 8px 0px 0px;">
        <h3>Recent Activity</h3>
        </div>
        {% for x in db.Accounts.find_one({'user': user}).courses %}
          <h3>{{x.name}}</h3><hr/>
          <div class='course_updates'>
            {% for i in x.updates[0:3] %}
              <div class='update_teacher'>
                <p>{{x.teacher}} > {{x.name}}</p>
              </div>
              <div class='update_header'>
                <h3>{{i.header}}</h3>
              <div class='update_info'>
                <h4>{{i.info}}</h4>
              </div>
            {% endfor %}
          </div>
          {% endfor %}
    </center>
</div>
<div id="middle" style="width:60%;height:90%;float:left;overflow:auto;">
  <center>
    <h1>
      Jump into These Courses

      <div style="float:right" id="course-nav">
        <span id="join" class="material-icons">search</span>
        <span id="create" class="material-icons">add</span>
      </div>
    
      <!DOCTYPE html>
      <html>
      <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/css/createCourse.css">
      </head>
      <body>
        <div id="CourseModal" class="modal">
          <div class="CourseBtn">
            <center>
              <h1 style="font-size:1.75vw">
                Step 1: Create a Course
                <span class="close"></span>
              </h1>

              <p style="color:#bababa;font-size:0.5em;">A course is a space for you to organize and thrive in your learning experience. All you have to do is create a course and fill it in with content!</p>

              <span class='button'>
                <img src="/static/images/icons/new.svg" style="visibility: visible;width:20px;height:20px;float:left;">
                Create course
                <img src="/static/images/icons/next.svg" style="visibility: visible;width:20px;height:20px;float:right;">
              </span>

              <h2 style="font-size:1.4vw">Or choose a template type</h2>

              <div class='scroll'></div>
            </center>
          </div>

          <div class="CourseBtn">
            <center>
              <h1 style="font-size: 1.75vw;">
                Step 2: Choose a Sub-Course
                <span class="close"></span>
              </h1>

              <div class="scroll"></div>
            </center>
          </div>
        </div>
        <script src="static/js/createCourse.js"></script>
      </body>

      </html>
    </h1>

    {% for i in db.Accounts.find_one({'username': user}).courses %}
    <a class='dashboardCourse' href='/courses/{{ i._id }}'>
      <h2>{{ i.name }}</h2>
      <h3>{{ i.teacher }}</h3>
    </a>
    {% endfor %}
</div>

<div id="right" style="width:20%;height:90%;float:right;background-color:transparent;overflow:auto">
    <h3>Upcoming Events & Assignments</h3>
    <p>Unit 3 Test</p>
</div>

{% endblock %}