<!--Extend with Jinja!-->
{% extends "layout.html" %}
{% block main %}
<div id="left"
      style="width:20%;height:90%;float:left;background-image: linear-gradient(rgba(0, 0, 0, 0.525), rgba(0, 0, 0, 0.5)), url(https://wallpapercave.com/wp/wp2742875.jpg) !important; background: no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;overflow: hidden;overflow:auto;">
    <center>
        <h3>Recent Activity</h3>
        <p>Dr. B posted an update</p>
        <p>The course "Physics" got created.</p>
    </center>
</div>
<div id="middle" style="width:60%;height:90%;float:left;overflow:auto;">
  <center>
    <h1>
      Jump into These Courses

      <div style="float:right" id="course-nav">
        <span id="join" class="material-icons">search</span>
        <span id="create" class="material-icons">add</span>
      </div>
    
      <!DOCTYPE html>
      <html>
      <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/css/createCourse.css">
      </head>
      <body>
      <div id="CourseModal" class="modal">
        <div class="CourseBtn">
          <center>
            <h1 style="font-size:1.75vw">
              Step 1: Create a Course
              <span class="material-icons" id="close">close</span>
            </h1>

            <p style="color:#bababa;font-size:0.5em;">A course is a space for you to organize and thrive in your learning experience. All you have to do is create a course and fill it in with content!</p>

            <span class='button'>
              <img src="/static/images/icons/new.svg" style="visibility: visible;width:20px;height:20px;float:left;">
              Create course
              <img src="/static/images/icons/next.svg" style="visibility: visible;width:20px;height:20px;float:right;">
            </span>

            <h2 style="font-size:1.4vw">Or start from a template</h2>

            <div style='height:380px;overflow:scroll;overflow-y:scroll;' class='scroll'></div>
          </center>
        </body>

        <script src="static/js/createCourse.js"></script>
      </html>
    </h1>

    {% for i in db.Accounts.find_one({'username': user}).courses %}
    <a class='dashboardCourse' href='/courses/{{ i._id }}'>
      <h2>{{ i.name }}</h2>
      <h3>{{ i.teacher }}</h3>
    </a>
    {% endfor %}
</div>

<div id="right" style="width:20%;height:90%;float:right;background-color:transparent;overflow:auto">
    <h3>Upcoming Events & Assignments</h3>
    <p>Unit 3 Test</p>
</div>

{% endblock %}