<!--Extend with Jinja!-->
{% extends "layout.html" %}
{% block main %}
    {% include "navbar.html" %}
    <br>
    <div id="left"
         style="width:20%;height:90%;float:left;background-image: linear-gradient(rgba(0, 0, 0, 0.525), rgba(0, 0, 0, 0.5)), url(https://wallpapercave.com/wp/wp2742875.jpg) !important; background: no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;overflow: hidden;overflow:auto;">
        <center>
            <span style="width:100%;padding-top:20px;padding-bottom:20px;margin-bottom:1px;">Applications</span><br>
            <span style="width:100%;padding-top:20px;padding-bottom:20px;margin-top:1px;">API Docs</span>

        </center>
    </div>
    <style>
        .app {
            position: relative;
            top: 0;
            transition: top ease 0.5s;
            background: black;
        }

        .app:hover {
            background: #262626;
            top: -10px;
        }

        .spoiler {
            background: black;
            color: black;
            padding: 2px;
        }
    </style>
    <div id="middle" style="width:60%;height:90%;float:left;overflow:auto;">
        <center>
            <h1>
                Your Applications
            </h1>
            <div style="float:left;color:white;padding:20px;margin:20px;border-radius:20px;width:200px;" class="app">
                <img src="http://cdn.shopify.com/s/files/1/1061/1924/products/The_Sun_Emoji_grande.png?v=1571606063"
                     style="height:80px;width810px;">
                <p>Unnamed Project 1</p>
            </div>
            <div style="float:left;color:white;padding:20px;margin:20px;border-radius:20px;width:200px;" class="app">
                <img src="http://cdn.shopify.com/s/files/1/1061/1924/products/Dark_Blue_Moon_Emoji_grande.png?v=1571606063"
                     style="height:80px;width:80px;">
                <p>Unnamed Project 2</p>
            </div>
        </center>
    </div>

    <div id="right" style="width:20%;height:90%;float:right;background_color:transparent;overflow:auto">
        <h3>Quick View</h3>
        <hr>
        <div style="height:140px;">
            <div style="width:50%;float:left;">
                <h4 style="font-weight:800;">Unnamed Project 1</h4>
                <p>Token: <span class="spoiler"
                                onclick="this.style.background_color='transparent';     this.style.color = 'white';">your mom</span>
                </p>
            </div>
            <div style="width:50%;float:left;">
                <button style="padding:10px;font-size:1em;color:white;background-image: linear-gradient(rgba(0, 0, 0, 0.525), rgba(0, 0, 0, 0.5)), url(https://cdn.wallpapersafari.com/17/52/NQHESK.jpg) !important; background: no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;overflow: hidden;overflow:auto;border-style:none;border-radius:10px;">
                    Go to Application
                </button>
            </div>
        </div>
        <hr>
        <div style="height:140px;">
            <div style="width:50%;float:left;">
                <h4 style="font-weight:800;">Unnamed Project 2</h4>

                <p>Token: <span class="spoiler"
                                onclick="this.style.background_color='transparent';     this.style.color = 'white';">https://www.youtube.com/watch?v=dQw4w9WgXcQ</span>
                </p>
            </div>
            <div style="width:50%;float:left;">
                <button style="padding:10px;font-size:1em;color:white;background-image: linear-gradient(rgba(0, 0, 0, 0.525), rgba(0, 0, 0, 0.5)), url(https://cdn.wallpapersafari.com/17/52/NQHESK.jpg) !important; background: no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;overflow: hidden;overflow:auto;border-style:none;border-radius:10px;">
                    Go to Application
                </button>
            </div>
        </div>
        <hr>

    </div>

    <script type="text/javascript">
        function stepTwo(text) {
            document.getElementById("CourseModal").style.display = "none";
            document.getElementById("Science").style.display = "block";
        }

        function unspoil(element) {
            element.style.background_color = "transparent";
            element.style.color = "white";
        }
    </script>
{% endblock %}