<!--Extend with Jinja!-->
{% extends "layout.html" %}
{% block main %}
<body>
  {% if '@' in user and '.' in user %}
  {% set user = db.Accounts.find_one({'email':user}).username %}
  {% endif %}

<br>
  <div id="account" style="margin: 0px 20% 0px 20%; padding 20px 20% 20px 20%;font-size: 1.2em">
    <h2>Your Account</h2>
    <p>
      <span style="color:lightgray">Username: </span>
      {{session.get('username')}}

      <span class="change-text">Change</span>
    </p>
    
    <p>
      <span style="color:lightgray">Password: </span>
      {{"•" * session.get("password")|length}}

      <span class="change-text">Change</span>
    </p>

    {% if session.get("email") != "" %}
    <p>
      <span style="color: lightgray">Email: </span>
      {{session.get('email')}}

      <span class="change-text">Change</span>
    </p>
    {% else %}
    <p>
      <span style="color: lightgray">Email: </span>None

      <span class="change-text">Add New</span>
    </p>
    {% endif %}
    <h2>Spotify Status</h2>
    <p>Unstoppable - The Score</p>
  </div>
</body>

{% endblock %}  