{% extends "layout.html" %}
{% block main %}
<body>
  <div id="signupbody">
    <h1><img src="static/logo.png" style="height:1.5em;"></h1>
    <h1>Sign Up for Nebulus</h1>
    <div id="signupinnerbody">
      <p>Email Address</p>
      <input type="text" placeholder="jonnyappleseed@appleseed.org"><br>
      <p>Username</p>
      <input type="text" placeholder="jonnyappleseed"><br>
      <p>Password</p>
      <input type="password" placeholder="••••••••••"><br>
      <p>Confirm Passsword</p>
      <input type="password" placeholder="••••••••••"><br>
      <input type="submit" value="Sign Up!"><br><br>
      <p>Have an account? <a href="/signin">Sign In</a>!</p>
    </div>
  </div>
</body>
{% endblock %}