<!--Extend with Jinja!-->
{% extends "layout.html" %}
{% block main %}

    <div class="bg-slate-100">

    </div>
<a style="width:90%;" href="#" class="block p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
    <div class="flex flex-col items-left pb-10">
        <img class="mb-3 w-12 h-12 rounded-full shadow-lg" src="https://asset-cdn.schoology.com/users/95200861/profile-image/profile_sm?1596748684" alt="Bonnie image">
        <h3 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Ms. Nagami</h3>
        <span class="text-sm text-gray-500 dark:text-gray-400">English 7 &lt; Schoology</span>
    </div>

    <p class="font-normal text-gray-700 dark:text-gray-400">Hi, all! The draft of the poetry project was/is due today, February 18, 2022.  I just changed the date in Schoology, though, so that I could move it to be part of the T3 grade.</p>
</a>
</a>
<a style="width:90%;" href="#" class="block p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
    <div class="flex flex-col items-left pb-10">
        <img class="mb-3 w-12 h-12 rounded-full shadow-lg" src="https://asset-cdn.schoology.com/users/95200861/profile-image/profile_sm?1596748684" alt="Bonnie image">
        <h3 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Ms. Nagami</h3>
        <span class="text-sm text-gray-500 dark:text-gray-400">English 7 &lt; Schoology</span>
    </div>

    <p class="font-normal text-gray-700 dark:text-gray-400">Hi, Students!  Remember to bring headphones or earbuds and a device to access the internet tomorrow.  IF YOU CANNOT BRING A DEVICE TO ACCESS THE INTERNET, PLEASE MESSAGE ME ASAP so that I can print out the alternative assignment for you.  (If you can bring a device but not headphones, that is okay; you can still do the regular assignment.)</p>
</a>


{% endblock %}