<!--Extend with Jinja!-->
{% extends "layout.html" %}
{% block main %}

    <div class="bg-slate-100">

    </div>
<a style="width:90%;" href="#" class="block p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Ms. Nagami [English 7 from Schoology]</h5>
    <p class="font-normal text-gray-700 dark:text-gray-400">Hi, all! The draft of the poetry project was/is due today, February 18, 2022.  I just changed the date in Schoology, though, so that I could move it to be part of the T3 grade.</p>
</a>
<a style="width:90%;" href="#" class="block p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Ms. Nagami [English 7 from Schoology]</h5>
    <p class="font-normal text-gray-700 dark:text-gray-400">Hi, Students!  Remember to bring headphones or earbuds and a device to access the internet tomorrow.  IF YOU CANNOT BRING A DEVICE TO ACCESS THE INTERNET, PLEASE MESSAGE ME ASAP so that I can print out the alternative assignment for you.  (If you can bring a device but not headphones, that is okay; you can still do the regular assignment.)</p>
</a>


{% endblock %}