<!--Extend with Jinja!-->
{% extends "layout.html" %}
{% block main %}
    <div id="side_bar">
        <p class="course-title">{{ course.name }}</p>
        <p class="course_option"><i class="material-icons">description</i> Documents</p>
        <p class="course_option"><i class="material-icons">campaign</i> Announcements</p>
        <p class="course_option"><i class="material-icons"><span class="material-icons-outlined">trending_up</span></i> Grades</p>
        <p class="course_option"><i class="material-icons">info</i> Information</p>
        <p class="course_option"><i class="material-icons">settings</i> Settings</p>
        <p class="course_option"><i class="material-icons">menu_book</i> Textbook</p>
        <p class="course_option"><i class="material-icons">extension</i> Extensions</p>
        <p class="course_option coming-soon"><i class="material-icons">school</i> Learning</p>
    </div>
    <div id="course-body">
    </div>

{% endblock %}