<!--Extend with Jinja!-->
{% extends "layout.html" %}
{% block main %}
    <div id="side_bar">
        <p class="course-title">{{ course.name }}</p>
        <a href="{{'/courses/'+id+'/documents'}}"><p class="course_option"><i class="material-icons">description</i> Documents</p></a>
        <a href="{{'/courses/'+id+'/announcements'}}"><p class="course_option"><i class="material-icons">campaign</i> Announcements</p></a>
        <a href="{{'/courses/'+id+'/grades'}}"><p class="course_option"><i class="material-icons"><span class="material-icons-outlined">trending_up</span></i> Grades</p></a>
        <a href=""><p class="course_option   course_option_selected"><i class="material-icons">info</i> Information</p></a>
        <a href="{{'/courses/'+id+'/settings'}}"><p class="course_option"><i class="material-icons">settings</i> Settings</p></a>
        <a href="{{'/courses/'+id+'/textbook'}}"><p class="course_option"><i class="material-icons">menu_book</i> Textbook</p></a>
        <a href="{{'/courses/'+id+'/extensions}}"><p class="course_option"><i class="material-icons">extension</i> Extensions</p></a>
        <a href="{{'/courses/'+id+'/learning'}}"><p class="course_option coming-soon"><i class="material-icons">school</i> Learning</p></a>
    </div>
    <div id="course-body">
      <h1>Information</h1>
    </div>

{% endblock %}