{%  extends "layout.html" %}
{% block main %}
<script>hljs.highlightAll();</script>

<style>

    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap,900&display=swap');
    body{
        font-family: 'Lato', sans-serif;
        color:white;
        background:#121926;
        margin:0;
    }
    .avatar{
        border-radius:50%;
        margin:5px;
    }

    .cm-error{
        border-bottom:2px dotted red;
        display: inline-block;
        position: relative;
        background: transparent !important;

    }

    .cm-error:after {
        content: '';
        width: 100%;
        border-bottom:2px dotted red;
        position: absolute;
        font-size: 16px;
        top: 15px; /* Must be font-size minus one (16px - 1px) */
        left: -2px;
        display: block;
        height: 4px;


    }
    .b{
        font-family: 'Lato', sans-serif;
        font-weight:900;
    }
    .collapsible {
        font-family: 'Lato', sans-serif;
        background-color: rgba(0, 0, 0,0.2);
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }

    .active, .collapsible:hover {
        background-color: rgba(0, 0, 0,0.1);
    }

    a{
        color:yellow;
        text-decoration:none;
    }
    a:hover{
        color:#14FF00;
    }
    select{
        font-family: 'Lato', sans-serif;
        color:white;
        background:transparent;
        font-size:2em;
    }
</style>

    <div class="content">
        <form method='POST' action='/try' id='formID'>
            <textarea id='editor' name='mycode'>print('Hello, World!')</textarea>

            <button type="submit"  class="run relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800">
  <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
      Run Program
  </span>
            </button>
            <script>
                var myForm = document.getElementById('formID');
                myForm.onsubmit = function() {
                    var w = window.open('about:blank','Popup_Window','toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=400,height=300,left = 312,top = 234');
                    this.target = 'Popup_Window';
                };
            </script>

            <style>
                .CodeMirror {
                    font-family: 'Courier Prime', monospace;
                    font-size: 16px;
                    background: #121926 !important;
                }
                .CodeMirror-gutters{
                    font-family: 'Courier Prime', monospace;
                    font-size: 16px;
                    background: #121926 !important;
                }
                .run{
                    z-index:50;
                    top:10px;
                    right:10px;
                    position: absolute;
                }

                .cm-string{
                    color:#A4D6FE !important;
                }
                .cm-keyword{
                    color:#FF7A73 !important;
                }
                .cm-variable{
                    color:#C8D0D8 !important;
                }
                .cm-comment{
                    color:#8B949E !important;
                }
                .cm-comment{
                    color:#8B949E !important;
                }
                .cm-property{
                    color:#FEA757 !important;
                }
                .cm-builtin{
                    color:#CCA4F9  !important;
                }
                .cm-operator{
                    color:#A4D6FE !important;
                }


            </style>
        </form>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.js" integrity="sha512-hG/Qw6E14LsVUaQRSgw0RrFA1wl5QPG1a4bCOUgwzkGPIVFsOPUPpbr90DFavEEqFMwFXPVI0NS4MzKsInlKxQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.css" integrity="sha512-uf06llspW44/LZpHzHT6qBOIVODjWtv4MxCricRxkzvopAlSWnTf6hpZTFxuuZcuNE9CBQhqE0Seu1CoRk84nQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/keymap/emacs.min.js" integrity="sha512-vkAJFl6fSbUY4MDhe50ATyWN/8jLYZPtxqELsXbbxA+bSxk8n/0iVBeGQqCJJYv2mn1bhBKs7du3A0HbtgrLEA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/keymap/sublime.min.js" integrity="sha512-SV3qeFFtzcmGtUQPLM7HLy/7GKJ/x3c2PdiF5GZQnbHzIlI2q7r77y0IgLLbBDeHiNfCSBYDQt898Xp0tcZOeA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/keymap/vim.min.js" integrity="sha512-v2ud5hEJ+CD2N20EuKBhlN93edH0iFunpVrKf9V1pnwTe/Z8S5JfJOknGZDnQkACo/Pxy8C9htQliBLeDbbnog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/meta.min.js" integrity="sha512-/2x+sfL5ERHfoViXm/UncFBzaD54f2bkjEui6w2IheEUafG2gcHJv3gQ4VDIqNr+LuApQwpnsjjrEMXI43nPzg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/theme/midnight.min.css" integrity="sha512-ZTF0X2l7PXEFDyP+MSOK0QM3Qh+C+lQ70Tqx4vQb3+6Uxh2lYkwmbSbpDmksZaX8w0sSz8ctVBnPSzAR1TQlzA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/python/python.min.js" integrity="sha512-2M0GdbU5OxkGYMhakED69bw0c1pW3Nb0PeF3+9d+SnwN1ryPx3wiDdNqK3gSM7KAU/pEV+2tFJFbMKjKAahOkQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://codemirror.net/addon/search/search.js"  integrity="sha512-2M0GdbU5OxkGYMhakED69bw0c1pW3Nb0PeF3+9d+SnwN1ryPx3wiDdNqK3gSM7KAU/pEV+2tFJFbMKjKAahOkQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://codemirror.net/addon/search/searchcursor.js"  integrity="sha512-2M0GdbU5OxkGYMhakED69bw0c1pW3Nb0PeF3+9d+SnwN1ryPx3wiDdNqK3gSM7KAU/pEV+2tFJFbMKjKAahOkQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://codemirror.net/addon/search/jump-to-line.js"  integrity="sha512-2M0GdbU5OxkGYMhakED69bw0c1pW3Nb0PeF3+9d+SnwN1ryPx3wiDdNqK3gSM7KAU/pEV+2tFJFbMKjKAahOkQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://codemirror.net/addon/dialog/dialog.js"  integrity="sha512-2M0GdbU5OxkGYMhakED69bw0c1pW3Nb0PeF3+9d+SnwN1ryPx3wiDdNqK3gSM7KAU/pEV+2tFJFbMKjKAahOkQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link rel="stylesheet" href="https://codemirror.net/addon/dialog/dialog.css" integrity="sha512-ZTF0X2l7PXEFDyP+MSOK0QM3Qh+C+lQ70Tqx4vQb3+6Uxh2lYkwmbSbpDmksZaX8w0sSz8ctVBnPSzAR1TQlzA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script>
            let cm = new CodeMirror.fromTextArea(document.getElementById("editor"), {
                value: "print('Hello, World!')",
                lineNumbers: true,
                mode: "python",
                theme: "midnight",
                indentUnit: 4,
                smartIndent: true,
                tabSize: 4,
                indentWithTabs:true,
                electricChars: true,
                lineWrapping: false,
                firstLineNumber: 1,
                fixedGutter: true,
                scrollbarStyle: "native",
                screenReaderLabel: "Code editor",
                autofocus: true,
            });
            CodeMirror.commands.autocomplete = function(cm) {
                CodeMirror.simpleHint(cm, CodeMirror.pythonHint);
            }
            cm.setSize("100%", "100%");
        </script>

    </div>
{% endblock %}