<!--Extend with Jinja!-->
{% extends "layout.html" %}
{% block main %}
    {% include "navbar.html" %}
    <body>
    <div id="account" style="margin: 0px 20% 0px 20%; padding 20px 20% 20px 20%;font-size: 1.2em">
        <h2>Your Account</h2>
        <p>
            <span style="color:lightgray">Username:</span>
            {{ session.get('username') }}

            <span class="change-text">Change</span>
        </p>

        <p>
            <span style="color:lightgray">Password:</span>
            {{ "•" * session.get("password")|length }}

            <span class="change-text">Change</span>
        </p>

        <p>
            <span style="color: lightgray">Email:</span>
            {{ session.get('email') }}

            <span class="change-text">Change</span>
        </p>
        <h2>Connections</h2>
        <p>Connect integrations to unlock special features</p>
        <div style="background-color:black;border-radius:15px;width:70%;">

        </div>
        <h3>Google Classroom</h3>
        <button><img src="./static/images/logos/classroom.png" style="height:1.2em;margin-right:12px;">Connect your Google Classroom Account</button>
        <h3>Canvas by Instructure</h3>
        <button><img src="./static/images/logos/canvas.png" style="height:1.2em;margin-right:12px;"> Connect your Canvas Account</button>
        {% if not db.CheckSchoology(session.get('username')) %}
            <h2>Schoology</h2>
            <p>You log onto Schoology with this link: <input style="background:grey;width:64px !important;" type="text"
                                                             value="app" id="schooldomain"
                                                             onkeypress="this.style.width = ((this.value.length + 5) * 8) + 'px';">.schoology.com/
            </p>
            <button id="auth" onclick="AuthorizeSchoology()" class="button"><img src="./static/images/logos/schoology.png" style="height:1.2em;margin-right:12px;"> Connect your Schoology Account</button>
            <br>
            <button style="display:none;" id="connectbtn" class="button"><img src="https://hotemoji.com/images/dl/7/white-heavy-check-mark-emoji-by-twitter.png" style="height:1.2em;margin-right:12px;"> Confirm Connect Schoology Account</button>
            <br>
            <span id="resp"></span>
        {% else %}
            <h1>Schoology</h1>
            <p>Schoology Account Connected to {{ schoologyname }} ({{ schoologyemail }})</p>
            <a href="/logoutSchoology">
                <button><img src="https://emojipedia-us.s3.amazonaws.com/source/skype/289/cross-mark_274c.png" style="height:1.2em;margin-right:12px;"> Disconnect from Schoology</button>
            </a>
        {% endif %}
        <h2>Discord</h2>
        <button><img src="./static/images/logos/discord.png" style="height:1.2em;margin-right:12px;">Connect your Discord Account</button>
        <h2>Github</h2>
        <button><img src="./static/images/logos/github.png" style="height:1.2em;margin-right:12px;">Connect your Github Account</button>
        <h2>Spotify</h2>
        <button><img src="./static/images/logos/spotify.png" style="height:1.2em;margin-right:12px;">Connect your Spotify Account</button>
        <h2>YouTube</h2>
        <button><img src="./static/images/logos/youtube.png" style="height:1.2em;margin-right:12px;">Connect your Youtube Account</button>
        <h2>Google</h2>
        <button><img src="./static/images/logos/google.png" style="height:1.2em;margin-right:12px;">Connect your Google Account</button>
        <h2>Apple</h2>
        <button><img src="./static/images/logos/apple.png" style="height:1.2em;margin-right:12px;">Connect your Apple Account</button>
        <h2>Microsoft</h2>
        <button><img src="./static/images/logos/microsoft.png" style="height:1.2em;margin-right:12px;">Connect your Microsoft Account</button>
        <script>
            function AuthorizeSchoology() {
                if (resp.innerHTML === 'Login Failed. Reason: Clicked Deny on Schoology. Click the Connect button again and click Approve this time!') {
                    location.reload();
                }
                newwindow = window.open('{{schoologyURL}}'.replace('bins', document.getElementById("schooldomain").value), 'Authorize with Schoology', 'height=300,width=800');
                document.getElementById('auth').style.display = 'none';
                document.getElementById('connectbtn').style.display = 'inline';
            }

            $('#connectbtn').on('click', function () {
                var $this = $(this);
                $this.button('loading');
                setTimeout(function () {

                    var request = $.ajax({
                        type: "POST",
                        url: "/schoology",
                        data: {}
                    });
                    request.done(function (data) {
                        $this.button('reset');
                        resp = document.getElementById("resp")
                        if (data === "error!!!") {
                            resp.style.color = "red";
                            resp.innerHTML = "Login Failed. Reason: Clicked Deny on Schoology or closed Schoology popup window. Make sure Popups are enabled on your browser. Click Authorize again and click Approve this time!";
                            document.getElementById('auth').style.display = 'inline';
                            document.getElementById('connectbtn').style.display = 'none';
                            window.location.replace("/settings")

                        } else {
                            resp.style.color = "green";
                            resp.innerHTML = "Successfully linked the Schoology Account <b>" + data + "</b>!";
                            window.location.replace("/settings");
                        }

                    });

                }, 1000);


            });
        </script>
    </div>
    </body>

{% endblock %}  