<!--Extend with Jinja!-->
{% extends "layout.html" %}
{% block main %}
    <body>
    <div id="account" style="margin: 0px 20% 0px 20%; padding 20px 20% 20px 20%;font-size: 1.2em">
        <h2>Your Account</h2>
        <p>
            <span style="color:lightgray">Username:</span>
            {{ session.get('username') }}

            <span class="change-text">Change</span>
        </p>

        <p>
            <span style="color:lightgray">Password:</span>
            {{ "•" * session.get("password")|length }}

            <span class="change-text">Change</span>
        </p>

        <p>
            <span style="color: lightgray">Email:</span>
            {{ session.get('email') }}

            <span class="change-text">Change</span>
        </p>
        <h2>Connections</h2>
        <h3>Schoology</h3>
        <br>
        <button id = "auth" onclick="if (resp.innerHTML === 'Login Failed. Reason: Clicked Deny on Schoology. Click Authorize again and click Approve this time!') {location.reload();} newwindow=window.open('{{url}}','Authorize with Schoology','height=500,width=900');document.getElementById('auth').style.display = 'none';document.getElementById('loginbtn').style.display = 'inline';" class="shinyButton">Authorize Schoology</button>
        <br>
        <button style="display:none;" id="connectbtn" class="shinyButton">Confirm Connect Schoology Account</button>
        <br>
        <span id="resp"></span>
        <script>
          $('#connectbtn').on('click', function() {
            var $this = $(this);
        $this.button('loading');
        setTimeout(function() {

          var request =  $.ajax({
              type: "POST",
              url: "/schoology",
              data: {
              }
            });
        request.done(function(data) {
            $this.button('reset');
            resp = document.getElementById("resp")
            if (data==="error!!!"){
                resp.style.color = "red";
                resp.innerHTML = "Login Failed. Reason: Clicked Deny on Schoology or closed Schoology popup window. Make sure Popups are enabled on your browser. Click Authorize again and click Approve this time!";
                document.getElementById('auth').style.display = 'inline';
                document.getElementById('loginbtn').style.display = 'none';

            }else{
                resp.style.color = "green";
                resp.innerHTML = "Welcome, "+data;
                window.location.replace("/");
            }

        });

          }, 1000);



    });
        </script>
    </div>
    </body>

{% endblock %}  