<!--Extend with Jinja!-->
<script src="https://unpkg.com/flowbite@1.4.5/dist/flowbite.js"></script>
{% extends "layout.html" %}
{% block main %}
    {% include "navbar.html"  %}

    <div class="border-b border-gray-200 dark:border-gray-700">
        <ul class="flex flex-wrap -mb-px text-sm font-medium text-center text-gray-500 dark:text-gray-400">
            <li class="mr-2">
                <a href="#" class="inline-flex p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 group">
                    <svg class="mr-2 w-5 h-5 text-gray-400 group-hover:text-gray-500 dark:text-gray-500 dark:group-hover:text-gray-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z" clip-rule="evenodd"></path></svg>Emails
                </a>
            </li>
            <li class="mr-2">
                <a href="#" class="inline-flex p-4 text-blue-600 rounded-t-lg border-b-2 border-blue-600 active dark:text-blue-500 dark:border-blue-500 group" aria-current="page">
                    <svg class="mr-2 w-5 h-5 text-blue-600 dark:text-blue-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"></path></svg>Private Chat
                </a>
            </li>
            <li class="mr-2">
                <a href="#" class="inline-flex p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 group">
                    <svg class="mr-2 w-5 h-5 text-gray-400 group-hover:text-gray-500 dark:text-gray-500 dark:group-hover:text-gray-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M5 4a1 1 0 00-2 0v7.268a2 2 0 000 3.464V16a1 1 0 102 0v-1.268a2 2 0 000-3.464V4zM11 4a1 1 0 10-2 0v1.268a2 2 0 000 3.464V16a1 1 0 102 0V8.732a2 2 0 000-3.464V4zM16 3a1 1 0 011 1v7.268a2 2 0 010 3.464V16a1 1 0 11-2 0v-1.268a2 2 0 010-3.464V4a1 1 0 011-1z"></path></svg>Group Chats
                </a>
            </li>
            <li class="mr-2">
                <a href="#" class="inline-flex p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 group">
                    <svg class="mr-2 w-5 h-5 text-gray-400 group-hover:text-gray-500 dark:text-gray-500 dark:group-hover:text-gray-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"></path><path fill-rule="evenodd" d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z" clip-rule="evenodd"></path></svg>Communities
                </a>
            </li>
            <li class="mr-2">
                <a href="#" class="inline-flex p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 group">
                    <svg class="mr-2 w-5 h-5 text-gray-400 group-hover:text-gray-500 dark:text-gray-500 dark:group-hover:text-gray-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"></path><path fill-rule="evenodd" d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z" clip-rule="evenodd"></path></svg>Settings
                </a>
            </li>

        </ul>
    </div>

    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Inbox
                </th>
                <th scope="col" class="px-6 py-3">

                </th>
                <th scope="col" class="px-6 py-3">

                </th>
                <th scope="col" class="px-6 py-3">

                </th>
                <th scope="col" class="px-6 py-3">

                </th>

            </tr>
            </thead>
            <tbody>
            {% for identifier in range(messages|length) %}
                {% set i = messages[identifier] %}
                <tr data-modal-toggle="thread_{{ identifier }}" onclick="changeModal(1, 'thread_{{ identifier }}')" class="{% if i["status"] == "read" %} bg-white dark:bg-gray-800 {% else %} bg-gray-100 dark:bg-gray-700 {% endif %}border-b  dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                        <div class="flex mb-5 -space-x-4">
                        <img data-dropdown-toggle="userDropdown_a{{ identifier }}" class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800" src="{{i["author"]["avatar"]}}" alt="">
                           {% set author = i["author"] %}
                            <div id="userDropdown_a{{ identifier }}" style="border-radius:10px"
                                 class="z-10 hidden bg-white divide-y divide-gray-100 rounded shadow w-80 dark:bg-gray-700 dark:divide-gray-600">
                                <div style="border-radius:10px 10px 0 0; height:60px;background:{% if author["color"] %}rgba{{ author["color"] }}{% else %}#515A67{% endif %};">

                                </div>
                                <div class="px-4 py-3 text-xl text-gray-900 dark:text-white"
                                     style="border-radius:0 0 10px 10px;">

                                    <div style="text-align: left; margin-left:3px;">
                                        <div style="margin-top:-60px;">
                                            <img style="background:rgb(18,25,38);border-style:solid;border-width:2px; object-fit: cover;" src="{{ author["avatar"]}}" class="w-24 h-24 rounded-full border-white dark:border-gray-700" alt="{{ author["name"] }}'s Profile Picture">
                                            <span class="absolute  w-5 h-5 bg-green-400 border-2 border-white dark:border-gray-700 rounded-full" style="left:90px;top:85px;"></span>
                                        </div>
                                        <div>{{ author["name"] }}</div>
                                        {% if author["email"] %}
                                            <div class="text-sm text-gray-400">{{ author["email"] }}</div>
                                        {% endif %}
                                        {% if author["school"] %}
                                            <div class="text-sm text-gray-400">User
                                                at {{ author["school"] }}</div>
                                        {% endif %}
                                        <div class="mb-6">
                                            <input type="text" id="msg"
                                                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-900 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                   placeholder="Message @{{ author["name"] }}"
                                                   required>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            {% for recipientid in range(i["recipients"]|length) %}
                            {% set recipient = i["recipients"][recipientid] %}
                            <img data-dropdown-toggle="userDropdown{{ identifier }}_r{{ recipientid }}" class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800" src="{{recipient["avatar"]}}" alt="">

                            <!-- Dropdown menu -->
                            <div id="userDropdown{{ identifier }}_r{{ recipientid }}" style="border-radius:10px"
                                 class="z-10 hidden bg-white divide-y divide-gray-100 rounded shadow w-80 dark:bg-gray-700 dark:divide-gray-600">
                                <div style="border-radius:10px 10px 0 0; height:60px;background:{% if recipient["color"] %}rgba{{ recipient["color"] }}{% else %}#515A67{% endif %};">

                                </div>
                                <div class="px-4 py-3 text-xl text-gray-900 dark:text-white"
                                     style="border-radius:0 0 10px 10px;">

                                    <div style="text-align: left; margin-left:3px;">
                                        <div style="margin-top:-60px;">
                                            <img style="background:rgb(18,25,38);border-style:solid;border-width:2px; object-fit: cover;" src="{{ recipient["avatar"]}}" class="w-24 h-24 rounded-full border-white dark:border-gray-700" alt="{{ recipient["name"] }}'s Profile Picture">
                                            <span class="absolute  w-5 h-5 bg-green-400 border-2 border-white dark:border-gray-700 rounded-full" style="left:90px;top:85px;"></span>
                                        </div>
                                        <div>{{ recipient["name"] }}</div>
                                        {% if recipient["email"] %}
                                            <div class="text-sm text-gray-400">{{ recipient["email"] }}</div>
                                        {% endif %}
                                        {% if recipient["school"] %}
                                            <div class="text-sm text-gray-400">User
                                                at {{ recipient["school"] }}</div>
                                        {% endif %}
                                        <div class="mb-6">
                                            <input type="text" id="msg"
                                                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-900 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                   placeholder="Message @{{ recipient["name"] }}"
                                                   required>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        {% endfor %}
                        </div>
                    </th>
                    <td class="px-6 py-4">
                        <span data-dropdown-toggle="userDropdown_a{{ identifier }}" class="hover:underline"> {{ i["author"]["name"]  }}</span> to
                        {% for recipient in range(i["recipients"]|length) %}
                            <span class="hover:underline" data-dropdown-toggle="userDropdown{{ identifier }}_r{{ recipient }}">{{ i["recipients"][recipient]["name"] }}</span>
                            {% if recipient < (i["recipients"]|length - 1) %}
                                <span>,</span>
                            {% endif %}
                            {% endfor %}
                    </td>
                    <td class="px-6 py-4">
                        {{ i["subject"] }}
                    </td>
                    <td class="px-6 py-4">
                        {{ i["message"] }}
                    </td>
                    <td class="px-6 py-4">
                        {{ i["updated"].strftime("%m/%d/%Y, %H:%M:%S") }}
                    </td>
                </tr>
                <!-- Main modal -->
                <div id="thread_{{ identifier }}" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
                    <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
                        <!-- Modal content -->
                        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                            <!-- Modal header -->
                            <div class="flex justify-between items-start p-4 rounded-t border-b dark:border-gray-600">
                                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                                    {{ i["subject"] }}
                                </h3>
                                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="defaultModal">
                                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                                </button>
                            </div>
                            <!-- Modal body -->
                            <div class="p-6 space-y-6">
                                {% for thread in messages[identifier]["thread"] %}
                                    <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                                    <div class="flex items-center space-x-4">
                                        <img class="w-10 h-10 rounded-full" src="{{thread["author_pic"]}}" alt="">
                                        <div class="space-y-1 font-medium dark:text-white">
                                            <div>{{ thread["author"] }}</div>
                                            <div class="text-sm text-gray-500 dark:text-gray-400">{{ thread["author_email"] }}</div>
                                        </div>
                                    </div>
                                    </p>
                                <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                                    {{ thread["message"] }}
                                </p><br style="color:white;">
                                    {% endfor %}

                            </div>
                            <!-- Modal footer -->
                            <div class=" w-full flex items-center p-6 space-x-2 rounded-b border-t border-gray-200 dark:border-gray-600">
                                <form>
                                    <label for="chat" class="sr-only">Reply to @{{ messages[identifier]["author"] }}</label>
                                    <div class="w-full flex items-center py-2 px-3 bg-gray-50 rounded-lg dark:bg-gray-700">
                                        <button type="button" class="inline-flex justify-center p-2 text-gray-500 rounded-lg cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600">
                                            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4 3a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V5a2 2 0 00-2-2H4zm12 12H4l4-8 3 6 2-4 3 6z" clip-rule="evenodd"></path></svg>
                                        </button>
                                        <button type="button" class="p-2 text-gray-500 rounded-lg cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600">
                                            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM7 9a1 1 0 100-2 1 1 0 000 2zm7-1a1 1 0 11-2 0 1 1 0 012 0zm-.464 5.535a1 1 0 10-1.415-1.414 3 3 0 01-4.242 0 1 1 0 00-1.415 1.414 5 5 0 007.072 0z" clip-rule="evenodd"></path></svg>
                                        </button>
                                        <textarea id="chat" rows="1" class="block mx-4 p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Reply to @{{ messages[identifier]["author"]["name"] }}"></textarea>
                                        <button type="submit" class="inline-flex justify-center p-2 text-blue-600 rounded-full cursor-pointer hover:bg-blue-100 dark:text-blue-500 dark:hover:bg-gray-600">
                                           <i class="material-icons">send</i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

            </tbody>
        </table>

    </div>
    <script>

    function update_table(amount){
        let current_index = document.getElementsByTagName("table")[0].tBodies[0].rows.length;
        let request = $.ajax({
            type: "GET",
            url: "/api/v1/internal/get_schoology_messages",
            data: {
                "amount": amount,
                "start": current_index
            },
            dataType: "json"
        })
        request.done(function (data){
            for (let i = current_index; i<amount+i;i++){
                let object = data[i]
                console.log(object);
                let readbg = ""
                if (object.status === "read"){
                    readbg = "bg-white dark:bg-gray-800"
                }else{
                    readbg = "bg-gray-100 dark:bg-gray-700"
                }
                let author = object.author;
                console.log(author);
                console.log(Object.getOwnPropertyNames(author));
                let author_color = "";
                try{
                    let author_color = author["name"]
                }catch(e){
                    let author_color = "#515A67";
                }

                if (!author_color){
                    let author_color = "#515A67";
                }
                let author_name = author["name"]


                let author_email = author["email"]
                let author_school = author["school"]
                let author_avatar = author["avatar"]
                data = `
            <tr data-modal-toggle="thread_${i}" onclick="changeModal(1, 'thread_${i}')" class=" ${readbg} border-b  dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                        <div class="flex mb-5 -space-x-4">
                        <img data-dropdown-toggle="userDropdown_a${i}" class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800" src="${author_avatar}" alt="">

                            <div id="userDropdown_a${i}" style="border-radius:10px"
                                 class="z-10 hidden bg-white divide-y divide-gray-100 rounded shadow w-80 dark:bg-gray-700 dark:divide-gray-600">
                                <div style="border-radius:10px 10px 0 0; height:60px;background:${author_color};">

                                </div>
                                <div class="px-4 py-3 text-xl text-gray-900 dark:text-white"
                                     style="border-radius:0 0 10px 10px;">

                                    <div style="text-align: left; margin-left:3px;">
                                        <div style="margin-top:-60px;">
                                            <img style="background:rgb(18,25,38);border-style:solid;border-width:2px; object-fit: cover;" src="${author_avatar}" class="w-24 h-24 rounded-full border-white dark:border-gray-700" alt="${author_name}'s Profile Picture">
                                            <span class="absolute  w-5 h-5 bg-green-400 border-2 border-white dark:border-gray-700 rounded-full" style="left:90px;top:85px;"></span>
                                        </div>
                                        <div>${author_name}</div>
                                        ${author_email}
                                            <div class="text-sm text-gray-400">${author_email}</div>

                                        ${author_school}
                                            <div class="text-sm text-gray-400">User
                                                at ${author_school}</div>

                                        <div class="mb-6">
                                            <input type="text" id="msg"
                                                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-900 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                   placeholder="Message @${author_name}"
                                                   required>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            </tr>`
                document.getElementsByTagName("tbody")[0].innerHTML+=data;

{#                            {% for recipientid in range(i["recipients"]|length) %}#}
{#                            {% set recipient = i["recipients"][recipientid] %}#}
{#                            <img data-dropdown-toggle="userDropdown{{ identifier }}_r{{ recipientid }}" class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800" src="{{recipient["avatar"]}}" alt="">#}
{##}
{#                            <!-- Dropdown menu -->#}
{#                            <div id="userDropdown{{ identifier }}_r{{ recipientid }}" style="border-radius:10px"#}
{#                                 class="z-10 hidden bg-white divide-y divide-gray-100 rounded shadow w-80 dark:bg-gray-700 dark:divide-gray-600">#}
{#                                <div style="border-radius:10px 10px 0 0; height:60px;background:{% if recipient["color"] %}rgba{{ recipient["color"] }}{% else %}#515A67{% endif %};">#}
{##}
{#                                </div>#}
{#                                <div class="px-4 py-3 text-xl text-gray-900 dark:text-white"#}
{#                                     style="border-radius:0 0 10px 10px;">#}
{##}
{#                                    <div style="text-align: left; margin-left:3px;">#}
{#                                        <div style="margin-top:-60px;">#}
{#                                            <img style="background:rgb(18,25,38);border-style:solid;border-width:2px; object-fit: cover;" src="{{ recipient["avatar"]}}" class="w-24 h-24 rounded-full border-white dark:border-gray-700" alt="{{ recipient["name"] }}'s Profile Picture">#}
{#                                            <span class="absolute  w-5 h-5 bg-green-400 border-2 border-white dark:border-gray-700 rounded-full" style="left:90px;top:85px;"></span>#}
{#                                        </div>#}
{#                                        <div>{{ recipient["name"] }}</div>#}
{#                                        {% if recipient["email"] %}#}
{#                                            <div class="text-sm text-gray-400">{{ recipient["email"] }}</div>#}
{#                                        {% endif %}#}
{#                                        {% if recipient["school"] %}#}
{#                                            <div class="text-sm text-gray-400">User#}
{#                                                at {{ recipient["school"] }}</div>#}
{#                                        {% endif %}#}
{#                                        <div class="mb-6">#}
{#                                            <input type="text" id="msg"#}
{#                                                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-900 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"#}
{#                                                   placeholder="Message @{{ recipient["name"] }}"#}
{#                                                   required>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{##}
{#                            </div>#}
{##}
{#                        {% endfor %}#}
{#                        </div>#}
{#                    </th>#}
{#                    <td class="px-6 py-4">#}
{#                        <span data-dropdown-toggle="userDropdown_a{{ identifier }}" class="hover:underline"> {{ i["author"]["name"]  }}</span> to#}
{#                        {% for recipient in range(i["recipients"]|length) %}#}
{#                            <span class="hover:underline" data-dropdown-toggle="userDropdown{{ identifier }}_r{{ recipient }}">{{ i["recipients"][recipient]["name"] }}</span>#}
{#                            {% if recipient < (i["recipients"]|length - 1) %}#}
{#                                <span>,</span>#}
{#                            {% endif %}#}
{#                            {% endfor %}#}
{#                    </td>#}
{#                    <td class="px-6 py-4">#}
{#                        {{ i["subject"] }}#}
{#                    </td>#}
{#                    <td class="px-6 py-4">#}
{#                        {{ i["message"] }}#}
{#                    </td>#}
{#                    <td class="px-6 py-4">#}
{#                        {{ i["updated"].strftime("%m/%d/%Y, %H:%M:%S") }}#}
{#                    </td>#}
{#                </tr>#}
{#                <!-- Main modal -->#}
{#                <div id="thread_{{ identifier }}" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">#}
{#                    <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">#}
{#                        <!-- Modal content -->#}
{#                        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">#}
{#                            <!-- Modal header -->#}
{#                            <div class="flex justify-between items-start p-4 rounded-t border-b dark:border-gray-600">#}
{#                                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">#}
{#                                    {{ i["subject"] }}#}
{#                                </h3>#}
{#                                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="defaultModal">#}
{#                                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>#}
{#                                </button>#}
{#                            </div>#}
{#                            <!-- Modal body -->#}
{#                            <div class="p-6 space-y-6">#}
{#                                {% for thread in messages[identifier]["thread"] %}#}
{#                                    <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">#}
{#                                    <div class="flex items-center space-x-4">#}
{#                                        <img class="w-10 h-10 rounded-full" src="{{thread["author_pic"]}}" alt="">#}
{#                                        <div class="space-y-1 font-medium dark:text-white">#}
{#                                            <div>{{ thread["author"] }}</div>#}
{#                                            <div class="text-sm text-gray-500 dark:text-gray-400">{{ thread["author_email"] }}</div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    </p>#}
{#                                <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">#}
{#                                    {{ thread["message"] }}#}
{#                                </p><br style="color:white;">#}
{#                                    {% endfor %}#}
{##}
{#                            </div>#}
{#                            <!-- Modal footer -->#}
{#                            <div class=" w-full flex items-center p-6 space-x-2 rounded-b border-t border-gray-200 dark:border-gray-600">#}
{#                                <form>#}
{#                                    <label for="chat" class="sr-only">Reply to @{{ messages[identifier]["author"] }}</label>#}
{#                                    <div class="w-full flex items-center py-2 px-3 bg-gray-50 rounded-lg dark:bg-gray-700">#}
{#                                        <button type="button" class="inline-flex justify-center p-2 text-gray-500 rounded-lg cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600">#}
{#                                            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4 3a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V5a2 2 0 00-2-2H4zm12 12H4l4-8 3 6 2-4 3 6z" clip-rule="evenodd"></path></svg>#}
{#                                        </button>#}
{#                                        <button type="button" class="p-2 text-gray-500 rounded-lg cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600">#}
{#                                            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM7 9a1 1 0 100-2 1 1 0 000 2zm7-1a1 1 0 11-2 0 1 1 0 012 0zm-.464 5.535a1 1 0 10-1.415-1.414 3 3 0 01-4.242 0 1 1 0 00-1.415 1.414 5 5 0 007.072 0z" clip-rule="evenodd"></path></svg>#}
{#                                        </button>#}
{#                                        <textarea id="chat" rows="1" class="block mx-4 p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Reply to @{{ messages[identifier]["author"]["name"] }}"></textarea>#}
{#                                        <button type="submit" class="inline-flex justify-center p-2 text-blue-600 rounded-full cursor-pointer hover:bg-blue-100 dark:text-blue-500 dark:hover:bg-gray-600">#}
{#                                           <i class="material-icons">send</i>#}
{#                                        </button>#}
{#                                    </div>#}
{#                                </form>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>`#}
            }
        });

    }
    function changeModal(option, target){
        //show = 1
        //hide = 2
        //target
        target = document.getElementById(target);
        const modal = new Modal(target);
        if (option === 1) {
            modal.show();
            //}else{
        } else if (option === 2){
            modal.hide();
        } else{
            modal.toggle();
        }


    }
    window.onload = function(){
        update_table(5);
    }

    </script>
{% endblock %}
