<!--Extend with Jinja!-->
{% extends "layout.html" %}
{% block main %}
    {% include "navbar.html"  %}
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Inbox
                </th>
                <th scope="col" class="px-6 py-3">

                </th>
                <th scope="col" class="px-6 py-3">

                </th>
                <th scope="col" class="px-6 py-3">

                </th>
                <th scope="col" class="px-6 py-3">

                </th>

            </tr>
            </thead>
            <tbody>
            {% for identifier in range(messages|length) %}
                {% set i = messages[identifier] %}
                <tr class="{% if i["status"] == "read" %} bg-white dark:bg-gray-800 {% else %} bg-gray-100 dark:bg-gray-700 {% endif %}border-b  dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                        <div class="flex mb-5 -space-x-4">
                        <img data-dropdown-toggle="userDropdown_a{{ identifier }}" class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800" src="{{i["author"]["avatar"]}}" alt="">
                           {% set author = i["author"] %}
                            <div id="userDropdown_a{{ identifier }}" style="border-radius:10px"
                                 class="z-10 hidden bg-white divide-y divide-gray-100 rounded shadow w-80 dark:bg-gray-700 dark:divide-gray-600">
                                <div style="border-radius:10px 10px 0 0; height:60px;background:{% if author["color"] %}rgba{{ author["color"] }}{% else %}#515A67{% endif %};">

                                </div>
                                <div class="px-4 py-3 text-xl text-gray-900 dark:text-white"
                                     style="border-radius:0 0 10px 10px;">

                                    <div style="text-align: left; margin-left:3px;">
                                        <div style="margin-top:-60px;">
                                            <img style="background:rgb(18,25,38);border-style:solid;border-width:2px;" src="{{ author["avatar"]}}" class="w-24 h-24 rounded-full border-white dark:border-gray-700" alt="{{ author["name"] }}'s Profile Picture">
                                            <span class="absolute  w-5 h-5 bg-green-400 border-2 border-white dark:border-gray-700 rounded-full" style="left:90px;top:85px;"></span>
                                        </div>
                                        <div>{{ author["name"] }}</div>
                                        {% if author["email"] %}
                                            <div class="text-sm text-gray-400">{{ author["email"] }}</div>
                                        {% endif %}
                                        {% if author["school"] %}
                                            <div class="text-sm text-gray-400">User
                                                at {{ author["school"] }}</div>
                                        {% endif %}
                                        <div class="mb-6">
                                            <input type="text" id="msg"
                                                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-900 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                   placeholder="Message @{{ author["name"] }}"
                                                   required>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            {% for recipientid in range(i["recipients"]|length) %}
                            {% set recipient = i["recipients"][recipientid] %}
                            <img data-dropdown-toggle="userDropdown{{ identifier }}_r{{ recipientid }}" class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800" src="{{recipient["avatar"]}}" alt="">

                            <!-- Dropdown menu -->
                            <div id="userDropdown{{ identifier }}_r{{ recipientid }}" style="border-radius:10px"
                                 class="z-10 hidden bg-white divide-y divide-gray-100 rounded shadow w-80 dark:bg-gray-700 dark:divide-gray-600">
                                <div style="border-radius:10px 10px 0 0; height:60px;background:{% if recipient["color"] %}rgba{{ recipient["color"] }}{% else %}#515A67{% endif %};">

                                </div>
                                <div class="px-4 py-3 text-xl text-gray-900 dark:text-white"
                                     style="border-radius:0 0 10px 10px;">

                                    <div style="text-align: left; margin-left:3px;">
                                        <div style="margin-top:-60px;">
                                            <img style="background:rgb(18,25,38);border-style:solid;border-width:2px;" src="{{ recipient["avatar"]}}" class="w-24 h-24 rounded-full border-white dark:border-gray-700" alt="{{ recipient["name"] }}'s Profile Picture">
                                            <span class="absolute  w-5 h-5 bg-green-400 border-2 border-white dark:border-gray-700 rounded-full" style="left:90px;top:85px;"></span>
                                        </div>
                                        <div>{{ recipient["name"] }}</div>
                                        {% if recipient["email"] %}
                                            <div class="text-sm text-gray-400">{{ recipient["email"] }}</div>
                                        {% endif %}
                                        {% if recipient["school"] %}
                                            <div class="text-sm text-gray-400">User
                                                at {{ recipient["school"] }}</div>
                                        {% endif %}
                                        <div class="mb-6">
                                            <input type="text" id="msg"
                                                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-900 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                   placeholder="Message @{{ recipient["name"] }}"
                                                   required>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        {% endfor %}
                        </div>
                    </th>
                    <td class="px-6 py-4">
                        <span data-dropdown-toggle="userDropdown_a{{ identifier }}" class="hover:underline"> {{ i["author"]["name"]  }}</span> to
                        {% for recipient in range(i["recipients"]|length) %}
                            <span class="hover:underline" data-dropdown-toggle="userDropdown{{ identifier }}_r{{ recipient }}">{{ i["recipients"][recipient]["name"] }}</span>
                            {% if recipient < (i["recipients"]|length - 1) %}
                                <span>,</span>
                            {% endif %}
                            {% endfor %}
                    </td>
                    <td class="px-6 py-4">
                        {{ i["subject"] }}
                    </td>
                    <td class="px-6 py-4">
                        {{ i["message"] }}
                    </td>
                    <td class="px-6 py-4">
                        {{ i["updated"].strftime("%m/%d/%Y, %H:%M:%S") }}
                    </td>
                </tr>

            {% endfor %}

            </tbody>
        </table>

    </div>
{% endblock %}
