<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="../static/css/createCourse.css">
    <title>Create Course</title>
</head>
<body>
<div id="CourseModal">
    <div class="CoursePage text-black dark:text-white">
        <!-- Modal header -->
        <h3>
            Step 1: Create a Course
            <span class="close"></span>
        </h3>
        <!-- Modal body -->
        <div class="p-6 space-y-6">
            <div style="text-align: center;">
                <p>A course is a space for you to organize and thrive in
                    your learning experience. All you have to do is create a course
                    and fill it in with content!</p><br>

                <span class='button text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2'
                      onclick="skipTemplates()">
            <img src="/static/images/icons/new.svg" style="visibility:visible;width:20px;height:20px;float:left;" alt>
            Create course
            <img src="/static/images/icons/next.svg" style="visibility:visible;width:20px;height:20px;float:right;"
                 alt="Next">
          </span>

                <h2 style="font-size:1.4vw">Or choose a subject</h2>

                <div class='scroll' style="height:300px"></div>
            </div>
        </div>
        <!-- Modal footer -->
        <div class="pageCount"></div>
    </div>

    <div class="CoursePage text-black dark:text-white">
        <div style="text-align: center;">
            <h3>
                Step 2: Choose a Template
                <span class="close"></span>
            </h3>

            <div class="scroll"></div>
            <div class="pageCount"></div>
        </div>
    </div>

    <div class="CoursePage text-black dark:text-white">
        <div style="text-align: center;">
            <h3 id="change-if-skip-templates">
                Step 3: Customize your Course
                <span class="close"></span>
            </h3>
            <form id="create-course">
                <div class="mb-6">
                    <label for="course-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Course
                        Name</label>
                    <input type=text" id="course-name"
                           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                           placeholder="name@flowbite.com" required>
                </div>
                <br>
                <div class="mb-6">
                    <label for="course-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Course
                        Teacher</label>
                    <input type="text&quot;" id="course-teacher"
                           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                           placeholder="nicholaswang's class" required="">
                </div>
                <br>
                <button type="submit" type="button"
                        class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                    Create Your Course
                </button>

                <p style="color:yellowgreen;font-size:1.5vw;font-weight:700;" id="create-course-status"></p>
            </form>

            <h1>Or import from another LMS</h1>
            <button class="button text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
                    id="import-schoology">Import from Schoology
            </button>
            <button class="button text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
                    id="import-classroom">Import from Google Classroom
            </button>
            <button class="button text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
                    id="import-canvas">Import from Canvas
            </button>
        </div>
    </div>

    <div class="CoursePage">
        <h3 class="flex justify-between items-start p-5 rounded-t border-b dark:border-gray-600 text-xl font-semibold text-gray-900 lg:text-2xl dark:text-white">
            Import from Schoology
            <span class="close"></span>
        </h3>
    </div>
    <div class="CoursePage">
        <h3 class="flex justify-between items-start p-5 rounded-t border-b dark:border-gray-600 text-xl font-semibold text-gray-900 lg:text-2xl dark:text-white">
            Import from Google Classroom
            <span class="close"></span>
        </h3>
        {% if gcourses|length == 0 %}
        <h1>We coudn't find any courses! Maybe try linking your google classroom account in Settings!</h1>
        {% else %}
        <h1>Select a Google Classroom Course</h1>
        {% endif %}

        {% for i in gcourses %}
        <button>{{i}}</button>
        <br><br>
        {% endfor %}
    </div>
    <div class="CoursePage">
        <h3 class="flex justify-between items-start p-5 rounded-t border-b dark:border-gray-600 text-xl font-semibold text-gray-900 lg:text-2xl dark:text-white">
            Import from Canvas
            <span class="close"></span>
        </h3>
    </div>
</div>

<script src="../static/js/createCourse.js"></script>
</body>
</html>