<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="../static/css/createCourse.css">
    <title>Create Course</title>
</head>
<body>
<div id="CourseModal" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
    <div class="CoursePage">
        <!-- Modal header -->
        <h3>
            Step 1: Create a Course
            <span class="close"></span>
        </h3>
        <!-- Modal body -->
        <div class="p-6 space-y-6">
            <div style="text-align: center;">
                <p class="text-black dark:text-white">A course is a space for you to organize and thrive in
                    your learning experience. All you have to do is create a course
                    and fill it in with content!</p><br>

                <span class='createSelectButton text-white focus:ring-4 shadow-lg font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2'
                      onclick="skipTemplates()">
                    <img src="/static/images/icons/new.svg"
                         style="visibility:visible;width:20px;height:20px;float:left;" alt="Create course image">
                    Create course
                    <img src="/static/images/icons/next.svg"
                         style="visibility:visible;width:20px;height:20px;float:right;" alt="Next">
                  </span>

                <h2 class="text-3xl">Or choose a subject</h2>

                <div class='scroll'></div>
            </div>
        </div>
        <!-- Modal footer -->
        <div class="pageCount"></div>
    </div>

    <div class="CoursePage">
        <div style="text-align: center;">
            <h3>
                Step 2: Choose a Template
                <span class="close"></span>
            </h3>

            <p class="text-gray-400 dark:text-gray-600">Choose a template from the subject you chose.</p>

            <div class="scroll"></div>
            <div class="pageCount"></div>
        </div>
        <div class="pageCount"></div>
    </div>

    <div class="CoursePage">
        <div style="text-align: center;">
            <h3 id="change-if-skip-templates">
                Step 3: Customize your Course
                <span class="close"></span>
            </h3>
            <form id="create-course">
                <label for="course-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Course
                    Name</label>
                <input type="text" id="course-name" style="width: 100%"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 bg-gray-200 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                       required>
                <br>
                <label for="course-teacher" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                    Course Teacher
                </label>
                <input id="course-teacher"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 bg-gray-200 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                       required>
                <br>
                <button type="submit" class="text-createSelectButtonwhite bg-gradient-to-r from-red-400 via-red-500
                to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                    Create Your Course
                </button>

                <p class="text-green-900 text-3xl" id="create-course-status"></p>
            </form>

            <h1>Or import from another LMS</h1>
            <button class="createSelectButton text-white focus:ring-4 shadow-lg font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
                    id="import-schoology">
                Import from Schoology
            </button>
            <button class="createSelectButton text-white focus:ring-4 shadow-lg font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-22"
                    id="import-classroom">
                Import from Google Classroom
            </button>
            <button class="createSelectButton text-white focus:ring-4 shadow-lg font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
                    id="import-canvas">
                Import from Canvas
            </button>
        </div>
        <div class="pageCount"></div>
    </div>

    <div class="CoursePage">
        <h3 class="flex justify-between items-start p-5 rounded-t border-b dark:border-gray-600 text-xl font-semibold text-gray-900 lg:text-2xl dark:text-white">
            Import from Schoology
            <span class="close"></span>
        </h3><br>
        <div style="width:90%;height:90%;"  id="slist" class="scroll">
            {% if schoologycourses|length == 0 %}
                <h1 class="text-black dark:text-white text-xl">We coudn't find any courses! Is your Schoology account
                    connected? <a href="/settings#connections"><button style="margin-left: 10px; display:grid; grid-auto-flow: column; align-content: center; justify-content: center;" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                        Connect Schoology <i style="display:grid; grid-auto-flow: column; align-content: center; justify-content: center;" class="material-icons">open_in_newt</i>
                    </button></a></h1>
            {% else %}
                <h1 class="text-black dark:text-white text-3xl">Select a Schoology Course</h1>
                <div class="flex flex-col ">
                {% for course in schoologycourses[:-1] %}
                    <div class="max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700" style="height:16rem; width:34rem;">
    <a href="#" class="overflow-hidden" style="width:382px; height:186px;">
        <img style="width:382px; height:130px;" class="rounded-t-lg w-full object-cover" src="{{ course.profile_url }}" alt="" />
    </a>
    <div class="p-4">
        <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ course.course_title }} <span class="mb-3 text-lg  text-gray-700 dark:text-gray-400">{{ course.section_title }}</span></h5>
        </a>

        <p class="text-gray-700 text-xs uppercase dark:text-gray-400">{{ schoologycourses[-1].title }}</p>


    </div>
</div>
                    <br><br>
                {% endfor %}
                </div>
            {% endif %}

        </div>

        <form id="schoology-create-course" style="width:90%;height:90%;display:none;" onsubmit="importSchoology(); return false;">
            <div class="mb-6">
                <label for="course-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                    Schoology Course Link
                </label>
                <input type="text" id="schoology-course-id"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 bg-gray-200 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                       placeholder="https://app.schoology.com/course/5131176437/materials" required>
                <label for="course-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                    Schoology Course Teacher
                </label>
                <input type="text" id="schoology-course-teacher"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 bg-gray-200 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                       placeholder="Mr. Ross" required>
            </div>
            <br>

            <button type="submit"
                    class="createSelectButton bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                Import Course
            </button>

            <span class="text-3xl text-green-500" id="create-course-status"></span>
        </form>
        <div class="pageCount"></div>
    </div>
    <div class="CoursePage">
        <h3 class="flex justify-between items-start p-5 rounded-t border-b dark:border-gray-600 text-xl font-semibold text-gray-900 lg:text-2xl dark:text-white">
            Import from Google Classroom
            <span class="close"></span>
        </h3><br>
        <div>
            {% if gcourses|length == 0 %}
            <p class="text-black dark:text-white text-xl">We coudn't find any courses! Is your Google Classroom account
                linked? <a href="/settings#connections"><button style="margin-left: 10px; display:grid; grid-auto-flow: column; align-content: center; justify-content: center;" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                    Connect Google Classroom <i style="display:grid; grid-auto-flow: column; align-content: center; justify-content: center;" class="material-icons">open_in_newt</i>
                </button></a></p>
            {% else %}
            <p class="text-black dark:text-white text-3xl">Select a Google Classroom Course</p>
                <div class="scroll" id="glist" style="height:90%;">
            {% for course in gcourses %}
            <button type="button" style="width:90%;" onclick="updateGoogleLink('{{ course[1] }}', '{{ course[2] }}');"
                    class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                {{ course[0] }}
                <svg style="display:inline-block;float:right;" class="w-6 h-6" fill="none" stroke="currentColor"
                     viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
                </svg>
            </button>
                <br><br>
            {% endfor %}
                </div>
                <form id="google-create-course" style="width:90%;height:90%;display:none;"  onsubmit="importGClassroom(); return false;">
                    <div class="mb-6">
                        <label for="course-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                            Google Course Link (Automatically Filled)
                        </label>
                        <input disabled type="text" id="google-course-id"
                               class="mb-6 bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-not-allowed dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                               placeholder="The link will be Filled when you click the buttons Above!" required>
                        <label for="course-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                            Google Course Teacher (Automatically Filled)
                        </label>
                        <input type="text" id="google-course-teacher"
                               class="mb-6 bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-not-allowed dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                               placeholder="Your teacher will be Filled when you click the buttons Above!" required>
                    </div>
                    <br>

                    <button type="submit"
                            class="createSelectButton bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                        Import Course
                    </button>

                    <span class="text-3xl text-green-500" id="create-course-status"></span>
                </form>
            {% endif %}
        </div>
        <div class="pageCount"></div>
    </div>
    <div class="CoursePage">
        <h3 class="flex justify-between items-start p-5 rounded-t border-b dark:border-gray-600 text-xl font-semibold text-gray-900 lg:text-2xl dark:text-white">
                    Import from Canvas
                    <span class="close"></span>
                    </h3><br>
                    <div class="scroll" id="clist" style="height:90%;width:90%;">
                        {% if canvascourses|length == 0 %}
                            <h1 class="text-black dark:text-white text-xl">We coudn't find any courses! Is your Canvas account
                                connected? <a href="/settings#connections"><button style="margin-left: 10px; display:grid; grid-auto-flow: column; align-content: center; justify-content: center;" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                                    Connect Canvas <i style="display:grid; grid-auto-flow: column; align-content: center; justify-content: center;" class="material-icons">open_in_newt</i>
                                </button></a></h1>
                        {% else %}
                            <h1 class="text-black dark:text-white text-3xl">Select a Canvas Course</h1>

                            {% for course in canvascourses %}
                                <button onclick="updateCanvasLink('{{ course[1] }}')" type="button" style="width:90%;text-align:left;"
                                        class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                                    {{ course[0] }}
                                    <svg style="display:inline-block;float:right;" class="w-6 h-6" fill="none" stroke="currentColor"
                                         viewBox="0 0 24 24"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
                    </svg>
                </button>
                <br><br>
            {% endfor %}
                    {% endif %}

                </div>
        <form id="canvas-create-course" onsubmit="importCanvas(); return false;" style="height:90%;width:90%;display:none;">
            <div class="mb-6">
                <label for="course-name" class="">
                    Canvas Course Link (Automatically Filled)
                </label>
                <input disabled type="text" id="canvas-course-id"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 bg-gray-200 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                       placeholder="The Link will be Automatically Filled from the buttons Above." required>
                <label for="course-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                    Canvas Course Teacher
                </label>
                <input type="text" id="canvas-course-teacher"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 bg-gray-200 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                       placeholder="Mr. Adams" required>
            </div>
            <br>

            <button type="submit"
                    class="createSelectButton bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                Import Course
            </button>

            <span class="text-3xl text-green-500" id="create-course-status"></span>
        </form>
        <div class="pageCount"></div>
    </div>
    <div class="CoursePage">
        <h3 class="flex justify-between items-start p-5 rounded-t border-b dark:border-gray-600 text-xl font-semibold text-gray-900 lg:text-2xl dark:text-white">
            Import from Canvas
            <span class="close"></span>
        </h3>
        {% if canvascourses|length == 0 %}
            <h1 class="text-black dark:text-white text-3xl">We coudn't find any courses! Is your Canvas account
                connected? <a href="/settings">Open Settings</a>!</h1>
        {% else %}
            <h1 class="text-black dark:text-white text-3xl">Select a Canvas Course</h1>

            {% for course in canvascourses %}
                <button type="button"
                        class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                    {{ course }}
                    <svg style="display:inline-block;" class="w-6 h-6" fill="none" stroke="currentColor"
                         viewBox="0 0 24 24"
                         xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
                    </svg>
                </button>
                <br><br>
            {% endfor %}
        {% endif %}
        <div class="pageCount"></div>
    </div>

</div>
</div>
<script src="../static/js/createCourse.js"></script>
</body>
</html>