<!--Extend with Jinja!-->
{% extends "layout.html" %}
{% block main %}
    <head>
        <style>
            #left {
                float: left;
                text-align: left;
            }

            #right {
                float: right;
                text-align: right;
            }

            #page {
                height: 100%;
            }

            .section {
                margin: 5px 2%;
                padding: 5px;
                min-height: 10vw;
                width: 48vw;
            }

            .vertical {
                min-height: 26vw;
                width: 48vw;
            }

            .button {
                height: 150px;
                width: 100px;
            }
        </style>
    </head>
    <body>
    <div id="page">
        {% include "navbar.html" %}
        <div style="text-align: center; "><h1 class="text-black text-3xl dark:text-white">Good
            Afternoon, {{ user }}</h1></div>

        <div id="left" style="overflow:visible">
            <h2 class="text-black dark:text-white text-2xl">Upcoming</h2>
            <div class="block w-full section p-6 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
                <a href="/lms" class="text-blue-500">View All Events</a><br><br>
                {% if events|length == 0 %}
                <p class="text-black dark:text-white">No Events!</p>
                {% endif %}
                {% for event in events %}
                <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{event.type()}}
                    <svg style="display: inline-block;margin-right:15px;" class="w-6 h-6"
                         fill="none" stroke="currentColor" viewBox="0 0 24 24"
                         xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
                    </svg>
                    {{event.title}}
                    {% endfor %}
            </div>
            <br>
            <h2 class="text-2xl text-black dark:text-white">Announcements</h2>
            <div class="block w-full section p-6 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
                <a href="/lms" class="text-blue-500">View All Announcements</a><br><br>
                {% if announcements|length == 0 %}
                <p class="text-black dark:text-white">No Announcements!</p>
                {% endif %}
                {% for announcement in announcements[0:5] %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row"
                        class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                                <span class="overflow-ellipsis text-2xl dark:text-white text-black"> <span
                                        class="dark:text-red-500 text-red-600">{{announcement.title}}</span> <i
                                        class="material-icons">arrow_forward_ios</i>  <img
                                        src="https://bins.schoology.com/sites/all/themes/schoology_theme/images/course-default.svg?"
                                        style="object-fit: cover; width:20px; height:20px; border-radius:3px;display: inline-block; margin: 10px;"
                                        alt=""> {{announcement.course.name}} <i
                                        class="material-icons">arrow_forward_ios</i> <span
                                        class="font-bold text-blue-600 dark:text-blue-300">{{announcement.author}}</span>
                            >
                            <span class="text-blue-500 dark:text-blue-400">{{announcement.imported_from}}</span></h1></span>

                        <p style="width:95%;"
                           class="text-black dark:text-white text-xl overflow-ellipsis">
                            {% set announcement_data=announcement.date | string() %}
                            <span
                                    style="float:left;display:inline-block;"
                                    class="text-gray-600 dark:text-gray-400 text-xl">{{ announcement_data.split()[0]}}</span>
                            <i style="float:left;display:inline-block;" class="material-icons">arrow_forward_ios</i>
                            <span style="float:left;display:inline-block;">{{announcement.content}}</span></p>
                        <hr style="margin-top:10px;margin-bottom:10px; color:white;">

                </tr>
                {% endfor %}
            </div>
        </div>

        <div id="right" style="overflow:visible">
            <h2 class="text-black dark:text-white text-2xl">Recent Courses</h2>
            <div style="text-align: left;"
                 class="vertical block w-full section p-6 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
                <a href="/lms" class="text-blue-500">View All Course</a><br><br>
                {% for course in user_courses[0:8] %}
                <a href="/course/{{ course.id }}">
                    <button style="margin:15px; text-align:left;padding-top:0;padding-bottom:0;  " type="button"
                            class="text-xl  text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                        <img src="https://bins.schoology.com/sites/all/themes/schoology_theme/images/course-default.svg?"
                             style="object-fit: cover; width:40px; height:40px; border-radius:10px;display: inline-block; margin: 10px;"
                             alt>
                        {% if course.name|length <= 8 %}
                        {{ course.name }}
                        {% else %}
                        {{ course.name[0:5] }}...
                        {% endif %}
                    </button>
                </a>

                {% endfor %}
            </div>
        </div>

        <script src="../static/js/dashboard.js"></script>
    </div>
    </body>
{% endblock %}
