
<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
<div style="border-radius:15px; text-align: center; background:#111926; font-family: 'Lato', sans-serif; color:white; padding-top:50px;padding-bottom:50px;" >
    <img src="https://project-nebulus.nicholasxwang.repl.co/static/images/logo.png" style="width:200px; filter:invert(1);">
    <br>
    <div style="margin:40px;background:#1F2836; border-radius:10px; padding:10px;border-width:1px;border-color:#374050;">
        <h1 style="font-weight:400;">Email Verification Code</h1>
        <h2 style="font-weight:400;">Hello <span style="font-weight:700; ">Nicholas Wang</span>! Your Code is: <br><span style="font-weight:700; font-size:30px; ">1029</span> </h2>
        <a href="https://project-nebulus.nicholasxwang.repl.co/"></a><button style="border-style:none; border-radius:10px; background:#1B65F0;color:white;padding:10px;">Go to Nebulus</button></a>
    </div>
</div>

