{% extends "layout.html" %}
{% block main %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <meta name="description"
          content="You have been invited to join the {{ school["name"] }} community on Nebulus!"/>
    <meta property="og:title" content="Join the {{ school["name"] }} community on Nebulus!"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://nebulus.app"/>
    <meta property="og:image"
          content="/static/images/schools/{{ school["code"] }}2.{{ school[ "background_url"] }}"/>
    <meta property="og:description"
          content="You have been invited to join the official {{ school["name"] }} community on Nebulus! This school is located in {{ school["city"] }}. The LMS is {{ school["LMS"] }}. Welcome! #{{ school["code"] }}"/>
    <meta name="twitter:card" content="summary_large_image">

    <meta name="theme-color" content="#AC7AFF">
    <meta property="og:site_name" content="Nebulus.">
    <div class="dark:bg-gray-800/75 p-6" style="
                text-align: left;
                width: 70%;
                backdrop-filter: blur(10px);
                border-radius: 30px;
                padding: 50px;
                margin: auto;
                margin-top: 40px;
                ">
        <div id="main">
            <h3 class="font-bold text-gray-500 text-lg uppercase" style="
    margin-bottom: 20px;
">You've been invited to join...<span style="
    float: right;
    font-weight: 100;
    color: white;
    font-size: 0.6em;
"><span style="
    margin-right: 4px;
    color: red;
    font-size: 2em;
    display: inline-block;
    vertical-align: middle;
">*</span>{{ school["LMS"] }} Verification Required</span></h3>
            <div>
                <div class="" style="
    width: 150px;
    display: inline-block;
    height: 150px;
    vertical-align: middle;
"><img src="/static/images/schools/{{ school["code"] }}.{{ school[ "picture_url"] }}"
       class="w-32 h-32 object-cover rounded-xl"><img src="/static/images/NebulusSpecialLogo.png" class="w-12 h-12"
                                                      style="
    border-radius: 15px;
    position: absolute;
    top: 185px;
    left: 135px;
"></div>
                <div class="" style="
    width: calc(100% - 160px);
    display: inline-block;
    vertical-align: middle;
"><h1 class="text-4xl text-black dark:text-white" style="
    font-weight: 900;
">{{ school["name"] }}<img src="/static/images/logos/{{ school["LMS"]|lower }}.png" class="w-10 h-10" style="
    vertical-align: middle;
    display: inline-block;
    margin-left: 20px;
"></h1>
                    <h1 class="text-lg text-gray-500"><i class="material-icons" style="
    vertical-align: middle;
">alternate_email</i>{{ school["code"] }}</h1>
                    <h1 class="text-lg text-gray-500"><i class="material-icons" style="
    vertical-align: middle;
">place</i>{{ school["city"] }}</h1></div>
            </div>
            <button onclick="verify()" type="button"
                    class="text-white focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
                    style="
    padding: 20px;
    font-size: 1em;
    text-transform: uppercase;
    border-radius: 40px;
    margin-top: 30px;
    background: linear-gradient(45deg, #d000ff, #007aff);
">Accept Invite
            </button>
        </div>
        <div style="display: none;" id="verifySchoology">
            <h3 class="font-bold text-gray-500 text-lg uppercase" style="
    margin-bottom: 20px;
">Verify with {{ school["LMS"] }} to join {{ school["name"] }}</h3>
            <div>
                <p class="dark:text-white text-black text-3xl font-bold" style="
    margin-bottom: 40px;
"><img src="/static/images/logos/schoology.png" class="w-10 h-10" style="
    vertical-align: middle;
    display: inline-block;
    margin-right: 20px;
"> Verify with Schoology</p>
                <p class="dark:text-white text-black text-sm">This school's Schoology link is <a
                        href="{{ school["sgy_url"] }}/" class="font-bold text-sky-500">{{ school["sgy_url"] }}/</a>!
                    This school's email addresses all end in <span class="bg-gray-700 p-2 rounded-lg " style="
    display: inline-block;
    margin: 5px;
">{{ school["email"] }}</span>! We verify you are a {{ school["name"] }} student by verifying if your Schoology account
                    ends in <span class="bg-gray-700 p-2 rounded-lg " style="
    display: inline-block;
    margin: 5px;
">{{ school["email"] }}</span></p>
                <div style="
    margin-top: 10px;
">
                    <p></p>
                    <h1 class="text-black dark:text-white text-3xl" style="
    margin-bottom: 20px;
">
                                <span style="
    background: -webkit-linear-gradient(left, #42cbf5, #42f578);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
" class="text-4xl">Step 1</span>
                        Go to <a target="_blank" href="{{ school["sgy_url"] }}/api"
                                 class="font-bold text-sky-500">{{ school["sgy_url"] }}/api</a>
                    </h1>
                    <h1 class="text-black dark:text-white text-3xl" style="
    margin-bottom: 10px;
">
                                <span style="
    background: -webkit-linear-gradient(left, #42cbf5, #42f578);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
" class="text-4xl">Step 2</span> Generate your API Keys if you haven't Already.</h1>
                    <h1 class="text-black dark:text-white text-3xl">
                                <span style="
    background: -webkit-linear-gradient(left, #42cbf5, #42f578);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
" class="text-4xl">Step 3</span> Paste your API Keys here:</h1>
                    <input style="width: 300px;margin-top: 20px;" placeholder="API KEY" type="text" id="key" name="key"
                           class="w-full bg-gray-50 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-900 border-0 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                           required="">
                    <input style="
    width: 300px;
    margin-top: 20px;
" placeholder="API Secret" type="text" id="secret" name="secret"
                           class="w-full mt-2 bg-gray-50 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-900 border-0 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                           required="">
                    <p></p>
                </div>
            </div>
            <button onclick="startVerify()" id="verifyBtn" type="button"
                    class="text-white focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
                    style="
    padding: 20px;
    font-size: 1em;
    text-transform: uppercase;
    border-radius: 40px;
    margin-top: 30px;
    background: linear-gradient(45deg, #d000ff, #007aff);
">Verify my Identity!
            </button>

            <button onclick="back();" type="button"
                    class="text-white focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
                    style="
    padding: 20px;
    font-size: 1em;
    text-transform: uppercase;
    border-radius: 40px;
    margin-top: 30px;
    background: #4c5a70;
">ChoOse a Different School
            </button>
        </div>
    </div>
    <script>
        window.onload = function () {
            document.body.style.background = `
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)) 0% 0% / cover,
        url("/static/images/schools/{{ school["code"] }}2.{{ school[ "background_url"] }}")
        center center no-repeat fixed`;
        }

        function verify() {
            document.getElementById("main").style.display = "none";
            document.getElementById("verify{{school["LMS"]}}").style.display = "block"
        }

        function back() {
            window.location.href = "/school";
        }

        function startVerify() {
            document.getElementById("verifyBtn").innerHTML = `<div role="status">
    <svg class="inline mr-2 w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-gray-300 dark:fill-gray-300" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
        <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
    </svg>
    <span>Verifying your Schoology Account...</span>
</div>`
            const myrequest = $.ajax({
                url: "/oauth/schoology/schoolVerify",
                type: 'GET',
                dataType: 'json',
                data: {
                    email_format: '{{ school["email"] }}',
                    domain: '{{ school["sgy_url"] }}',
                    key: document.getElementById("key"),
                    secret: document.getElementById("secret"),
                }
            });
            myrequest.done(function (data) {
                if (data === "Yes") document.getElementById("verifyBtn").innerHTML = "Verification Successful";
                else document.getElementById("verifyBtn").innerHTML = "Unsuccessful Verification";
            });
        }
    </script>
{% endblock %}