{% extends "layout.html" %}
{% block main %}
    <div class="dark:bg-gray-800/75 p-6" style="text-align: left;
                width: 50%;
                backdrop-filter: blur(10px);
                border-radius: 30px;
                padding: 50px;
                margin: auto;
                margin-top: 40px;">
        <div class=""><h3 class="font-bold text-gray-500 text-2xl uppercase">Find Your School</h3>
            <div class="">
                <div class="flex flex-col gap-1 flex flex-col gap-4 shadow-md">
                    <div class="flex-row pt-0 flex flex-col gap-4 shadow-md relative"><input type="text" value=""
                                                                                             placeholder="Type your school name"
                                                                                             class="w-full px-3 py-3 rounded-xl dark:shadow-neutral-700 undefined dark:bg-gray-700 focus:dark:bg-gray-750 bg-white disabled:bg-gray-150 disabled:shadow-inner undefined focus:dark:drop-shadow-xl dark:text-gray-200 dark:drop-shadow-md drop-shadow-sm hover:drop-shadow-md focus:drop-shadow-md transition-all duration-300"
                                                                                             style="--tw-ring-color:">
                    </div>
                </div>
            </div>
        </div>
        <div class="dark:text-white text-black">
            {% for school in schools %}
                <a href="/invite/school/{{ school["code"] }}">
                    <div class="flex flex-row gap-4 cursor-pointer items-center p-2 rounded-xl border-2 border-transparent  transition-all">
                        <img src="/static/images/schools/{{ school["code"] }}.{{ school["picture_url"] }}"
                             class="w-12 h-12 rounded-xl shadow-lg bg-green-500">
                        <div class="flex flex-col gap-2">
                            <h3 class="font-extrabold text-xl font-montserrat dark:text-gray-50">{{ school["name"] }}</h3>
                            <p class="text-sm font-semibold dark:text-gray-400">#{{ school["code"] }}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
{% endblock %}