{% extends "layout.html" %}
{% block main %}

    {% include "navbar.html" %}
    <style>
        .within{
            background:transparent;
            width:5ch;
            outline:none;
            border:none;
        }
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
            text-align: right;
        }

        #time input {
            background: transparent;
            width: 4ch;
            outline: none;
            border: none;
        }

        #time span {
            margin-left: -0.5rem;
            margin-top: -0.5rem;
        }

        -webkit-datetime-edit-ampm-field {
            display: none;
        }

        input[type=time]::-webkit-clear-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            -o-appearance: none;
            -ms-appearance: none;
            appearance: none;
            margin: -10px;
        }

    </style>
    <div style="margin-top: 10%; height: 25rem; width: 30rem;" class="block p-6 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700
     text-center mx-auto my-auto relative">
        <div id="config">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">New Study Session</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">Create your first Study Session!</p>
            <div>
                <div class="mt-4 mb-6">
                    <label for="name" class="text-sm font-medium text-gray-900 dark:text-gray-300">
                        Study Session Name</label>
                    <input type="text" id="name" name="study-session-name" required
                           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500
                           focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 text-center mt-3
                           dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                </div>
                <div class="mb-6">
                    <label for="time" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Study
                        Time</label>
                    <div id="time" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
                     focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600
                      dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <input type="number" class="within ml-1 text-2xl" max="99" min="0" placeholder="00"/>
                        <span>hours</span>
                        <input type="number" class="within ml-4 text-2xl" max="99" min="0" placeholder="00"/>
                        <span>minutes</span>
                        <input type="number" class="with ml-4 text-2xl" placeholder="10"/>
                        <span>seconds</span>
                    </div>
                </div>
                <div class="text-center">
                    <button id="start" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none
                     focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center
                     dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Start Study Session
                    </button>
                </div>
            </div>
        </div>
        <div id="timer" class="hidden text-center">
            <h5 class="mb-2 text-4xl font-bold tracking-tight text-gray-900 dark:text-white" id="timerDisplay">0:00</h5>
            <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-800 dark:text-gray-200" id="progress">
                left in your <span id="timerName" class="text-red-500">Homework</span> timer.</h5>
            <span class="mb-2 text-lg font-bold tracking-tight text-gray-900 dark:text-gray-200" id="message">Keep It Up!</span>

            <div class="absolute bottom-0 left-0 text-center w-full mb-8 text-black dark:text-white">
                <button id="pause"
                        class="px-4 py-2 border border-2 rounded-lg hover:text-gray-600 dark:hover:text-gray-300 mb-2"></button>
                <button id="cancel" class="px-4 py-2 rounded-lg border border-2 border-gray-300 dark:border-gray-700
                 hover:bg-gray-200 dark:hover:bg-gray-500 hover:text-gray-600 dark:hover:text-gray-300">
                    Cancel
                </button>
            </div>
        </div>
        <div id="timerEnd" class="hidden text-center text-black dark:text-white">
            <h5 class="text-3xl" style="color:greenyellow;">Your timer has ended!</h5>
            <p class="text-gray-500 dark:text-gray-400 my-2">
                Break time!
                <br><br>
                Or, if you want to, you could...
            </p>
            <button id="restart" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none
                focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center
                dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 mt-2">
                Start another session
            </button>
        </div>
    </div>
    <script>
        const inputs = document.querySelectorAll("#time input")
        const config = document.getElementById("config");
        const timer = document.getElementById("timer");
        const timerEnd = document.getElementById("timerEnd");
        const display = document.getElementById("timerDisplay");

        let hours, minutes, seconds;

        function validTimer() {
            for (let i = 0; i < 3; i++) {
                if (inputs[i].value !== "" && parseInt(inputs[i].value) > 0)
                    return true;
            }
            return false;
        }

        document.getElementById("start").onclick = function () {
            if (!validTimer())
                return;

            hours = parseInt(inputs[0].value);
            minutes = parseInt(inputs[1].value);
            seconds = parseInt(inputs[2].value) + 1;
            document.getElementById("timerName").innerHTML = document.getElementById("name").value;

            if (!seconds) seconds = 1;
            if (!minutes) minutes = 0;
            if (!hours) hours = 0;

            config.classList.add("hidden");
            timer.classList.remove("hidden");

            subtractTime();
            resume();
        }

        let paused = false;
        const pauseButton = document.getElementById("pause");

        pauseButton.onclick = () => {
            if (paused)
                resume();
            else
                pause();
            paused = !paused;
        }

        document.getElementById("cancel").onclick = () => {
            if (!confirm("Are you sure you want to cancel the timer?")) return;

            onTimerEnd();
            configure();
        }

        document.getElementById("restart").onclick = configure;

        const resumeClasses = ['bg-green-500', 'border-green-700', 'hover:bg-green-800'];

        function resume() {
            interval = setInterval(subtractTime, 1000);
            pauseButton.classList.remove(...resumeClasses);
            pauseButton.classList.add(...pauseClasses);
            pauseButton.innerHTML = "Pause";
        }

        const pauseClasses = ['bg-yellow-300', 'border-yellow-400', 'hover:bg-yellow-500'];

        function pause() {
            clearInterval(interval);
            pauseButton.classList.remove(...pauseClasses);
            pauseButton.classList.add(...resumeClasses);
            pauseButton.innerHTML = "Resume";
        }

        function configure() {
            for (let i = 0; i < 3; i++)
                inputs[i].value = "";

            timerEnd.classList.add("hidden");
            config.classList.remove("hidden");
        }

        function subtractTime() {
            seconds--;

            if (hours === minutes && minutes === seconds && seconds === 0)
                onTimerEnd();

            if (seconds < 0) {
                seconds = 59;
                minutes--;

                if (minutes < 0) {
                    minutes = 59;
                    hours--;
                }
            }

            display.innerHTML = padWith0(minutes) + ":" + padWith0(seconds);
            if (hours > 0)
                display.innerHTML = hours + ":" + display.innerHTML;

            let message = "Focusing on "+document.getElementById("timerName").innerText+" for "+display.innerText;
            window.localStorage.setItem("focus", message);
        }

        function onTimerEnd() {
            window.localStorage.setItem("focus", "idling");
            timer.classList.add("hidden");
            timerEnd.classList.remove("hidden");

            if (interval) clearInterval(interval);
        }

        function padWith0(num) {
            let string = num.toString();
            if (num < 10)
                string = "0" + string;
            return string
        }
        $('.within').on('input', function(){
            if($(this).val().length >= 2){

                $(this).next('input').focus();

            }
        });
    </script>
{% endblock %}