name: Automatic Pull
on: 
  release:
    types: [published]
  
jobs:
  ssh:
    runs-on: ubuntu-latest
    steps:
      - name: Remote SSH Commands
        uses: fifsky/ssh-action@master
        with:
          command: |
            cd ProjectNebulus
            source venv/bin/activate
            git pull
            pm2 restart 0
            echo "Job Completed"
          host: ${{ secrets.SSH_HOST }}
          key: ${{ secrets.SSH_KEY}}
