name: Build & Deploy
on:
  push:
    branches: [main]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy app
        uses: appleboy/ssh-action@v0.1.2
        with:
          host: $((secrets.SSH_HOST}} # IP address of the server you wish to ssh into
          key: ${(secrets.SSH _KEY}} # Private or public key of the server
          username: ${{ secrets.SSH USERNAME I] # User of the server you want to ssh into
          script: |
            cd ProjectNebulus
            git pull
            pm2 restart ProjectNebulus
            echo 'Deployment successful to digital ocean'
