@font-face {
    font-family: SpotifyFont, sans-serif;
    src: url('Gotham-Medium.woff2') format('woff2'),
    url('Gotham-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: SpotifyFont, sans-serif;
    src: url("Metropolis-Medium-Italic.otf") format("opentype"),
    url("Gotham-Medium.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}